#helpHeader2{
    width: 100%;
}
.title2_main{
    height: 82px;
    padding-top: 35px;
}
.box_inset{
    box-shadow: 0px -5px 7px #EAEAEA inset;
}
.title2_main .logo {
    margin-left: 1px;
}
.title2_main .logo a{
    display: inline-block;
    padding-right: 28px;
    border-right: 1px solid #e1e1e1;
}
.title2_main .logo span{
    vertical-align: bottom;
}
.about_main span{
    display: inline-block;
}
.about_main a{
    padding: 0 50px;
    border-left: 1px solid #d2d2d2;
}
.about_main a:first-child{
    border: none;
}
.about_main a:hover{
    color: #e00c0b;
}
.about_main a.active{
    color: #e00c0b;
}


.contact_floor{
    position: relative;
    overflow: hidden;
}
.contact_inner{}
.contact_banner{
    margin: 0 auto;
    text-align: center;
}
.contact_banner img{
    display: inline-block;
    width: 100%;
    height: auto;
    min-width: 1159px;
}
.contact_info{}
.contact_info_two{
    width: 50%;
    display: inline-block;
    float: left;
}
.contact_info_two:nth-of-type(2n) .info_list{
    padding-left: 20px;
}
.info_title{
    height: 62px;
    line-height: 62px;
    text-align: center;
    color: #646464;
    font-size: 22px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.info_tit_db{
    font-style: normal;
    display: inline-block;
    width: 50%;
    text-align: center;
    text-indent: 100px;
}
.info_tit_db:nth-of-type(2){
    text-indent: -100px;
}
.info_list{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
    /*align-content: space-between;*/
    position: relative;
    overflow: hidden;
    padding: 24px 80px 0;
}
.info_cell{
    width: 478px;
    height: 152px;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid #eeeeee;
    box-shadow: 3px 3px 1px 1px #f6f6f6;
    margin-bottom: 28px;
    padding-top: 28px;
    padding-left: 15px;
    float: left;
}
.info_cell:nth-of-type(2n){
    margin-left: 40px;
}

.info_cell_tit{
    margin-bottom: 15px;
}
.info_cell_link,
.info_cell_qq,
.info_cell_tel,
.info_cell_addre{
    display: block;
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
}
.info_cell_addre{
    cursor: pointer;
}
.info_cell_key{
    width: 65px;
    display: inline-block;
    text-align: left;
    margin-right: 8px;
}