html,body {
    height: 100%;
}
html{ overflow:hidden}
body{width: 100%;font-family: 'Microsoft YaHei';overflow: hidden;}
.bg01 {
    background-image: url("../img/cityPartner_bg01.png"),-webkit-linear-gradient(#bdf2ff, #ffffff);
    background-image: url("../img/cityPartner_bg01.png"),-o-linear-gradient(#bdf2ff, #ffffff);
    background-image: url("../img/cityPartner_bg01.png"),-moz-linear-gradient(#bdf2ff, #ffffff);
    background-image: url("../img/cityPartner_bg01.png"),linear-gradient(#bdf2ff, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg02 {
    background:#37cb9c url("../img/cityPartner_bg02.png") center no-repeat;
    background-size: cover;

}
.bg03 {
    background:#d8e455 url("../img/cityPartner_bg03.png") center no-repeat;
    background-size: cover;

}
.bg04 {
    background:#ea9c48 url("../img/cityPartner_bg04.png") center no-repeat;
    background-size: cover;

}
.bg05 {
    background:#f06941 url("../img/cityPartner_bg05.png") center no-repeat;
    background-size: cover;

}
.bg06 {
    background:#47c4c9 url("../img/cityPartner_bg06.png") center no-repeat;
    background-size: cover;

}
.myScroll{overflow:hidden; position:relative; width: 100%;height: 100%;}
.wrap{width: 100%;height: 100%;overflow: hidden;}
/* 共用 */
.first_box,.introduction_box,.requirement_box,.income_box,.promotion_box,.help_box{position: relative;width: 1920px;height: 1080px;margin: 0 auto;overflow: hidden;}
.way_box_title,.help_box_title,.material_box_title{display: block;position: absolute;top: 8.14%;/* 88/1080 */left: 50%;width: 461px;height: 91px;margin-left: -230px;text-indent: -999em;background: url(http://img.to8to.com/decorate_gallery/images/png/3min_title5.png) no-repeat;}
.nav {
    position: absolute;
    top: 38.61%;
    right: 2.91%;
    z-index: 99;
}
.nav a {
    width: 18px;
    height: 18px;
    margin-bottom: 20px;
    display: block;
    border-radius: 50%;
    border: 2px solid #FFF;
    overflow: hidden;
    box-shadow:0px 1px 2px #B8B8B8;
}
.nav .on {
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #FFF;
}
.first_box .first_main h2 {
    margin-top: 140px;
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
    color: #2e2e2e;
    text-shadow: #d9d9d9 5px 5px;
}
.first_box .first_main span {
    display: block;
    width: 500px;
    margin: 48px auto;
    position: relative;
    border-top: 3px solid #2e2e2e;
}
.first_box .first_main span em {
    position: absolute;
    top: -18px;
    left: 112px;
    font-size: 24px;
    color: #333;
    background: #CEF6FF;
    padding: 0 10px;
}
.first_box .first_main h3 {
    margin-bottom: 60px;
    font-size: 70px;
    line-height: 70px;
    color: #f9521e;
}
.first_box .first_main a {
    padding: 4px 80px;
    border: 4px solid #f9521e;
    border-radius: 26px;
    font-size: 30px;
    font-weight: 700;
    color: #463f37;
    line-height: 30px;
}
@keyframes moveCloud{
    0%{left: 0%;}
    100%{left:102%;}
}
@-webkit-keyframes moveCloud{
    0%{left: 0%;}
    100%{left:102%;}
}
@-moz-keyframes moveCloud{
    0%{left: 0%;}
    100%{left:102%;}
}
@-o-keyframes moveCloud{
    0%{left: 0%;}
    100%{left:102%;}
}
.first_box .cloud {
    position: absolute;
    width: 72px;
    height: 32px;
    top: 235px;
    left: 370px;
    background: url("../img/cityPartner.png") no-repeat -116px -24px;
    display: block;
    margin: 0 auto;
    z-index: 4;
    animation:moveCloud 40s infinite;
    -webkit-animation:moveCloud 40s infinite;
    -moz-animation:moveCloud 40s infinite;
    -o-animation:moveCloud 40s infinite;
}
@keyframes movePlane {
    from { transform: translate(-180px,30px); }
    to { transform: rotate(-30deg) translate(2000px); }
}
@-webkit-keyframes movePlane {
    from { -webkit-transform: translate(-180px,30px); }
    to { -webkit-transform: rotate(-30deg) translate(2000px); }
}
@-moz-keyframes movePlane {
    from { -moz-transform: translate(-180px,30px); }
    to { -moz-transform: rotate(-30deg) translate(2000px); }
}
@-o-keyframes movePlane {
    from { -o-transform: translate(-180px,30px); }
    to { -o-transform: rotate(-30deg) translate(2000px); }
}
.first_box .plane {
    position: absolute;
    width: 70px;
    height: 50px;
    top: 748px;
    left: 300px;
    background: url("../img/cityPartner.png") no-repeat -15px -25px;
    display: block;
    margin: 0 auto;
    z-index: 4;
    animation: movePlane 10s ease-in;
    -webkit-animation: movePlane 10s ease-in;
    -moz-animation: movePlane 10s ease-in;
    -o-animation: movePlane 10s ease-in;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
}



.introduction_box .introduction_hd {
    margin-top: 256px;
}
.introduction_box .introduction_hd p {
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
}
.introduction_box .introduction_hd p span {
    color: #ffd96b;
    font-weight: 700;
}
.introduction_box .introduction_bd {
    width: 1360px;
    margin: 0 auto;
}
.introduction_box .introduction_bd ul {
    padding: 30px;
}
.introduction_box .introduction_bd ul li {
    width: 432px;
    margin-top: 150px;
    opacity: 0;
}
.introduction_box .introduction_bd ul li:nth-of-type(1) {
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
}
.introduction_box .introduction_bd ul li:nth-of-type(2) {
    transition: all .4s 0.8s linear;
    -webkit-transition: all .4s 0.8s linear;
    -moz-webkit-transition: all .4s 0.8s linear;
    -o-transition: all .4s 0.8s linear;
    -ms-transition: all .4s 0.8s linear;
}
.introduction_box .introduction_bd ul li:nth-of-type(3) {
    transition: all .4s 1.2s linear;
    -webkit-transition: all .4s 1.2s linear;
    -moz-webkit-transition: all .4s 1.2s linear;
    -o-transition: all .4s 1.2s linear;
    -ms-transition: all .4s 1.2s linear;
}
.css3 .introduction_box .introduction_bd ul li {
    margin-top: 0;
    opacity: 1;
}
.introduction_box .introduction_bd ul li .img_bg {
    width: 316px;
    height: 316px;
    border-radius: 50%;
    margin: 60px auto;
    background-image: url("../img/cityPartner.png");
    background-repeat: no-repeat;
    background-color: #27c593;
}
.introduction_box .introduction_bd ul li:nth-of-type(1) .img_bg {
    background-position: -435px 44px;
}
.introduction_box .introduction_bd ul li:nth-of-type(2) .img_bg {
    background-position: -725px 44px;
}
.introduction_box .introduction_bd ul li:nth-of-type(3) .img_bg {
    background-position: -175px 44px;
}
.introduction_box .introduction_bd ul li h3 {
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    transform:rotate(-90deg);
    transform-origin:20% 40%;
    -ms-transform:rotate(-90deg);
    -ms-transform-origin:20% 40%;
    -moz-transform:rotate(-90deg);
    -moz-transform-origin:20% 40%;
    -webkit-transform:rotate(-90deg);
    -webkit-transform-origin:20% 40%;
    -o-transform:rotate(-90deg);
    -o-transform-origin:20% 40%;
    opacity: 0;
    transition: all .4s 1.6s linear;
    -webkit-transition: all .4s 1.6s linear;
    -moz-webkit-transition: all .4s 1.6s linear;
    -o-transition: all .4s 1.6s linear;
    -ms-transition: all .4s 1.6s linear;
}
.css3 .introduction_box .introduction_bd ul li h3 {
    transform:rotate(0deg);
    -ms-transform:rotate(-0deg);
    -moz-transform:rotate(-0deg);
    -webkit-transform:rotate(-0deg);
    -o-transform:rotate(-0deg);
    opacity: 1;
}
.introduction_box .introduction_bd ul li p {
    font-size: 16px;
    line-height: 80px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    opacity: 0;
    transition: all .6s 2.0s linear;
    -webkit-transition: all .6s 2.0s linear;
    -moz-webkit-transition: all .4s 2.0s linear;
    -o-transition: all .6s 2.0s linear;
    -ms-transition: all .6s 2.0s linear;
}
.css3 .introduction_box .introduction_bd ul li p {
    opacity: 1;
    margin-top: 0;
}





.requirement_box .requirement_main {
    position: relative;
    width: 1360px;
    height: 100%;
    margin: 0 auto;
}
.requirement_box .requirement_main .speak1 {
    position: absolute;
    top: 475px;
    left: 0;
    width: 426px;
    height: 185px;
    padding-left: 40px;
    background-image: url("../img/cityPartner.png");
    background-repeat: no-repeat;
    background-position: -480px -272px;
}
.requirement_box .requirement_main .speak1 h3 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    height: 80px;
    line-height: 100px;
}
.requirement_box .requirement_main .speak1 p {
    font-size: 16px;
    color: #999;
}
.requirement_box .requirement_main .speak2 {
    position: absolute;
    top: 396px;
    right: 128px;
    width: 406px;
    height: 182px;
    padding-left: 60px;
    background-image: url("../img/cityPartner.png");
    background-repeat: no-repeat;
    background-position: 0 -274px;
}
.requirement_box .requirement_main .speak2 h3 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    height: 80px;
    line-height: 100px;
}
.requirement_box .requirement_main .speak2 p {
    font-size: 14px;
    color: #999;
}
.requirement_box .requirement_main .speak3 {
    position: absolute;
    top: 826px;
    right: -12px;
    width: 408px;
    height: 186px;
    padding-left: 60px;
    background-image: url("../img/cityPartner.png");
    background-repeat: no-repeat;
    background-position: 0 -462px;
}
.requirement_box .requirement_main .speak3 h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    height: 130px;
    line-height: 190px;
}
.requirement_box .requirement_main .speak3 p {
    font-size: 14px;
    color: #999;
}
.speak1,.speak2,.speak3 {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
}
.speak1 {
    transform-origin: right bottom;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
}
.speak2 {
    transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transition: all .5s 0.8s linear;
    -webkit-transition: all .5s 0.8s linear;
    -moz-transition: all .5s 0.8s linear;
    -o-transition: all .5s 0.8s linear;
}
.speak3 {
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transition: all .5s 1.6s linear;
    -webkit-transition: all .5s 1.6s linear;
    -moz-transition: all .5s 1.6s linear;
    -o-transition: all .5s 1.6s linear;
}
.css3 .speak1,.css3 .speak2,.css3 .speak3 {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}



.income_box .income_main {
    position: relative;
    width: 1360px;
    height: 100%;
    margin: 0 auto;
}
.income_box .income_main ul {
    margin-top: 258px;
    width: 110%;
    overflow: hidden;
    margin-left: 45px;
}
.income_box .income_main ul li {
    width: 327px;
    height: 509px;
    background-color: #e2933d;
    padding: 83px 40px;
    margin-right: 35px;
    opacity: 0;
    margin-top: 100px;
    /*transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);*/
}
.income_box .income_main ul li:nth-of-type(1) {
    /*transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -o-transform-origin: left;*/
    transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
}
.income_box .income_main ul li:nth-of-type(2) {
    /*transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -o-transform-origin: left;*/
    transition: all .6s .6s linear;
    -webkit-transition: all .6s .6s linear;
    -moz-transition: all .6s .6s linear;
    -o-transition: all .6s .6s linear;
}
.income_box .income_main ul li:nth-of-type(3) {
    /*transform-origin: right;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -o-transform-origin: right;*/
    transition: all .6s 1.2s linear;
    -webkit-transition: all .6s 1.2s linear;
    -moz-transition: all .6s 1.2s linear;
    -o-transition: all .6s 1.2s linear;
}
.css3 .income_box .income_main ul li {
    opacity: 1;
    margin-top: 0;
    /*transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);*/
}
.income_box .income_main ul li .bg_img {
    width: 328px;
    height: 179px;
    background-image: url("../img/cityPartner.png");
    background-repeat: no-repeat;
}
.income_box .income_main ul li:nth-of-type(1) .bg_img {
    background-position: 0 -650px;
}
.income_box .income_main ul li:nth-of-type(2) .bg_img {
    background-position: -316px -650px;
}
.income_box .income_main ul li:nth-of-type(3) .bg_img {
    background-position: -656px -650px;
}
.income_box .income_main ul li h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    color: #222;
    text-align: center;
}
.income_box .income_main ul li p {
    font-size: 22px;
    line-height: 115px;
    font-weight: 700;
    color: #fee74d;
    text-align: center;
}
.income_box .income_main ul li table {
    margin-top: 30px;
}
.income_box .income_main ul li table tr {
    font-size: 16px;
    color: #582e00;
    line-height: 30px;
}
.income_box .income_main ul li table tr td span {
    display: block;
    width: 12px;
    height: 12px;
    margin: -23px 8px 0 8px;
    background-color: #c83939;
    border-radius: 1px;
}
.income_box .income_main ul li:nth-of-type(2) table tr:nth-of-type(1) td span {
    margin: 0 8px;
}




.promotion_box .promotion_main {
    position: relative;
    width: 1360px;
    height: 100%;
    margin: 0 auto;
    background: url("../img/cityPartner_bg05_1.png") no-repeat center center;
}

.promotion_box .promotion_main ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 826px;
}
.promotion_box .promotion_main ul li {
    height: 110px;
    line-height: 110px;
    overflow: hidden;
}
.promotion_box .promotion_main ul li span{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding-left: 40px;
}
.promotion_box .promotion_main ul li em {
    padding-left: 720px;
    font-size: 16px;
    color: #333;
}
.promotion_box .promotion_main ul li:nth-of-type(1) em {
    transition: all 1s 1.6s linear;
    -webkit-transition: 1s all 1.6s linear;
    -moz-transition: all 1s 1.6s linear;
    -o-transition: all 1s 1.6s linear;
}
.promotion_box .promotion_main ul li:nth-of-type(2) em {
    transition: all 1s .8s linear;
    -webkit-transition: all 1s .8s linear;
    -moz-transition: all 1s .8s linear;
    -o-transition: all 1s .8s linear;
}
.promotion_box .promotion_main ul li:nth-of-type(3) em {
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
}
.css3 .promotion_box .promotion_main ul li:nth-of-type(1) em {
    padding-left: 130px;
}
.css3 .promotion_box .promotion_main ul li:nth-of-type(2) em {
    padding-left: 170px;
}
.css3 .promotion_box .promotion_main ul li:nth-of-type(3) em {
    padding-left: 210px;
}



.help_box .help_hd {
    width: 1360px;
    padding-top: 280px;
    margin: 0 auto;
}
.help_box .help_hd p {
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    text-align: center;
}
.help_box .help_bd {
    width: 1360px;
    margin: 0 auto;
}
.help_box .help_bd ul {
    padding: 142px 40px 0 40px;
    overflow: hidden;
}
.help_box .help_bd ul li {
    position: relative;
    width: 230px;
    padding: 0 45px;
}
.help_box .help_bd ul li .bg_img {
    width: 138px;
    height: 138px;
    margin: 0 auto;
    border-radius: 50%;
    opacity: 0;
    background-image: url("../img/cityPartner.png");
    background-repeat: no-repeat;
    background-color: #2cb6bc;
}
.help_box .help_bd ul li:nth-of-type(1) .bg_img {
    background-position: -20px -80px;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
}
.help_box .help_bd ul li:nth-of-type(2) .bg_img {
    background-position: -554px -500px;
    transition: opacity 1s linear .6s;
    -webkit-transition: opacity 1s linear .6s;
    -moz-webkit-transition: opacity 1s linear .6s;
    -o-transition: opacity 1s linear .6s;
    -ms-transition: opacity 1s linear .6s;
}
.help_box .help_bd ul li:nth-of-type(3) .bg_img {
    background-position: -710px -500px;
    transition: opacity 1s linear 1.2s;
    -webkit-transition: opacity 1s linear 1.2s;
    -moz-webkit-transition: opacity 1s linear 1.2s;
    -o-transition: opacity 1s linear 1.2s;
    -ms-transition: opacity 1s linear 1.2s;
}
.help_box .help_bd ul li:nth-of-type(4) .bg_img {
    background-position: -874px -500px;
    transition: opacity 1s linear 1.8s;
    -webkit-transition: opacity 1s linear 1.8s;
    -moz-webkit-transition: opacity 1s linear 1.8s;
    -o-transition: opacity 1s linear 1.8s;
    -ms-transition: opacity 1s linear 1.8s;
}
.css3 .help_box .help_bd ul li .bg_img {
    opacity: 1;
}
.help_box .help_bd ul li h3 {
    font-size: 20px;
    font-weight: 700;
    color: #09686c;
    text-align: center;
    line-height: 80px;
    opacity: 0;
}
.help_box .help_bd ul li:nth-of-type(1) h3 {
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
}
.help_box .help_bd ul li:nth-of-type(2) h3 {
    transition: opacity 1s linear .6s;
    -webkit-transition: opacity 1s linear .6s;
    -moz-webkit-transition: opacity 1s linear .6s;
    -o-transition: opacity 1s linear .6s;
    -ms-transition: opacity 1s linear .6s;
}
.help_box .help_bd ul li:nth-of-type(3) h3 {
    transition: opacity 1s linear 1.2s;
    -webkit-transition: opacity 1s linear 1.2s;
    -moz-webkit-transition: opacity 1s linear 1.2s;
    -o-transition: opacity 1s linear 1.2s;
    -ms-transition: opacity 1s linear 1.2s;
}
.help_box .help_bd ul li:nth-of-type(4) h3 {
    transition: opacity 1s linear 1.8s;
    -webkit-transition: opacity 1s linear 1.8s;
    -moz-webkit-transition: opacity 1s linear 1.8s;
    -o-transition: opacity 1s linear 1.8s;
    -ms-transition: opacity 1s linear 1.8s;
}
.css3 .help_box .help_bd ul li h3 {
    opacity: 1;
}
.help_box .help_bd ul li p {
    font-size: 16px;
    color: #0f6d71;
    line-height: 25px;
    margin-top: 100px;
    opacity: 0;
    transition: all 0.6s 2.4s linear;
    -webkit-transition: all 0.6s 2.4s linear;
    -moz-transition: all 0.6s 2.4s linear;
    -o-transition: all 0.6s 2.4s linear;
}

.css3 .help_box .help_bd ul li p {
    opacity: 1;
    margin-top: 10px;
}
@keyframes moveBuzhu{
    0%{right: -10px;}
    20%{right:-20px;}
    100%{right:-30px;}
}
@-webkit-keyframes moveBuzhu{
    0%{right: -10px;}
    20%{right:-20px;}
    100%{right:-30px;}
}
@-moz-keyframes moveBuzhu{
    0%{right: -10px;}
    20%{right:-20px;}
    100%{right:-30px;}
}
@-o-keyframes moveBuzhu{
    0%{right: -10px;}
    20%{right:-20px;}
    100%{right:-30px;}
}
.help_box .help_bd ul li .buzhu {
    position: absolute;
    top: 60px;
    right: -20px;
    width: 30px;
    height: 30px;
    opacity: 0;
    background-image: url("../img/cityPartner.png");
    background-repeat: no-repeat;
    background-position: -168px -220px;
    animation: moveBuzhu 1s 1s ease-in-out infinite alternate;
    -webkit-animation: moveBuzhu 1s 1s ease-in-out infinite alternate;
    -moz-animation: moveBuzhu 1s 1s ease-in-out infinite alternate;
    -o-animation: moveBuzhu 1s 1s ease-in-out infinite alternate;
}
.help_box .help_bd ul li:nth-of-type(1) .buzhu {
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
}
.help_box .help_bd ul li:nth-of-type(2) .buzhu {
    transition: opacity 1s linear .6s;
    -webkit-transition: opacity 1s linear .6s;
    -moz-webkit-transition: opacity 1s linear .6s;
    -o-transition: opacity 1s linear .6s;
    -ms-transition: opacity 1s linear .6s;
}
.help_box .help_bd ul li:nth-of-type(3) .buzhu {
    transition: opacity 1s linear 1.2s;
    -webkit-transition: opacity 1s linear 1.2s;
    -moz-webkit-transition: opacity 1s linear 1.2s;
    -o-transition: opacity 1s linear 1.2s;
    -ms-transition: opacity 1s linear 1.2s;
}
.help_box .help_bd ul li:nth-of-type(4) .buzhu {
    transition: opacity 1s linear 1.8s;
    -webkit-transition: opacity 1s linear 1.8s;
    -moz-webkit-transition: opacity 1s linear 1.8s;
    -o-transition: opacity 1s linear 1.8s;
    -ms-transition: opacity 1s linear 1.8s;
}
.css3 .help_box .help_bd ul li .buzhu {
    opacity: 1;
}

.help_box .help_ft {
    width: 1275px;
    margin: 0 auto;
    padding-left: 85px;
    opacity: 0;
    transition: all 0.6s 2.4s linear;
    -webkit-transition: all 0.6s 2.4s linear;
    -moz-transition: all 0.6s 2.4s linear;
    -o-transition: all 0.6s 2.4s linear;
}
.css3 .help_box .help_ft {
    opacity: 1;
}
.help_box .help_ft h3 {
    font-size: 18px;
    font-weight: 700;
    color: #0f6d71;
    line-height: 48px;
    margin-top: 8px;
}
.help_box .help_ft ul li {
    font-size: 14px;
    color: #0f6d71;
    line-height: 40px;
}
.help_box .help_ft ul li .help_btn {
    color: #09686c;
    padding: 4px 15px;
    background-color: #b3f73c;
    margin-left: 15px;
    border-radius: 3px;
}
.help_box .help_ft ul li em {
    font-style: oblique;
}

@keyframes moveNext{
    0%{bottom: 43%;}
    100%{bottom:44%;}
}
@-webkit-keyframes moveNext{
    0%{bottom: 43%;}
    100%{bottom:44%;}
}
@-moz-keyframes moveNext{
    0%{bottom: 43%;}
    100%{bottom:44%;}
}
@-o-keyframes moveNext{
    0%{bottom: 43%;}
    100%{bottom:44%;}
}
.next {
    position: absolute;
    left: 50%;
    bottom: 43%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url("../img/cityPartner_next.png");
    animation: moveNext 1s ease-in-out infinite alternate;
    -webkit-animation: moveNext 1s ease-in-out infinite alternate;
    -moz-animation: moveNext 1s ease-in-out infinite alternate;
    -o-animation: moveNext 1s ease-in-out infinite alternate;
}
@keyframes moveBalloon {
    from { transform: translate(-180px,30px); }
    to { transform: rotate(-80deg) translate(2000px); }
}
@-webkit-keyframes moveBalloon {
    from { -webkit-transform: translate(-180px,30px); }
    to { -webkit-transform: rotate(-80deg) translate(2000px); }
}
@-moz-keyframes moveBalloon {
    from { -moz-transform: translate(-180px,30px); }
    to { -moz-transform: rotate(-80deg) translate(2000px); }
}
@-o-keyframes moveBalloon {
    from { -o-transform: translate(-180px,30px); }
    to { -o-transform: rotate(-80deg) translate(2000px); }
}
.balloon {
    position: absolute;
    left: 73%;
    bottom: 43%;
    width: 40px;
    height: 60px;
    background-image: url("../img/cityPartner_balloon.png");
    animation: moveBalloon 20s ease-in;
    -webkit-animation: moveBalloon 20s ease-in;
    -moz-animation: moveBalloon 20s ease-in;
    -o-animation: moveBalloon 20s ease-in;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
}
