/* 确认账号 */
.main_pwd{
    margin-top: 50px;
    height: 580px;
    padding: 75px 255px 100px 255px;
    box-sizing: border-box;
}
.title_schedule{
    margin-top: 40px;
    overflow: hidden;
}
.title_schedule li{
    width: 170px;
    float: left;
    position: relative;
}
.title_schedule li span{
    display: block;
    width: 20px;
    height: 20px;
    line-height: 23px;
    text-align: center;
    background: #dcdcdc;
    border-radius: 50%;
    font-size: 12px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.title_schedule li hr{
    border: none;
    border-bottom: 2px solid #f2f2f2;
    position: absolute;
    width: 100%;
    z-index: 0;
}
.input_main{
    margin-top: 77px;
}
.input_main li{
    width: 615px;
    height: 75px;
}
.input_main li .text{
    width: 220px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    float: left;
}
.input_main li input{
    width: 230px;
    height: 48px;
    float: left;
    padding-left: 10px;
    padding-right: 35px;
}
.input_main li span{
    display: block;
    float: left;
    display: none;
    margin-left: 220px;
    line-height: 25px;
}
.mycode {
    display: inline-block;
    width: 80px;
    height: 40px;
    vertical-align: middle;
    margin-left: -100px;
    margin-top: 5px;
}
.mycode div{
    background: none !important;
}
.next{
    width: 110px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #6ec647;
    color: #FFF;
    margin: 35px 220px;
}
.next:hover {
    background-color: #5CB136;
}

/* 安全验证 */
.main2_text{
    margin: -40px 0px 25px 135px;
}
#getYzm{
    width: 107px;
    height: 50px;
    margin-top: 1px;
    margin-left: -108px;
    background: #f2f2f2;
    border: none;
    text-align: center;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}
.yzcg{
    margin-left: 85px;
}

/* 成功 */
.success_text{
    width: 220px;
    margin: 0 auto;
    margin-top: 70px;
}