//´ýÊÕ»õ
.main{
  width: 1015px;
  height: 1000px;
  margin: 20px 0 120px 515px;
  box-sizing: border-box;
  .m_top{
    width: 1015px;
    height: 215px;
    background-color: #ffffff;
    box-sizing: border-box;
    i{
      display: inline-block;
      margin-left: 500px;
      font-size: 12px;
      color: #333333;
    }
    p{
      font-weight: bold;
      padding: 20px 0 8px 20px;
      border-bottom: 5px solid #71B247;
    }
    .status{
      width: 1010px;
      margin: 20px 20px 10px 15px;
      box-sizing: border-box;
      div.s_left{
        width: 290px;
        height: 190px;
        box-sizing: border-box;
        #sl£¬#s2£¬#s3{
          width: 300px;
          height: 100px;
          padding-left: 100px;
          box-sizing: border-box;
        }
        #sl>li,#s2>li,#s3>li{
          height: 30px;
          line-height: 30px;
        }
        .bts{
          button{
            width: 105px;
            height: 33px;
            color: #ffffff;
            margin-right: 30px;
            border: 1px solid #71B247;
            background-color: #ffffff;
          }
        }
     }
      .s_right{
        width: 700px;
        padding-left: 50px;
        box-sizing: border-box;
      }
      .s_right>ul{
        width: 690px;
        box-sizing: border-box;
      }
      .s_right>ul>li{
        float: left;
        width: 75px;
        text-align: center;
        margin-right: 60px;
      }
      }
  }
  .m_middle{
    width: 1015px;
    height: 190px;
    margin: 0;
    background-color: #ffffff;
    box-sizing: border-box;
  }
  .m_middle>ul{
    width: 248px;
    height: 190px;
    padding: 20px 3px 0 10px;
    border-right: 1px solid #d1d1d1;
    box-sizing: border-box;
    font-weight: bold;
    color: #333333;
  }
  .m_middle>ul>li{
    height: 25px;
    line-height: 25px;
  }
  .m_bottom{
    width: 1015px;
    height: 500px;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;
    ul{
      width: 970px;
      border-bottom: 1px solid #d1d1d1;
      height: 90px;
      margin: 10px 0;
      color: #333333;
      box-sizing: border-box;
      li{
        float: left;
        height: 80px;
        margin-right: 160px;
        text-align: left;
        i{
          color: #e01121;
        }
        button{
          width: 80px;
          height: 25px;
          background-color: #8EDA9C;
          border: 1px solid #8EDA9C;
          color: #ffffff;
        }
      }
      li:first-child>a{
        display: inline-block;
        width: 240px;
        height: 30px;
        line-height: 30px;
        margin: 5px 0 0 5px;
      }
      li:first-child>a:hover{
        color: #e01121;
        font-weight: bold;
      }
      li:last-child>a{
        display: inline-block;
        margin: 10px 0 0 15px;
      }
    }
   .aount{
      margin: 20px  80px 20px 0 ;
     li{
       height: 30px;
     }
     }
 }

}