.login_main_content3{
    margin-top: 45px;
}
.login_main_content3 ul{
    clear: both;
    position: relative;
}
.login_main_content3 ul li:first-child{
    margin-top: 0px;
}
.login_main_content3 ul li{
    width: 720px;
    height: 75px;
    margin: 0 auto;
}
.login_main_content3 ul li span{
    display: block;
    display: none;
    position: absolute;
    left: 605px;
    margin-top: 12px;
    width: 350px;
}
.login_main_content3 ul li .text{
    width: 130px;
    height: 37px;
    line-height: 37px;
    text-align: right;
    float: left;
}
.login_main_content3 ul li input{
    width: 325px;
    height: 35px;
    float: left;
    padding-left: 10px;
    padding-right: 35px;
    border: 1px solid #f2f2f2;
}
.chose_color{
    margin-top: 11px !important;
}
.now_save{
    text-align: center;
    margin-left: 220px;
    padding: 15px 30px;
}
.success{
    width: 180px;
    margin: 0 auto;
    padding-top: 110px;
    box-sizing: border-box;
}
.success .text1{
    font-size: 24px;
    line-height: 50px;
    margin-left: 13px;
    margin-bottom: 30px;
    display: block;
    float: left;
}
.success .confirm{
    margin: 0 0 0 66px;
}