#productListTemp2{
    background-color: #fff;
}

.pro_list_title{
    padding-bottom: 10px;
}
.navigation_bar{
    height: 50px;
    box-sizing: border-box;
    padding-top: 13px;
}
.navigation_bar li{
    float: left;
    height: 25px;
    line-height: 25px;
}
.navigation_bar .addLi{
    padding: 0 15px;
    box-sizing: border-box;
}
.navigation_bar .addSpan{
    padding: 5px 20px 0 20px;
}
.navigation_bar li span{
    padding-left: 20px;
    padding-right: 20px;
}
.brand_ul{
    position: relative;
    overflow: hidden;
    line-height: 35px;
    border-bottom: 1px solid #d2cdcd;
    border-top: 1px solid #d2cdcd;
    margin-top: -1px;
}
.brand_maxHeight{
    max-height: 35px;
}
.brand_maxHeight2{
    max-height: 175px;
}
.brand_ul ul{
    margin-left: 111px;
    padding-left: 17px;
    padding-right: 70px;
    color: #666666;
}
.brand_ul ul li{
    float: left;
    margin-right: 30px;
}
.brand_ul li:hover{
    color: #e4393c;
    cursor: pointer;
}
.brand_ul_left{
    height: 35px;
    line-height: 35px;
}
.brand_more{
    position: absolute;
    top: 6px;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 22px;
    border: 1px solid #e2e3e3;
}
.brand_more span{
    position: relative;
    overflow: hidden;
    line-height: 22px;
    display: inline-block;
    padding-left: 10px;
}
.brand_more i{
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}
.more_options{
    width: 135px;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #FFF;
    margin: 0 auto;
    margin-top: -1px;
}
.more_options p{
    float: left;
    margin-left: 35px;
}
.more_options i{
    margin-top: 10px;
    margin-right: 35px;
}
.content_title{
    height: 36px;
    padding-left: 5px;
    background-color: #f5f5f5;
    border: 1px solid #d8d5d5;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.content_title li{
    height: 26px;
    line-height: 26px;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px solid #d4d4d4;
    cursor: pointer;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
}

.tit_active{
    background-color: #eb2a2c;
    border: 1px solid transparent;
    color: #fff;
}

.content_title li:first-child{
    border-left: none;
}
.content_title_Tab span{
    display: block;
    width: 20px;
    height: 20px;
    line-height: 22px;
    float: left;
    text-align: center;
    cursor: pointer;
}
.brand_title_con{
    padding: 10px 0 8px;
}
.content_div{
    padding: 10px 30px 30px 30px;
    margin-top: -10px;
}
.result{
    margin-left: -15px;
}

.main_content_img li{
    width: 226px;
    height: 317px;
    float: left;
    background: #FFFFFF;
    border: 1px solid #e9e9e9;
    /*padding: 20px;*/
    margin-left: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.main_content_img li:hover{
    border: 1px solid #e9e9e9;
}
.width_main .main_content_img li{
    height: 330px;
}
.main_content_img li:last-child{
    margin-right: 0px;
}
.recommend{
    height: 103px;
    line-height: 103px;
    text-align: center;
}
.rec_list_img{
    display: block;
    margin: 0 auto;
    max-width: 160px;
    max-height: 120px;
}
.rec_list_img2{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 190px;
    padding: 20px 20px 0;
}
.rec_text1{
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #666666;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0 20px 0;
}

.rec_text2{
    text-align: center;
}
.rec_text3{
    text-align: left;
    color: #e4393c !important;
    font-size: 20px;
    padding: 0 20px 0;
}
.attention{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    /*margin-top: 16px;*/
    height: 25px;
    line-height: 25px;
    color: #222222;
    font-family: "微软雅黑";
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
}
.atten_con{
    width: 100px;
    height: 25px;
    line-height: 25px;
    background-color: #e4393c;
    color: #fff;
    text-align: center;
    margin: 0 12px;
    border-radius: 3px;
}
.atten_cell{
    flex-basis: 1px;
    flex-shrink: 1;
    flex-grow: 1;
    border: 1px solid #ccc;
    text-align: center;
    color: #999;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0 12px;
    border-radius: 3px;
}
.focus_on{
    margin-left: 2px;
}
.atten_cell:hover {
    border-color: #e4393c;
    z-index: 1;
    color: #e4393c;
}
.currimg{
    display: none;
}
.currimgposi{
    background-position: -39px 0px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}
.atten_cell:hover .currimg{
    display: inline-block;
}
.atten_cell:hover .img{
    display: none;
}
.atten_cell img{
    margin-top: 4px;
}
/* .mar_l_f_x 代表margin-left负x */
.mar_l_f_1{
    margin-left: -1px;
}
.shadow_5px{
    /*transition: .5s;*/
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    box-shadow: 0px 0px 10px #dbdbdb;
    -o-box-shadow: 0px 0px 10px #dbdbdb;
    -moz-box-shadow: 0px 0px 10px #dbdbdb;
    -webkit-box-shadow: 0px 0px 10px #dbdbdb;
}
.rem_shadow_5px{
    margin-top: 0px;
    transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    box-shadow: 0px 0px 0px #FFF;
    -o-box-shadow: 0px 0px 0px #FFF;
    -moz-box-shadow: 0px 0px 0px #FFF;
    -webkit-box-shadow: 0px 0px 0px #FFF;
}
.listAndInfo{
    background-image: url(../img/listAndInfo.png);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-position: -58px;
}
.listAndInfo2{
    background-image: url(../img/sort_gray.png);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    /*background-position: -42px 0px;*/
}
.listAndInfo2_active{
    background-image: url(../img/listAndInfo.png);
    background-position: 0px 0px;
}
.content_img_text{
    position: absolute;
    bottom: -95px;
    left: 0;
    width: 100%;
    height: 95px;
    background: #eb6565;
    padding: 15px;
    box-sizing: border-box;
    transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}
.img_text_hove{
    bottom: 0;
    transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}
.img_text{
    margin-top: 15px;
    overflow: hidden;
}
.img_text span{
    float: left;
    border-right: 1px solid #d4d4d4;
    cursor: pointer;
    width: 49%;
    text-align: center;
}
.img_text span:last-child{
    border-right: transparent;
}


.pagination {
    font-size: 14px;
}
.pagination .current.prev, .pagination .current.next {
    border: 1px solid #dddddd;
    background-color: white;
}
.pagination .current {
    background: transparent;
    color: red;
    border: none;
    border-radius: 0px;
}
.pagination a, .pagination span {
    background-color: #f6f6f6;
    border: 1px solid #dddddd;
}
.pagination a, .pagination span {
    background-color: #f6f6f6;
    border: 1px solid #dddddd;
}
.main_content{
    background-color: #f5f5f5;
    border: 1px solid #d8d5d5;
    text-indent: 10px;
    color: #666666;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.icon_activity{
    position: absolute;
    left: 0;
    top: 13px;
    /*width: 40px;*/
}
#search_title em{
    padding-left: 20px;
    padding-right: 20px;
}
.notData{
    padding: 30px;
    box-sizing: border-box;
}


.add_dhd{
    text-indent: 80px;
    height: 115px;
    margin-top: 10px;
    padding-top: 5px;
    background-image: url(../img/success_buy.png);
    background-repeat: no-repeat;
    background-position: 180px 2px;
    background-size: 30px 30px;
    text-align: center;
}



div.zxf_pagediv{
    text-align: center;
    color: #999999;
}
div.zxf_pagediv a{
    text-decoration: none;

}
div.zxf_pagediv span,div.zxf_pagediv a{
    display: inline-block;
    box-sizing: border-box;
}
span.disabled{
    height: 35px;
    width: 65px;
    line-height: 35px;
    background: #fff;
    margin: 0 5px;
    display: inline-block;
    border: 1px solid #dddddd;
}
.zxfPagenum{
    color: #333;
    background: #f6f6f6;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #dfdfdf;
    margin: 0 5px;
    display: inline-block;
}
.nextbtn,.prebtn{
    color: #999999;
    background: #FFFFFF;
    width: 65px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #dfdfdf;
    display: inline-block;
    background-color: #f6f6f6;
}
.nextbtn{
    margin-right: 10px;
}
.zxfinput{
    width: 35px;
    height: 35px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    margin: 0 12px;
}
.zxfokbtn{
    width: 45px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #dfdfdf;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}
.nextpage{
    color: #d71f1b;
    margin: 0 5px;
    /*border: 1px solid #d71f1b;*/
}
.current{
    color: #ffffff;
    background: #d71f1b;
    border: none;
}


#Pagination01{
    text-align: center;
    font-size: 13px;
    padding: 20px 0;
}
.rotate {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
