.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.flexitem {
  flex-shrink: 0;
  flex-basis: 1px;
  flex-grow: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  height: 0;
  overflow: hidden;
}
.all {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.zm_title_all {
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: 68px;
  font-size: 26px;
  color: #333333;
  margin: auto;
  text-align: center;
}
.zm_title_all .zm_title_c {
  display: inline-block;
}
.zm_title_all .zm_title_e {
  display: inline-block;
  color: #666666;
}
.zm_container {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("../img/20170710/zm_bg_01.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}
.zm_container .w_inner {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-width: 1190px;
  margin: auto;
}
.zm_container .w_inner .city_banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.zm_container .w_inner .city_banner .city_banner_img {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto;
}
.zm_container .w_inner .city_banner .city_banner_img img {
  width: 100%;
  display: block;
  margin: auto;
}
.zm_container .w_inner .zm_floor .zm_inner {
  width: 100%;
  position: relative;
  overflow: hidden;
  width: 1190px;
  margin: 0 auto 47px;
  background-color: #ffffff;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_title_all {
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: 68px;
  font-size: 26px;
  color: #333333;
  margin: auto;
  text-align: center;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_title_all .zm_title_c {
  display: inline-block;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_title_all .zm_title_e {
  display: inline-block;
  color: #666666;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0px 102px 43px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail {
  flex-shrink: 0;
  flex-basis: 1px;
  flex-grow: 1;
  flex-basis: auto;
  flex-grow: 0;
  width: 470px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail .detail_mark {
  width: 88px;
  height: 69px;
  line-height: 69px;
  margin: auto;
  background-image: url("../img/20170710/zm_icon_01.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 88px 69px;
  color: #666666;
  font-size: 20px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail .detail_list .list_cell {
  width: 470px;
  height: 35px;
  position: relative;
  line-height: 35px;
  background-color: #eeeeee;
  border-radius: 3px;
  margin-bottom: 8px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail .detail_list .list_cell #Province {
  width: 139px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail .detail_list .list_cell #City {
  width: 132px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail .detail_list .list_cell #Area {
  width: 96px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail .detail_list .list_cell .cell_no {
  display: inline-block;
  width: 73px;
  background-color: #2f81fc;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail .detail_list .list_cell .cell_txt {
  display: inline-block;
  text-indent: 12px;
  color: #666666;
  margin-left: 73px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail .detail_list .list_cell .cell_txt b {
  position: relative;
  overflow: hidden;
  height: 40px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail .detail_list .list_cell .cell_txt b .icon_down {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 20px;
  height: 95%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: 3px;
  background-size: 15px;
  z-index: 0;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_content .zm_detail .detail_list .list_cell select {
  z-index: 1;
  height: 38px;
  position: relative;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0px 102px 43px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail {
  flex-shrink: 0;
  flex-basis: 1px;
  flex-grow: 1;
  flex-basis: auto;
  flex-grow: 0;
  width: 470px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail .detail_mark {
  width: 88px;
  height: 69px;
  line-height: 69px;
  margin: auto;
  background-image: url("../img/20170710/zm_icon_01.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 88px 69px;
  color: #666666;
  font-size: 20px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail .detail_list .list_cell {
  width: 470px;
  height: 35px;
  position: relative;
  line-height: 35px;
  background-color: #eeeeee;
  border-radius: 3px;
  margin-bottom: 8px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail .detail_list .list_cell #Province {
  width: 139px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail .detail_list .list_cell #City {
  width: 132px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail .detail_list .list_cell #Area {
  width: 96px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail .detail_list .list_cell .cell_no {
  display: inline-block;
  width: 73px;
  background-color: #2f81fc;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail .detail_list .list_cell .cell_txt {
  display: inline-block;
  text-indent: 12px;
  color: #666666;
  margin-left: 73px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail .detail_list .list_cell .cell_txt b {
  position: relative;
  overflow: hidden;
  height: 40px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail .detail_list .list_cell .cell_txt b .icon_down {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 20px;
  height: 95%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: 3px;
  background-size: 15px;
  z-index: 0;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_req .zm_detail .detail_list .list_cell select {
  z-index: 1;
  height: 38px;
  position: relative;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps {
  display: flex;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0px 102px 43px;
  width: 770px;
  padding: 0px 0px 43px 102px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail {
  flex-shrink: 0;
  flex-basis: 1px;
  flex-grow: 1;
  flex-basis: auto;
  flex-grow: 0;
  width: 470px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_mark {
  width: 88px;
  height: 69px;
  line-height: 69px;
  margin: auto;
  background-image: url("../img/20170710/zm_icon_01.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 88px 69px;
  color: #666666;
  font-size: 20px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell {
  width: 470px;
  height: 35px;
  position: relative;
  line-height: 35px;
  background-color: #eeeeee;
  border-radius: 3px;
  margin-bottom: 8px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell #Province {
  width: 139px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell #City {
  width: 132px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell #Area {
  width: 96px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell .cell_no {
  display: inline-block;
  width: 73px;
  background-color: #2f81fc;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell .cell_txt {
  display: inline-block;
  text-indent: 12px;
  color: #666666;
  margin-left: 73px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell .cell_txt b {
  position: relative;
  overflow: hidden;
  height: 40px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell .cell_txt b .icon_down {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 20px;
  height: 95%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: 3px;
  background-size: 15px;
  z-index: 0;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell select {
  z-index: 1;
  height: 38px;
  position: relative;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail {
  width: 316px !important;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell {
  background-color: transparent;
  width: auto;
  height: 56px;
  line-height: 56px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell .cell_no {
  width: 56px;
  height: 54px;
  background-image: url("../img/20170710/zm_icon_02.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 56px 54px;
  background-color: transparent;
  color: #333;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_six_item .zm_detail .detail_list .list_cell .cell_txt {
  line-height: 54px;
  border-bottom: 1px solid #dedede;
  margin-left: 56px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_six_steps .zm_advert {
  display: block;
  width: 320px;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 10px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0px 102px 43px;
  padding: 0px 102px 0px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail {
  flex-shrink: 0;
  flex-basis: 1px;
  flex-grow: 1;
  flex-basis: auto;
  flex-grow: 0;
  width: 470px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_mark {
  width: 88px;
  height: 69px;
  line-height: 69px;
  margin: auto;
  background-image: url("../img/20170710/zm_icon_01.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 88px 69px;
  color: #666666;
  font-size: 20px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell {
  width: 470px;
  height: 35px;
  position: relative;
  line-height: 35px;
  background-color: #eeeeee;
  border-radius: 3px;
  margin-bottom: 8px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell #Province {
  width: 139px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell #City {
  width: 132px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell #Area {
  width: 96px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell .cell_no {
  display: inline-block;
  width: 73px;
  background-color: #2f81fc;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell .cell_txt {
  display: inline-block;
  text-indent: 12px;
  color: #666666;
  margin-left: 73px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell .cell_txt b {
  position: relative;
  overflow: hidden;
  height: 40px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell .cell_txt b .icon_down {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 20px;
  height: 95%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: 3px;
  background-size: 15px;
  z-index: 0;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell select {
  z-index: 1;
  height: 38px;
  position: relative;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell {
  height: 40px;
  background-color: transparent;
  margin-bottom: 40px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell .cell_no {
  width: 100px;
  line-height: 40px;
  border-radius: 0px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell .cell_txt {
  width: 368px;
  height: 38px;
  border: 1px solid #999999;
  margin-left: 100px;
  position: relative;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell .cell_txt input {
  outline: 0px;
  border: none;
  height: 38px;
  width: 346px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell .cell_txt input[type=radio] {
  width: auto;
  display: inline-block;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell .cell_txt label {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-left: -12px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .zm_apply_item .zm_detail .detail_list .list_cell .cell_txt em {
  display: none;
  font-size: 14px;
  color: red;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_apply .sub_btn {
  width: 164px;
  height: 44px;
  border-radius: 3px;
  float: right;
  margin-bottom: 46px;
  margin-right: 116px;
  background: -moz-linear-gradient(top, #1cace0 0%, #1269b9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1cace0), color-stop(100%, #1269b9));
  background: -webkit-linear-gradient(top, #1cace0 0%, #1269b9 100%);
  background: -o-linear-gradient(top, #1cace0 0%, #1269b9 100%);
  background: -ms-linear-gradient(top, #1cace0 0%, #1269b9 100%);
  background: linear-gradient(to bottom, #1cace0 0%, #1269b9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1cace0', endColorstr='#1269b9', GradientType=0);
}
.zm_container .w_inner .zm_floor .zm_inner .zm_issue {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  padding: 0px 102px 43px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_issue .issue_desc {
  flex-basis: 1px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 0;
  width: 380px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_issue .issue_desc .issue_row {
  margin-bottom: 18px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_issue .issue_desc .issue_row .issue_row_tit {
  position: relative;
  overflow: hidden;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_issue .issue_desc .issue_row .issue_row_tit .cell_no {
  display: inline-block;
  width: 73px;
  background-color: #2f81fc;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 54px;
  background-image: url("../img/20170710/zm_icon_02.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 56px 54px;
  background-color: transparent;
  color: #333;
  line-height: 54px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_issue .issue_desc .issue_row .issue_row_tit .cell_txt {
  display: inline-block;
  text-indent: 12px;
  color: #666666;
  margin-left: 73px;
  line-height: 54px;
  border-bottom: 1px solid #dedede;
  margin-left: 56px;
  font-size: 20px;
  border: none;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_issue .issue_desc .issue_row .issue_row_tit .cell_txt b {
  position: relative;
  overflow: hidden;
  height: 40px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_issue .issue_desc .issue_row .issue_row_tit .cell_txt b .icon_down {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 20px;
  height: 95%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: 3px;
  background-size: 15px;
  z-index: 0;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_issue .issue_desc .issue_row .issue_row_cell {
  padding-left: 22px;
  line-height: 25px;
}
.zm_container .w_inner .zm_floor .zm_inner .zm_issue .issue_desc .issue_row .special {
  cursor: pointer;
  color: #c60303;
}
.zm_container .w_inner .zm_issue_bg .zm_inner {
  background-image: url("../img/20170710/zm_bg_02.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: scroll;
}
.pop_success {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.pop_success .s_inner {
  width: 423px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -149px;
  margin-left: -293px;
  border-radius: 5px;
  overflow: hidden;
}
.pop_success .s_inner .s_title {
  height: 62px;
  line-height: 62px;
  font-size: 18px;
  color: #4f849e;
  background-color: #f3f6f8;
  padding: 0px 25px;
}
.pop_success .s_inner .s_title span {
  float: right;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  text-indent: 2px;
  margin-top: 20px;
  border-radius: 20px;
  color: #c4d7e0;
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
}
.pop_success .s_inner .s_txt {
  height: 100px;
  border-top: 1px solid #e0e4e6;
  border-bottom: 1px solid #e0e4e6;
  background-color: #fff;
  box-sizing: border-box;
  padding: 28px 100px 0px;
}
.pop_success .s_inner .s_txt p {
  font-size: 14px;
  line-height: 20px;
}
.pop_success .s_inner .s_txt .s_yes {
  display: block;
  width: 112px;
  height: 40px;
  margin: auto;
  background-color: #6fbe6a;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
}
.pop_success .s_inner .s_btm {
  height: 56px;
  font-size: 12px;
  background-color: #f3f6f8;
}
.pop_success .s_inner .s_btm .s_yes {
  display: block;
  width: 112px;
  height: 40px;
  margin: auto;
  background-color: #6fbe6a;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  width: 85px;
  height: 28px;
  font-size: 12px;
  margin: 0;
  margin-left: 66px;
  margin-top: 14px;
  float: left;
}
.pop_success .s_inner .s_btm a {
  display: inline-block;
  text-indent: 60px;
  height: 56px;
  line-height: 60px;
}
.zm_sidebar {
  position: fixed;
  top: 12%;
  right: 0;
  z-index: 999;
}
.zm_sidebar .zm_bar_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-items: flex-end;
  flex-direction: column;
}
.zm_sidebar .zm_bar_inner a {
  cursor: pointer;
}
.zm_sidebar .zm_bar_inner .bar_cell {
  display: block;
  position: relative;
  width: 149px;
  height: 48px;
  flex-shrink: 0;
  flex-basis: 1px;
  flex-grow: 1;
  flex-basis: auto;
  margin-bottom: 16px;
  background-color: #387fa1;
  font-size: 20px;
  line-height: 40px;
  text-indent: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.zm_sidebar .zm_bar_inner .bar_cell:after {
  content: '';
  display: block;
  width: 88px;
  height: 1px;
  position: absolute;
  bottom: 8px;
  left: 10px;
  background: -moz-linear-gradient(left, #d3e1e8 0%, #1269b9 100%);
  background: -webkit-gradient(linear, left, right, color-stop(0%, #d3e1e8), color-stop(100%, #1269b9));
  background: -webkit-linear-gradient(left, #d3e1e8 0%, #1269b9 100%);
  background: -o-linear-gradient(left, #d3e1e8 0%, #1269b9 100%);
  background: -ms-linear-gradient(left, #d3e1e8 0%, #1269b9 100%);
  background: linear-gradient(to right, #d3e1e8 0%, #1269b9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3e1e8', endColorstr='#1269b9', GradientType=0);
}
.zm_sidebar .zm_bar_inner .bar_return {
  width: 145px;
  height: 89px;
}
.zm_sidebar .zm_bar_inner .bar_return img {
  width: 100%;
}
#bottomTemp {
  margin-top: 0 !important;
}
.btm_btn {
  width: 13rem;
  height: 5.2rem;
  background-color: transparent;
  position: absolute;
  left: 69%;
  top: 80%;
  opacity: 0;
}
.width_bar {
  width: 187px !important;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  background-color: #def0f7;
  -webkit-font-smoothing: antialiased;
}
.container {
  max-width: 1190px;
  margin: 0 auto;
}
/* posterTvGrid */
.posterTvGrid {
  position: relative;
  height: 310px;
}
.posterTvGrid img {
  max-width: none;
  max-height: none;
  border: 0 none;
  background: #888;
}
.posterTvGrid .contentHolder {
  position: relative;
  overflow: hidden;
}
.posterTvGrid .contentHolderUnit {
  cursor: pointer;
  position: absolute;
  width: 640px;
  height: 270px;
}
.posterTvGrid .contentHolderUnit a.elementLink {
  display: block;
  overflow: hidden;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.posterTvGrid .contentHolderUnit img {
  width: 100%;
  height: 100%;
}
.posterTvGrid .contentHolderUnit .elementOverlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: opacity=0;
}
.posterTvGrid .contentHolderUnit .leftShadow {
  position: absolute;
  top: 23px;
  left: -174px;
  width: 174px;
  height: 224px;
  background: url(img/leftShadow.png) no-repeat;
}
.posterTvGrid .contentHolderUnit .rightShadow {
  position: absolute;
  top: 23px;
  right: -174px;
  width: 174px;
  height: 224px;
  background: url(img/rightShadow.png) no-repeat;
}
.posterTvGrid .leftNav,
.posterTvGrid .rightNav {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  margin-top: -43px;
}
.posterTvGrid .leftNav {
  left: 7px;
  background: url("img/1.png") no-repeat;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/slide_prev_btn.png");
}
.posterTvGrid .rightNav {
  right: 7px;
  background: url("img/2.png") no-repeat;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/slide_next_btn.png");
}
.posterTvGrid .bottomNav {
  z-index: 140;
  position: absolute;
  width: 100%;
  height: 10px;
  margin-top: 270px;
  padding: 10px 0 0;
  text-align: center;
}
.posterTvGrid .bottomNavButtonOFF {
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  vertical-align: top;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #c3c3c3;
}
.posterTvGrid .bottomNavButtonOFF:hover {
  background: #aaa;
}
.posterTvGrid .bottomNavButtonON,
.posterTvGrid .bottomNavButtonON:hover {
  background: #69aaec;
}
