/*ÍË»»»õ 2017-8-17*/
body{
  font-family: "Î¢ÈíÑÅºÚ";
}
.main{
  width:1010px ;
  min-height: 1000px;
  margin: 20px 0 0 510px;
  box-sizing: border-box;
  .m_top{
    width: 1010px;
    height: 50px;

    line-height: 50px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    position: relative;
    box-sizing: border-box;
  }
  .m_top span{
    color: #e01121;
    font-weight: 900;
  }
  .m_top span b{
    color: #222222;
  }
  .m_main{
    width: 1010px;
    min-height: 500px;
    background-color: #ffffff;
    padding: 20px 10px 50px 20px;
    box-sizing: border-box;
    .w{
      width: 200px;
    }
    .s{
      width: 85px;
    }
    .m{
      width: 120px;
    }
    .rh:hover{
        color: #e01121;

    }
    a.rh{
      margin:0  5px;
    }
      .main_top{
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        margin-bottom: 10px;

          img{
            vertical-align: middle;
            margin-right: 5px;
          }
      }
      ul{
        width: 990px;
        height: 50px;
        margin: 0;
        li{
          float: left;
          font-size: 14px;
          font-weight: bold;
          color: #666666;
          text-align: center;
          height: 35px;
          line-height: 35px;
          background-color: #f5f5f5;
        }

      }
    .info{
      height: auto;
      text-align: center;
      padding: 0;
      margin-bottom: 10px;
      border: 1px solid #d1d1d1;
      background-color: #ffffff;
      box-sizing: border-box;

      ol{
        height: 80px;
        width: auto;
        margin-top: 40px;
        background-color: #ffffff;
        li{
          float: left;
          height: auto;
          color: #666666;
          text-align: center;
        }
      }
    }

    .m_page{
      button{
        width: 80px;
        height: 28px;
        border: 1px solid #d1d1d1;
        background-color: #f5f5f5;
        text-align: center;
        border-radius: 5px;
        color: #666666;
      }
      span{
        margin: 0 10px;
        color: #e01121;
      }
    }

  }



















}
