.banner{
    width: 163%;
    height: 100%;
    margin-left: -31.5%;
}
@media screen and (min-width:1600px) {
    .banner{
        width: 200%;
        height: 100%;
        margin-left: -50%;
    }
}
.banner2{
    width: 121%;
    height: 100%;
    margin-left: -11%;
}
.title2_menu{
    display: none;
}
.background{
    width: 100%;
    height: 100%;
    background: #c70100;
    overflow: hidden;
}
.background2{
    width: 100%;
    height: 100%;
    background: #c70100;
    overflow: hidden;
}
.background3{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #98053c;
    /*background-image: url("../img/bg_left_03.jpg");*/
    background-repeat: repeat-y;
    background-position-x: 100%;
    overflow: hidden;
    padding-top: 40px;
}
.background3_fz{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url("../img/bg_right_03.jpg");*/
    background-repeat: repeat-y;
    background-position-x: 0%;
    background-position-y: 100px;
    overflow: hidden;
}
.special_title{
    padding-top: 30px;
    position: relative;
}
.title_text{
    width: 990px;
    margin: 0 auto;
    padding: 15px 0 20px 0;
}
.special_title img{
    display: block;
    margin: 0 auto;
}
.special_title .bg_color{
    width: 180px;
    margin: 0 auto;
    background: #e93939;
    position: relative;
    z-index: 1;
}
.special_title .title_img{
    background: url(../img/wuliu.png);
    background-size: 12px 12px;
    width: 100%;
    height: 12px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: 9px;
    z-index: 0;
}
.special_list{
    margin-left: -15px;
    margin-bottom: 10px;
}
.special_list_li{
    width: 235px;
    height: 360px;
    padding: 10px;
    box-sizing: border-box;
    background: #FFF;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
}
.special_list_li .img{
    width: 100%;
    height: 200px;
}
.special_list_li .img img{
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.pay_div{
    position: absolute;
    width: 92%;
    bottom: 10px;
    left: 10px;
    background: #FFF;
    padding-top: 13px;
}
.panic_buying{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #d81f1f;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
}
.panic_buying:hover{
    background: #c92020;
}
.floor{
    width: 90px;
    background: #b125d4;
    left: 50%;
    margin-left: 505px;
    position: fixed;
    top: 50%;
    overflow: hidden;
    display: none;
}
.floor i{
    margin: 10px 0 0 10px;
}
.floor span{
    padding-left: 7px;
}
.floor li,.floor p{
    width: 100%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.floor li:hover,.floor p:hover{
    background: #7d1a98;
}
.icon_position{
    background: url(../img/icon-position.svg);
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    display: block;
    float: left;
}
.pad_b_30px{
    padding-bottom: 30px;
}


/* 双12专区 */
.double_bg{
    position: relative;
}
.double_bg .img1{
    display: block;
    margin: 0 auto;
    width: 300px;
    padding-left: 15px;
}
.double_bg .img2{
    display: block;
    margin: 0 auto;
    margin-top: 55px;
}
.double_bg .scrollText{
    padding: 25px 0 33px 0;
    background: url(../img/double0606_title.png?t=20170601) no-repeat;
    background-position: center;
    color: #000 !important;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    bottom: 24%;
    background-size: 360px;
}
.double_bg .scrollText .text_firm{
    color: #c7b2f0;
    margin-right: 20px;
}
.scrollText_main{
    width: 1110px;
    height: 100%;
    float: left;
    border: 1px solid #361e56;
    background: rgba(29,16,61,.8);
}
.scrollText_main .marquee{
    width: 98%;
    margin-left: 1%;
}
.scrollText_main marquee a{
    margin-right: 60px;
    color: #a589da;
}
.xtz{
    font-style: italic;
}
.double_title{
    padding: 45px 0 45px 0;
    /*background: url("../img/double_title.png") no-repeat;*/
    background-position: center;
}
.double_list{
    margin-left: -15px;
    margin-bottom: 10px;
}
.double_list_li{
    width: 285px;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    background: #FFF;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
}
.double_list_li .img{
    width: 100%;
    height: 230px;
}
.double_list_li .activity_price{
    position: absolute;
    bottom: 77px;
}
.double_list_li .img img{
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.panic_buy{
    width: 93.3%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #d81f1f;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
.panic_buy:hover{
    background: #cc1533;
}
.loading{
    display: block;
    margin: 0 auto;
}
.img_banner_text{
    /*width: 230px;*/
    text-align: center;
    margin: 0 auto;
}
.img_banner_text img{
    width: 140px;
    height: 70px;
}
.img_banner_text span{
    line-height: 72px;
}
.double12_time{
    margin-top: -34px;
}
.double12_floor{
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    background: #000000;
    z-index: 1;
    padding: 0px 1px 0px 1px;
    box-sizing: border-box;
}
.open_menu{
    position: fixed;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #222222;
    z-index: 1;
    box-sizing: border-box;
}
.open_menu .putAway_content{
    position: absolute;
    top: 50%;
    width: 1em;
    padding-left: 10px;
    margin-top: -54.5px;
    cursor: pointer;
}
.putAway_content i{
    background-position: -57px -143px;
    margin-top: 10px;
}
.double12_floor a{
    color: #FFF;
}
.double12_floor li{
    width: 53px;
    height: 25px;
    line-height: 25px;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    background: #222;
    margin: 1px 0 0 1px;
}
.double12_floor ol{
    width: 99%;
    height: 25px;
    line-height: 25px;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    background: #222;
    color: #fce702;
    margin: 1px 0 0 1px;
}
.double12_floor ol span{
    margin-left: 10px;
}
.double12_floor li:hover{
    background: #98053c;
}
.double12_floor li a{
    color: #FFF;
}
.double12_floor li img{
    position: absolute;
    top: 0;
    right: 0;
}
.putAway{
    position: relative;
}
.putAway span{
    padding-right: 25px;
    color: #FFF !important;
}
.putAway img{
    position: absolute;
    right: 15px;
    top: 5px;
    width: 15px;
    background-position: -57px -143px;
    margin: 0;
}
@media screen and (min-width:1600px) {
    .banner2{
        width: 160%;
        height: 100%;
        margin-left: -30%;
    }
    .double_bg .scrollText{
        padding: 25px 0 33px 0;
        background: url(../img/double0606_title.png?t=20170601) no-repeat;
        background-position: center;
        color: #ce1d1b !important;
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        width: 100%;
        bottom: 26%;
        background-size: 360px;
    }
    .img_banner_text{
        /*
        width: 230px;
        margin: 0 auto;
        margin-top: 92px;
        padding-left: 15px;
        */
    }
}