body,
area {
  outline: 0;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  height: 0;
  overflow: hidden;
}
.spike_container {
  background-color: #d20054;
}
.spike_banner {
  min-width: 1190px;
  position: relative;
  overflow: hidden;
}
.spike_banner img {
  width: 100%;
  display: block;
}
.spike_banner .spike_tab_time {
  position: absolute;
  top: 84%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.spike_banner .spike_tab_time .tab_cell {
  display: inline-block;
  width: 265px;
  height: 209px;
  background-color: #c211b2;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  float: left;
}
.spike_banner .spike_tab_time .tab_cell:nth-of-type(1) {
  background-color: #f47d3f;
  margin-right: 56px;
}
.spike_banner .spike_tab_time .tab_cell i,
.spike_banner .spike_tab_time .tab_cell button,
.spike_banner .spike_tab_time .tab_cell em {
  display: block;
  text-align: center;
}
.spike_banner .spike_tab_time .tab_cell .tab_cell_hour {
  color: #fff;
  font-size: 60px;
  font-weight: 100;
}
.spike_banner .spike_tab_time .tab_cell .tab_cell_btn {
  margin: 0 auto;
  width: 173px;
  height: 61px;
  line-height: 46px;
  background-color: #fff600;
  border: 7px solid #ffa800;
  font-weight: bold;
  font-size: 40px;
  color: #8212b1;
  border-radius: 35px;
}
.spike_banner .spike_tab_time .tab_cell .tab_cell_calc {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  margin-top: 12px;
}
.spike_banner .spike_tab_time .tab_active_0 {
  box-shadow: 14px 0px 0px #cf4600;
}
.spike_banner .spike_tab_time .tab_active_1 {
  box-shadow: 14px 0px 0px #8a007e;
}
.spike_content .spike_inner .spike_tit .tit_bg {
  display: block;
  width: 380px;
  height: 54px;
  line-height: 35px;
  padding: 23px 0 15px;
  text-align: center;
  background-image: url("../img/20170703/m_title_01.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.spike_content .spike_inner .spike_info {
  position: relative;
  overflow: hidden;
}
.spike_content .spike_inner .spike_info blockquote {
  background-color: rgba(183, 5, 76, 0.64);
  padding: 51px 43px;
  margin-bottom: 133px;
}
.spike_content .spike_inner .spike_info blockquote .spike_info_rule {
  display: block;
  color: #fff;
  line-height: 32px;
}
.spike_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}
.spike_list .spike_goods {
  margin-right: 7px;
  width: 290px;
  height: 380px;
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 1;
  margin-bottom: 7px;
  position: relative;
  background: #fff;
  display: inline-block;
}
.spike_list .spike_goods .spike_goods_link {
  height: 255px;
  padding: 20px 0px 0px;
  background: #fff;
  color: #333;
  display: block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: auto;
}
.spike_list .spike_goods .spike_goods_link .spike_tag {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 22;
}
.spike_list .spike_goods .spike_goods_link .spike_goods_link_img {
  width: auto;
  height: 190px;
  margin-top: 25px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -moz-transition: transform 0.3s, -moz-transform 0.3s;
  transition: transform .3s;
  transition: transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s;
}
.spike_list .spike_goods .spike_goods_link .spike_goods_title {
  color: #333;
  font-size: 14px;
  padding: 0 16px;
  font-weight: 400;
  text-align: left;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #e7e7e7;
}
.spike_list .spike_goods .spike_goods_info {
  overflow: hidden;
  text-align: left;
  height: auto !important;
  display: block;
  position: relative;
}
.spike_list .spike_goods .spike_goods_info .spike_goods_info_txt {
  padding: 10px 16px 6px;
  display: block;
  position: relative;
  line-height: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.spike_list .spike_goods .spike_goods_info .spike_goods_info_txt .cond_l {
  width: 160px !important;
}
.spike_list .spike_goods .spike_goods_info .spike_goods_info_txt .cond {
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 1;
}
.spike_list .spike_goods .spike_goods_info .spike_goods_info_txt .cond i,
.spike_list .spike_goods .spike_goods_info .spike_goods_info_txt .cond del {
  display: block;
  line-height: 22px;
}
.spike_list .spike_goods .spike_goods_info .spike_goods_info_i {
  display: block;
  width: 188px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  background: #ea2e30;
  border-radius: 3px;
  margin: 0 auto;
}
.spike_list .spike_goods .spike_goods_info .noRushbuy {
  background: #3A59E1;
}
.spike_module {
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 222;
}
.spike_title1 {
  background-color: #ea2e30;
}
.spike_title {
  height: 48px;
  line-height: 48px;
  position: relative;
  overflow: hidden;
}
.spike_title1:before {
  border-top: 10px solid #ea2e30;
  border-left: 10px solid #ea2e30;
}
.spike_title:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 1;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.spike_title:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top: 14px solid #fff;
  border-right: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}
.spike_list1 {
  margin-left: -10px;
}
.spike_goods_link:hover .spike_goods_link_img {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.brand_item {
  float: left;
  margin: 0 0 25px 10px;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
  width: 590px;
  height: 410px;
  position: relative;
}
.brand_item:hover {
  opacity: .8;
}
.brand_item_lk {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.brand_item_btn {
  position: absolute;
  left: 370px;
  top: 104px;
  width: 99px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  border: 1px solid #d2ae52;
  display: block;
  color: #b0916a;
  font-size: 16px;
  z-index: 2;
}
.brand_item_btn:hover {
  background: #d2ae52;
  color: #fff;
}
.brand_item_img {
  display: block;
  width: 590px;
  height: 410px;
}
.brand_item_container {
  padding: 0 10px 8px;
  width: 570px;
  height: 220px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.brand_item_list {
  width: 570px;
  height: 220px;
  overflow: hidden;
}
.brand_item_list_item {
  width: 140px;
  height: 170px;
  overflow: hidden;
  padding: 25px;
  float: left;
}
.brand_item_list_item_img {
  margin-left: 8px;
  width: 130px;
  height: 130px;
}
