body{
	font-family: "微软雅黑";
	box-sizing: border-box;
}
#add_m{
	width:1010px;	
	margin-left: 515px;	
	box-sizing: border-box;
}
#add_m_top{
	width: 1010px;
	height: 50px;
	margin: 20px 0 15px 0;
	line-height: 50px;
	background-color: #ffffff;
	box-sizing: border-box;	
}
#add_m_top button{
	width: 125px;
	height: 30px;
	margin: 0 10px 0 2px;
	background-color:#f2faec ;
	border: 1px solid #72b440;
	box-shadow: inherit;	
	font-weight: bold;
}
#add_m_top span{
	color: #e01121;
	font-size: 12px;
}

.add_m_m{
	width: 1010px;
	height: 195px;
	margin: 0 0 15px 0;
	padding: 5px 15px 10px 20px;
	background-color: #ffffff;
	border: 2px solid #e3e3e3;
	box-sizing: border-box;	
}
.add_m_m ul:first-child{
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;	
}
.add_m_m ul:first-child li{
	float: left;
	margin-right: 20px;	
	color: #666666;
	font-weight: bold;
}
.add_m_m ul:first-child button{
	color: #ffffff;	
	background-color: #e60819;
	width: 77px;
	height: 30px;	
}
.add_m_m ul.fs_12px li{
	height: 23px;
	line-height: 23px;
	color: #a09f9f;		
}
.add_m_m ul.fs_12px li span{
	color: #666666;
	font-weight: bold;
	display: inline-block;
	margin-left: 5px;
}
.add_m_m div:last-child {
	margin-right: 20px;	
	text-align: right;
	box-sizing: border-box;
}
.add_m_m div:last-child a{
	color: #5c58f5;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
}
#add_m_bottom{
	width: 1010px;
	height: 50px;
	margin: 0 0 15px 0;
	line-height: 50px;	
	box-sizing: border-box;	
}
#add_m_bottom button{
	width: 125px;
	height: 30px;
	margin: 0 10px 0 2px;
	background-color:#f2faec ;
	border: 1px solid #72b440;
	box-shadow: inherit;	
	font-weight: bold;
}

#add_m_bottom span{
	color: #e01121;
	font-size: 12px;
}
















