body{
	width:1879px;
	background-color: #eeeeee;
	
	box-sizing: border-box;
}
#user_left{
	width:160px;
	height: 1038px;
	background-color: #FAFAFA;	
	margin:20px 0 100px 335px;	
	padding: 20px 0 90px 15px;
	box-sizing: border-box;	
}
#user_left ul{		
	margin: 23px 0 40px 35px;
}
#user_left ul li{
	margin-top: 15px;
}
#user_middle{
	width: 800px;
	box-sizing: border-box;
}
#middle_top{
	background: url("../img/user_center/usercenter_10.png") no-repeat;
	background-position: 30px 30px;
	width: 760px;
	height: 160px;
	margin: 20px 20px 15px 20px;
	padding: 0 15px 18px 160px;
	background-color: #FFFFFF;	
	box-sizing: border-box;		
}
#middle_top ul{
	padding-top: 50px;
}
#middle_top ul li{
	margin-bottom: 10px;
}
#middle_top dl{
	margin: 15px 35px 10px 0;	
}
#middle_top dl dd{
	margin-top: 5px;
}
#middle_r1{
	width:230px;
	height: 160px;
	margin:20px 0 15px 0;
	background-color: #ffffff;
	box-sizing: border-box;
}

#middle_r1 ul li {
	margin-left: 40px;	
}
#middle_r1 ul li i{
	color: #f14040;	
}
#middle_r1 ul li img{
	vertical-align: middle;
	margin-right: 8px;
}
#middle_r2{
	width: 230px;
	height: 430px;	
	padding:15px 10px 30px 15px;
	background-color: #ffffff;
	box-sizing: border-box;
}
#middle_r2 ul{
	margin-left: 15px;
	margin-top: 35px;
	margin-bottom: 0;
	box-sizing: border-box;
}
#middle_r2 ul li{	
	margin-bottom: 25px;
	height: 67px;		
}
#middle_r2 ul li img{
	vertical-align: middle;
	margin-right: 10px;
}
#middle_r2 ul li a{
	display: inline-block;
	vertical-align: middle;
}

#middle_myorder{
	width:760px;
	height: 200px;	
	margin:0 20px 15px 20px;
	background-color: #ffffff;	
	box-sizing: border-box;
}
#middle_myorder a{
	margin-right: 65px;	
}
#middle_poster{
	width:760px;
	height: 215px;
	margin:0 20px 15px 20px;
	background:url("../img/user_center/usercenter_04.png") no-repeat;
	box-sizing: border-box;
}
#middle_product{
	width: 1010px;
	margin:0 20px 15px 20px;	
	background-color: #ffffff;
	box-sizing: border-box;
}
#middle_product div:first-child,#middle_track div:first-child{
	height: 37px;	
	padding: 0 58px 0 0;
	line-height: 37px;
	background-color:#e01121 ;
	box-sizing: border-box;
}
#middle_product div:first-child a,#middle_track div:first-child a{
	color: #ffffff;
}
.p_show{
	padding: 20px 15px 25px 20px;
	min-height: 165px;
	box-sizing: border-box;	
}
.p_show dl {
	width:160px;
	margin-right: 40px;	
}
.p_show dl dt{
	text-align: center;
}
.p_show dl dd:last-child{
	text-align: center;
	color: #ff0202;
	font-weight: bold;
}

#middle_track{
	width:1010px;
	margin:0 20px 0 20px;
	background-color: #ffffff;
	box-sizing: border-box;
}

.fs_10px{
	font-size: 10px;
}
.fs_5px{
	font-size: 3px;
}
.myorder{		
	background-color: #e01121;
	width:760px;
	height:36px;	
	line-height: 36px;
	color:#Ffffff;	
	box-sizing: border-box;
}
.myorder a{
	color: #ffffff;
}
.order_f{
	margin:15px 12px 20px 12px;
	padding-bottom:15px ;
	border-bottom: 1px solid #eeeeee;
}
.order_in{
	margin:20px 60px 30px 35px;
	min-height: 60px;	
	text-align: center;
	box-sizing: border-box;
}
.order_in img{
	margin-right: 15px;
}
.order_in a{
	width: 100px;
	height: 26px;
	background-color: #e01121;	
	padding: 0;
	text-align: center;
	color: #FFFFFF;
	line-height: 26px;
}
.cheap{
	height: auto;
	padding:20px 40px 10px 15px;
	box-sizing: border-box;
}
div.cheap+ul li{
	margin-bottom:15px;
}
.u_logo{
	display: inline-block; 
	width:204px; height: 60px; 
	margin-left: -50px;
}
