<!--<script type="text/javascript" src="../../lib/js/swiper.min.js"></script>-->
<div class="calc_details" id="calc_display">
    <div class="calc_param">
        <h3 class="calc_title">
            <span class="calc_title_txt">计算参数</span>
        </h3>
        <div class="calc_panel">
            <div class="panel_title">
                <!--<span class="title_note">拼接面积：</span>-->
                <div class="info_group">
                    <div class="panel_title">
                        <span class="title_note">计算方式：</span>
                        <div class="note_r">
                            <div class="title_group" v-for="(tab_radio, index) in tab_radios">
                                <input :id="tab_radio.id" class="tab_radio" v-model="selected_radio" name="titleRadios" type="radio" :value="tab_radio.val">
                                <label :for="tab_radio.id">{{ tab_radio.tab_txt  }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="comput_group" v-if="selected_radio == 0">
                        <span class="title_note">拼接屏数量：</span>
                        <div class="title_group" >
                            <input id="area_01" class="tab_area" v-model="area_01" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')">
                            <i class="code_unit">行</i>
                        </div>   X
                        <div class="title_group" >
                            <input id="area_02" class="tab_area" v-model="area_02" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')">
                            <i class="code_unit">列</i>
                        </div>
                        <p class="error_message">请填写完整的拼接屏数量</p>
                    </div>
                    <div class="comput_group" v-if="selected_radio == 1">
                        <span class="title_note">预拼接宽度：</span>
                        <div class="title_group" >
                            <input id="area_w" class="code_list" v-model="area_w" type="text">
                            <em class="instruction">如：4米</em>
                        </div>
                        <p class="error_message">请填预拼接宽度</p>
                        <br>
                        <br>
                        <span class="title_note">预拼接高度：</span>
                        <div class="title_group" >
                            <input id="area_h" class="code_list" v-model="area_h" type="text">
                            <em class="instruction">如：4米</em>
                        </div>
                        <p class="error_message">请填预拼接宽度</p>
                    </div>
                </div>
            </div>
            <div class="panel_info">
                <div class="info_group">
                    <label class="code_txt">单元尺寸：</label>
                    <select class="code_list" v-model="size_val">
                        <option class="code_con" v-for="option in options" :value="option.value">
                            {{ option.text }} 寸
                        </option>
                    </select>
                </div>
                <div class="info_group"><label class="code_txt">安装方式：</label>机柜/支架</div>
                <!--<div class="info_group"><label class="code_txt">解码类型：</label>H.264编码/H.264编码</div>-->
                <div class="info_group" style="display: none">
                    <div class="group_list">
                        <label class="code_txt">屏幕大小：</label>
                        <div class="group_list_m">
                            <input id="area_03" class="tab_area" v-model="area_03" type="text">
                            <i class="code_unit">cm</i>
                        </div>   X
                        <div class="group_list_m">
                            <input id="area_04" class="tab_area" v-model="area_04" type="text">
                            <i class="code_unit">cm</i>
                        </div>
                    </div>
                </div>
                <div class="btn_group">
                    <button class="btn_default btn_green" @click = 'btn_submit_m()'>开始计算</button>
                    <button class="btn_default btn_red" @click = 'btn_reset()'>重置参数</button>
                </div>
            </div>
        </div>
    </div>
    <div class="calc_floor">
        <h3 class="calc_title">
            <span class="calc_title_txt">计算结果</span>
            <small class="calc_small_tit">提醒：此计算结果仅供参考</small>
        </h3>
        <div class="calc_panel">
            <div class="panel_state" v-if="selected_radio == 0">
                所需墙面面积为：<span class="state_red total_number"> W:{{ total_number.w }} * H:{{ total_number.h }} </span>㎡
            </div>
            <div class="panel_state" v-if="selected_radio == 1">
                所需拼接屏为：<span class="state_red total_number"> {{ total_number.w }} * {{ total_number.h }} </span>块
            </div>
        </div>
    </div>
    <div class="calc_floor calc_floor_none">
        <h3 class="calc_title">
            <span class="calc_title_txt">常见参照</span>
            <small class="calc_small_tit">提醒：拼接大屏对比参照</small>
        </h3>
        <div class="calc_panel">
            <!--<table class="calc_table" border="1">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th>名称</th>-->
            <!--<th>分辨率( 像素 )</th>-->
            <!--<th>码率( H.264 )</th>-->
            <!--<th>码率( H.264 )</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--</table>-->
            <img class="calc_table_img" src="../../img/CALC_20170810/calc_table_01.png">
        </div>
    </div>
    <div class="calc_floor floor_recommend">
        <h3 class="calc_title">
            <span class="calc_title_txt">精品推荐</span>
            <small class="calc_small_tit">为你推精品结果</small>
        </h3>
        <div class="calc_panel padd">
            <div class="calc_swiper">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <a class="swiper-slide" v-for="slide in slides" @click="btn_goods(slide)">
                            <div class="slide_pro">
                                <p class="pro_img"><img :src="slide.goods_img"></p>
                                <div class="pro_name" v-text="slide.name"></div>
                                <div class="pro_price" v-text="slide.shop_price"></div>
                            </div>
                        </a>
                    </div>
                    <!-- Add Pagination -->
                    <!--<div class="swiper-pagination"></div>-->
                    <div class="swiper-button-prev swiper-button-white"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="pop_error"></div>
</div>


