<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <title>优惠券_大家来采购网</title>
    <!--#include file="temp/userCenterHead.html" -->
</head>
<body>
<!-- 页面顶部 -->
<!--#include virtual="/lib/temp/page_title.html" -->
<!--#include virtual="/lib/temp/page_title2.html" -->
<!--#include file="temp/userCenterLeft.html" -->
<div class="width_main content_main">
    <div class="orders_content bg_white">
        <p class="order_con_title border_b coupon_title">
            <!--<span class="fr fs_14px curP">已过期(0)</span>-->
            <!--<span class="fr fs_14px curP">已使用(0)</span>-->
            <!--<span class="fr fs_14px curP">未使用(0)</span>-->
            <span class="fl f_c_333">优惠券</span>
        </p>
        <div class="coupon_text Nhide center" id="noCoupon">
            <img class="mar_t_45px " src="../img/order_null.png" />
            <p class="f_c_999 center mar_t_15px">暂无优惠券</p>
            <p class="center text-dec"><a class="curP red" href="../main.html">返回首页</a></p>
        </div>
        <!-- 优惠券 领取 -->
        <div class="coupon-receive" id="couponReceive">
            <div class="coupon-receive-main" v-for="item in list" style="background-image: url(../img/coupon_02.png);" v-if="item.rest_time > 0" @click="toInfoPage(item.goods_id)" v-cloak>
                <div class="main1">
                    <p><b class="fs_18px">{{item.val}}元</b>购物券</p>
                    <p class="mui-ellipsis-2 couponName">{{item.goods_name}}</p>
                </div>
                <div class="main2 receive-main2">
                    <span :id="item.goods_id">60</span>分钟后失效
                    <span class="coupon_use" @click="toInfoPage(item.goods_id)">去使用</span>
                </div>
            </div>
            <div class="coupon-receive-main" v-for="item in list" style="background-image: url(../img/coupon_03.png);" v-if="item.rest_time <= 0" v-cloak>
                <div class="main1">
                    <p style="color: #666;"><b class="fs_18px">{{item.val}}元</b>购物券</p>
                    <p class="mui-ellipsis-2 couponName" style="color: #999;">{{item.goods_name}}</p>
                </div>
                <div class="main2" @click="coupon(item.goods_id)">
                    <b style="font-size: 20px;width: 44px;line-height: 22px;padding:30px 14px;">重新领取</b>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#include file="temp/userCenterBottom.html" -->
<script type="text/javascript" src="/js/center/coupon.js"></script>
</body>
</html>
