<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <title>申请加盟商_大家来采购网</title>
    <!--#include file="temp/userCenterHead.html" -->
</head>
<body>
    <!-- 页面顶部 -->
    <!--#include virtual="/lib/temp/page_title.html" -->
    <!--#include virtual="/lib/temp/page_title2.html" -->
    <!--#include file="temp/userCenterLeft.html" -->
    <script type="text/javascript" src="/lib/js/jquery.cookie.js"></script>
    <div class="width_main" id="content_main">
        <div class="orders_content bg_white">
            <p class="order_con_title border_b">
                <span class="fr f_c_999 fs_14px pad_r_30px li_he_25px"> 注：<em>*</em> 为必填项目,如遇到申请问题请拨打：400-600-8028</span>
                <span class="fl f_c_333">申请加盟商</span>
            </p>
            <p class="mar_t_10px f_c_999 fs_14px li_he_30px">加盟商申请，需要经过以下步骤。</p>
            <div class="center">
                <ul class="title_schedule">
                    <li>
                        <hr style="border-bottom: 2px solid #59befe">
                        <span class="bg_green white" style="background: #59befe">1</span>
                        <p class="fs_14px li_he_25px  f_c_999 center mar_t_10px" style="color: #59befe">提交申请资料</p>
                    </li>
                    <li>
                        <hr>
                        <span>2</span>
                        <p class="fs_14px li_he_25px  f_c_999 center mar_t_10px">签订协议</p>
                    </li>
                    <li>
                        <hr>
                        <span>3</span>
                        <p class="fs_14px li_he_25px  f_c_999 center mar_t_10px">确认付款</p>
                    </li>
                    <li>
                        <hr>
                        <span>4</span>
                        <p class="fs_14px li_he_25px  f_c_999 center mar_t_10px">审核</p>
                    </li>
                </ul>
            </div>
            <div class="apply_table" id="personnel_container">
                <p class="mar_t_30px f_c_999 fs_14px li_he_30px">请填写公司人员配置基本资料</p>
                <table class="mar_t_20px">
                    <tbody>
                    <tr>
                        <th class="center" width="15%">职务</th>
                        <th class="center">姓名</th>
                        <th class="center">电话</th>
                        <th class="center">手机</th>
                        <th class="center">Email</th>
                        <th width="8%" style="background-color: #fff"></th>
                    </tr>
                    <tr v-for="item in personnel1_list">
                        <td v-cloak><span>*</span>{{item.position}}</td>
                        <td v-cloak><input class="noNull" type="text" maxlength="10" v-model="item.name"/></td>
                        <td v-cloak><input class="noNull" type="text" maxlength="12" v-model="item.phone"/></td>
                        <td v-cloak><input class="noNull" type="text" maxlength="11" v-model="item.mobile"/></td>
                        <td v-cloak><input class="noNull" type="text" maxlength="20" v-model="item.email"/></td>
                        <td v-cloak class="red center Nhide">必填</td>
                    </tr>
                    </tbody>
                </table>
                <table class="mar_t_20px">
                    <tbody>
                    <tr>
                        <th class="center" width="15%">负责人</th>
                        <th class="center">职务</th>
                        <th class="center">姓名</th>
                        <th class="center">电话</th>
                        <th class="center">手机</th>
                        <th class="center">Email</th>
                        <th width="8%" style="background-color: #fff"></th>
                    </tr>
                    <tr v-for="item in personnel2_list">
                        <td v-cloak><span>*</span>{{item.product_role}}</td>
                        <td v-cloak><input class="noNull" type="text" maxlength="10" v-model="item.position"/></td>
                        <td v-cloak><input class="noNull" type="text" maxlength="10" v-model="item.name"/></td>
                        <td v-cloak><input class="noNull" type="text" maxlength="12" v-model="item.phone"/></td>
                        <td v-cloak><input class="noNull" type="text" maxlength="11" v-model="item.mobile"/></td>
                        <td v-cloak><input class="noNull" type="text" maxlength="20" v-model="item.email"/></td>
                        <td v-cloak class="red center Nhide">必填</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="center li_he_40px mar_t_45px"><span id="ww" class="apply_btn curP fs_14px white next" onclick="verificationNext()">下一步</span></div>
        </div>
    </div>
    <!--#include file="temp/userCenterBottom.html" -->
    <div id="alert_zhezhao" class="Nhide">
        <div class="bg_zhezhao">
        </div>
        <div class="zhezhao_main center">
            <p class="center li_he_40px f_c_333 fs_14px">请先认证为企业用户</p>
            <button class="btn mar_t_40px" onclick="location.href='/center/authentication_data.html?infoid=6'">确定</button>
        </div>
    </div>
    <script type="text/javascript" src="/js/center/franchisee_apply.js"></script>
</body>
</html>