<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--#include file="lib/temp/pageMeta.html" -->
    <title>城市合伙人_大家来采购网</title>
    <link rel="stylesheet" type="text/css" href="lib/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/global.css"/>
    <link rel="stylesheet" href="css/cityPartner_02.css"/>
</head>
<body>
<div class="myScroll">
    <!--首屏-->
    <div class="wrap bg01 on">
        <div class="first_box">
            <img src="img/citypar_01.png">
            <button class="btm_btn" id="btm_btn"></button>
        </div>
    </div>
    <!--合伙人介绍-->
    <div class="wrap bg02">
        <div class="introduction_box">
            <div class="bg02_content">有些人等着被世界改变<br>而大家来正在改变世界</div>
            <div class="income_box_txt">
                <dl class="dl_01">
                    <dt class="box_dt"><span class="bg_border_active"><i>城市合伙人简介</i></span></dt>
                    <!--<dd class="box_dd">1、经大家来采购网评估审核,授权在指-->
                    <!--定区域对大家来采 购网平台上的产品，-->
                    <!--进行销售并提供售后服务的企业或个人-->
                    <!--称为城市合伙人。-->
                    <!--</dd>-->
                    <!--<dd class="box_dd">2、我们为您提供平台上所有分类商品。</dd>-->
                    <!--<dd class="box_dd">3、我们授权您所属区域内平台指定的-->
                    <!--售后服务类产品。</dd>-->
                    <!--<dd class="box_dd">4、所有交易均在大家来采购网平台或-->
                    <!--手机APP完成。</dd>-->
                </dl>
            </div>
        </div>

    </div>
    <!--合伙人条件-->
    <div class="wrap bg03">
        <div class="requirement_box">
            <!--<img src="img/citypar_03.png">-->
            <div class="bg_03_up">
                <!--<div class="box_show">-->
                <!--<img class="box_show_01" src="img/city_show_01.png">-->
                <!--</div>-->
                <div class="income_box_txt">
                    <!--<div class="bg03_title">是大众，&nbsp;&nbsp;亦不凡</div>-->
                    <!--<dl class="dl_01">-->
                    <dt class="box_dt"><span class="bg_border_active"><i>丰厚的收益</i></span></dt>
                    <!--<dd class="box_dd">1、服务及项目收益3%-8% 承接自己熟悉的品牌在所属区域内的售后服务 赚取相应利润.-->
                    <!--</dd>-->
                    <!--<dd class="box_dd">2、平台产品收益5%-15%销售平台上所有品牌商品的利润。</dd>-->
                    <!--<dd class="box_dd">3、团队发展收益5%-10%发展当地区域行业内的销售人员作为兼职销售。</dd>-->
                    <!--</dl>-->
                </div>
            </div>
            <div class="bg_03_btm">
                <dl class="dl_02">
                    <dt class="box_dt"><span class="bg_border_active"><i>合伙人申请流程</i></span></dt>
                    <!--<dd><img class="dd_flow" src="img/city_par_03.png"></dd>-->
                </dl>
            </div>
        </div>
    </div>
    <!--合伙人收益-->
    <div class="wrap bg04">
        <div class="income_box">
            <div class="income_box_title">互联网时代，未来由我们创造。</div>
            <div class="income_box_txt">
                <dl class="dl_01">
                    <dt class="box_dt"><span class="bg_border_active"><i>合伙人需具备条件</i></span></dt>
                    <!--<dd class="box_dd">1、工程商，集成商：具有一定数量的技术、施工团队及销售团队</dd>-->
                    <!--<dd class="box_dd">2、品牌商、代理经销商、工程集成商销售精英。</dd>-->
                    <!--<dd class="box_dd">3、一、二、三线品牌产品的代理、经销企业。</dd>-->
                </dl>
                <div class="form_normal">
                    <p class="box_dt"><span class="bg_border_active"><i>洞察未来，加入我们</i></span></p>
                    <div class="row_left">
                        <div class="row_02">
                            <label for="user_name">姓名：</label>
                            <input type="text" id="user_name" value="">
                        </div>
                        <div class="row_02">
                            <label for="user_tel">电话：</label>
                            <input type="text" id="user_tel" value="">
                        </div>
                        <div class="row_01">
                            <label for="user_industry">行业：</label>
                            <input type="text" id="user_industry" value="">
                        </div>
                        <div class="row_01">
                            <label for="user_company">公司：</label>
                            <input type="text" id="user_company" value="">
                        </div>
                        <!--<div class="row_01">
                            <label for="user_addr">地址：</label>
                            <input type="text" id="user_addr" value="">
                        </div>-->
                        <div class="row_01">
                            <label class="user_addr">地址：</label>
                            <div class="province mar_l_35px fr border" id="City">
                                <select id="s_city" name="s_city" data="true">
                                    <option v-for="option in options" v-bind:value="option.region_id">
                                        <span v-cloak>{{ option.region_name }}</span>
                                    </option>
                                </select>
                                <i class="icon_down"></i>
                            </div>
                            <div class="province fr border" id="Province">
                                <select id="s_province" name="s_province" data="true">
                                    <option v-for="option in options" v-bind:value="option.region_id">
                                        <span v-cloak>{{ option.region_name }}</span>
                                    </option>
                                </select>
                                <i class="icon_down"></i>
                            </div>
                        </div>

                    </div>
                    <div class="row_right">
                        <button type="submit" class="submit_btn">提交</button>
                        <button type="button" class="link_service_btn">联系客服</button>
                    </div>
                </div>
            </div>
            <div class="swiper-main">

            </div>
        </div>
    </div>
    <!--合伙人晋升-->
    <!--<div class="wrap bg05">-->
    <!--<div class="promotion_box">-->

    <!--</div>-->
    <!--</div>-->
    <!--如何成为合伙人-->
    <!--<div class="wrap bg06">-->
    <!--<div class="help_box">-->

    <!--</div>-->
    <!--</div>-->
</div>
<!--导航-->
<div class="nav">
    <a href="javascript:;" class="active"></a>
    <a href="javascript:;" class=""></a>
    <a href="javascript:;" class=""></a>
    <a href="javascript:;" class=""></a>
    <a href="javascript:;" class=""></a>
    <a href="javascript:;" class=""></a>
    <span class="on"></span>
</div>

<div class="pop_success">
    <div class="s_inner">
        <div class="s_title">提示<span class="s_tit_close">X</span></div>
        <div class="s_txt">
            <p>大家来采购网已经收到了您提交的申请信息,我们会尽快与您联系！</p>
            <button class="s_yes">确定</button>
        </div>

    </div>
</div>
<script type="text/javascript" src="lib/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="lib/js/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/common.js"></script>
<script type="text/javascript" src="lib/js/global.js"></script>
<script type="text/javascript" src="js/cityPartner_02.js?time=New Date()"></script>
<script type="text/javascript">
    var deviceWidth = document.documentElement.clientWidth;
    if(deviceWidth > 1920) deviceWidth = 1920;
    document.documentElement.style.fontSize = deviceWidth / 19.20 + 'px';

    $(window).resize(function(){
        location.reload();
        window.location.href = "cityPartner.html"
    });

    window.onresize = function () {
        location.reload();
    }

    var browerObj = checkBrowser();
    //loadcss
    function loadCss(url) {
        var myLink = document.createElement("link");
        myLink.rel = "stylesheet";
        myLink.type = "text/css";
        myLink.href = url;
        document.getElementsByTagName("head")[0].appendChild(myLink);
    }
    // 浏览器判断
    function checkBrowser(){
        var u = window.navigator.userAgent.toLocaleLowerCase(),
            msie = /(msie) ([\d.]+)/,
            chrome = /(chrome)\/([\d.]+)/,
            firefox = /(firefox)\/([\d.]+)/,
            safari = /(safari)\/([\d.]+)/,
            opera = /(opera)\/([\d.]+)/,
            ie11 = /(trident)\/([\d.]+)/,
            b = u.match(msie)||u.match(chrome)||u.match(firefox)||u.match(safari)||u.match(opera)||u.match(ie11);
        return {name: b[1], version: parseInt(b[2])};
    }
</script>
</body>
</html>