<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--#include file="lib/temp/pageMeta.html" -->
    <title>电商日分会场_大家来采购网</title>
    <link rel="stylesheet" type="text/css" href="lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/special_district_f.css"/>
</head>
<body>
<!-- 头部 -->
<div id="titleTemp_main"></div>
<div id="titleTemp2_main"></div>

<ul class="double12_floor fs_12px" id="floor">
    <a href="double12.html"><img style="width: 100%" src="img/double0606_top.jpg?t=201706031527" /></a>
    <a href="double12.html"><ol><span>主会场</span><img src="img/HOT.png" /></ol></a>
    <li class="white text_hide" v-for="brand in list" @click="toList(brand.brand_id)"><span v-cloak>{{brand.brand_name}}</span></li>
    <ol class="putAway"><span>收起导航</span><img src="/img/icon-putAway.png"/></ol>
</ul>
<ul class="open_menu">
    <div class="putAway_content">
        <p class="white li_he_20px">狂欢再续</p>
        <i class="icon_brand_more"></i>
    </div>
</ul>

<div id="double_list3">
    <div class="double_bg width_main">
        <img class="banner2 img_banner" src="img/double0606.jpg?t=201706031527" />
        <div class="scrollText img_banner">
            <!--<img class="img1" src="img/double12_01.png" />-->

            <div class="img_banner_text text_hide" :title="list.brands.brand_name">
                <!--<img :src="list.brands.brand_logo" />-->
                <span class="fs_24px" style="color: yellow;" v-cloak>{{list.brands.brand_name}}专场</span>
            </div>
            <!--<img class="img2" src="img/double12_02.png" />-->
            <!--<p class="fs_18px white center double12_time">活动时间：<span class="xtz">12月12日-12月15日</span></p>-->
        </div>
    </div>
    <div class="background3 width_main">
        <div class="background3_fz"></div>
        <!--<p class="fs_24px white center double_title width_main"></p>-->
        <div class="width_main">
            <ul class="over_hide double_list">
                <li class="double_list_li pos_rel" v-for="goods in list.goods">
                    <div class="img" @click="toInfo(goods.goods_id)">
                        <img :src="goods.goods_thumb" />
                    </div>
                    <p class="li_he_20px f_c_333 textHide fs_14px mar_t_15px curP" @click="toInfo(goods.goods_id)" v-cloak>{{goods.act_name}}</p>
                    <p class="red2 mar_t_10px activity_price"><span class="fs_14px">抢购价：</span><b class="fs_18px" v-cloak>{{goods.activity_price}}</b></p>
                    <p @click="toInfo(goods.goods_id)" class="panic_buy white fs_16px"><span>立即抢购</span></p>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 底部 -->
<div id="bottomTemp_main" style="margin-top: -20px"></div>

<!-- 侧边栏 -->
<div id="sidebarTemp_main"></div>

<script type="text/javascript" src="lib/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="lib/js/common.js"></script>
<script type="text/javascript" src="lib/js/global.js"></script>
<script type="text/javascript" src="lib/js/vue.js" ></script>
<script type="text/javascript" src="js/double12.js" ></script>
<script type="text/javascript">
    double12_f();
</script>
</body>
</html>