<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--#include file="lib/temp/pageMeta.html" -->
    <meta name="baidu-site-verification" content="SHFOiVE0I0" />
    <title>大家来采购网</title>
    <link rel="stylesheet" type="text/css" href="lib/css/global.css?v=20170321"/>
    <link rel="stylesheet" type="text/css" href="lib/css/main.css?v=20170703"/>
    <link rel="stylesheet" type="text/css" href="css/main.css?v=20170703"/>

    <!-- Link Swiper's CSS -->
    <!--<link rel="stylesheet" href="lib/css/swiper.min.css">-->
    <link rel="stylesheet" href="lib/css/swiper-3.4.2.min.css">
    <script type="text/javascript" src="lib/js/vue.js"></script>
    <script type="text/javascript" src="lib/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="lib/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="lib/js/common.js"></script>
    <style type="text/css">
        img:hover{
            opacity: .9;
        }
        .title2_menu ul li:first-child{
            background-color: #635f5f !important;
        }
    </style>
</head>
<body>

    <!--  首页头部横幅 Swiper -->
    <div class="swiper-container3">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide1">
                <div class="pos_rel">
                    <a target="_blank" href="http://mp.weixin.qq.com/s/aA-6VLqTd-Qk2kzKZV5hPg">
                        <img src="/img/double12/db_item_ad_03.png" class="swiper_img"/>
                    </a>
                    <img src="/img/swiper_clear.png" class="swiper_clear"/>
                </div>
            </div>-->
            <!--<div class="swiper-slide swiper-slide2">
                <div class="pos_rel">
                    <a target="_blank" href="spike.html">
                        <img class="swiper_img" src="/img/swiper_spike.jpg"/>
                    </a>
                    <img src="/img/swiper_clear.png" class="swiper_clear"/>
                </div>
            </div>-->
        </div>
    </div>
    <!-- 头部 -->
    <div id="titleTemp_main"></div>
    <div id="titleTemp2_main"></div>

    <div class="scroll_top" style="background: rgba(217,44,44,.9)">
        <div class="width_main">
            <img src="img/icon-logo2.png" class="mar_t_5px fl" />
            <div class="title3_input fl" style="margin-top: 9px">
                <input type="text" placeholder="请输入您要搜索的商品信息" id="scroll_top_input">
                <span class="title_input fr bg_red border_red curP" id="searchInput" style="height: 32px;width: 40px"></span>
                <ul class="search_result3 fs_12px f_c_666" id="search_result3">
                    <li v-for="a in list"><p class="fl"><span class="suggest">{{a.suggest}}</span><span class="Nhide">{{a.py}}</span></p><span class="fr mar_r_10px">约{{a.count}}个</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div style="width: 100%;" class="box_inset1">
        <div class="title_menu_swiper" id="bannerImgTemp">
            <!-- Swiper -->
            <div class="width_main pos_rel" style="z-index: 1;">
                <a href="javascript:void(0)">
                    <!--<img class="double12_left curd" src="/img/summer_right.png" />-->
                </a>
                <a href="sell_hot.html" style="display: none;"><img class="double12_right" src="/img/20170729/db_item_03.png" /></a>
                <div class="swiper-container swiper-container1 pos_rel" style="width:715px;height: 368px;margin-left: 210px;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-no-swiping" v-for="a in result">
                            <a target="_blank" :href="a.link"><img :src="a.img" style="opacity: 1;width:715px;height: 368px;"/></a>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="pagination1 pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white arrow-right"></div>
                    <div class="swiper-button-prev swiper-button-white arrow-left"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="width_main">
        <div class="title_menu_img">
            <ul class="swiper_text_main bg_white">
                <a target="_blank" href="/product_list.html?keywords=讯道"><li class="menu_swiper_text fl"><img src="img/20170804/advertising04.png?t=201708041449" alt=""/></li></a>
                <a target="_blank" href="/product_list.html?keywords=海云海量"><li class="menu_swiper_text fl" style="margin-right: 0"><img src="img/20170804/advertising03.png?t=201708041449" alt=""/></li></a>
            </ul>
        </div>
    </div>
    <div class="width_main pos_rel" style="z-index: 1;">
        <!--<div class="menu_bottom_line"></div>-->
        <!--<a href="javascript:void(0)"><img class="double12_right" src="/img/double12_right.png" /></a>
        <a href="javascript:void(0)"><img class="double12_left" src="/img/double12_left.png" /></a>-->
        <div class="menu_login">
            <div class="pos_rel box_inset1">
                <div class="menu_login_title over_hide">
                    <div class="login_false">
                        <div class="mar_l_10px pos_rel z_index1 white">
                            <p class="fs_13px"></p>
                            <p class="fs_12px mar_t_10px li_he_15px"></p>
                        </div>
                        <!--<div class="login_title_bg"></div>-->
                    </div>
                    <div class="menu_login_title2 login_true" id="identif">
                        <a href="/center/index.html?infoid=1" target="_blank">
                            <img v-cloak class="fl login_img" v-if="list.image" :src="list.image" />
                            <img v-cloak class="fl login_img" v-if="!list.image" src="img/icon-avatar.png" />
                        </a>
                        <div class="login_title2_text fl">
                            <p class="fs_14px f_c_333 text_hide">Hi，<a href="/center/index.html?infoid=1" target="_blank"><span class="f_c_333" id="userName"></span></a></p>
                            <div class="login_true_rz" v-cloak>
                                <p class="fs_12px f_c_999">会员级别： <span class="blue">{{list.rank_name}}</span><img class="mar_l_10px curP fr login_help" src="img/icon_help.png" title="会员级别说明" /></p>
                                <p class="login_img_help f_c_666 fs_12px">
                                    <span class="triangle"></span>
                                    <span class="triangle2"></span>
                                    会员级别说明：<br>　　大家来的会员级别共分为7个等级，分别为：<a class="red">注册会员、VIP会员、铜牌会员、银牌会员、金牌会员、白金会员、钻石会员。</a>会员级别的升降均由系统自动处理，无需申请。会员级别由购买值（即实际采购额）决定，购买值越高会员等级越高，享受到的会员权益越大。
                                    <a target="_blank" class="red" href="/help/issues.html?id=37&infoid=4">了解更多》</a>
                                </p>
                            </div>
                            <p v-cloak v-if="list.usertype_id==1" class="fs_12px f_c_999 login_false_rz" style="width: 173px">公司资质尚未认证 <a href="/center/authentication_data.html?infoid=6"><span class="blue curP">【立即认证】</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="login_title_login fs_14px border_b1">
                    <div class="login_false">
                        <p><!--<i class="icon_login1 fl"></i>--><a href="login.html">立即登录</a></p>
                        <p><!--<i class="icon_login2 fl"></i>--><a href="register.html">免费注册</a><span class="login_mask"></span></p>
                    </div>
                    <ul class="over_hide bg_whait login_true border_t1" id="login_temp">
                        <div class="login_goods" v-cloak>
                            <a target="_blank" href="/center/orders.html"><span class="red">{{list.waitpay}}</span></a>
                            <a target="_blank" href="/center/orders.html"><span class="red">{{list.waitreceive}}</span></a>
                            <a target="_blank" href="center/my_message.html?infoid=11"> <span class="f_c_999">{{list.sum}}</span></a>
                        </div>
                        <a target="_blank" href="/center/orders.html"><li class="login_goods_first">待付款</li></a>
                        <a target="_blank" href="/center/orders.html"><li>待收货</li></a>
                        <a target="_blank" href="center/my_message.html"><li>我的消息</li></a>
                    </ul>
                </div>
                <div class="login_bulletin fs_13px f_c_666 border_b1 pos_rel">
                    <p data-url="#login_tab1">公告</p>
                    <p data-url="#login_tab2">新闻资讯</p>
                    <p data-url="#login_tab3">招投标信息</p>
                    <div class="xq_move1"></div>
                </div>
                <div id="login_tab" v-cloak>
                    <div class="login_bulletin_content fs_12px f_c_666" style="display:block;" id="login_tab1">
                        <li v-for="list in result.dongtai_list"><a target="_blank" class="text_hide" :title="list.title" :href="list.typedir">{{list.title}}</a></li>
                    </div>
                    <div class="login_bulletin_content fs_12px f_c_666" id="login_tab2">
                        <li v-for="list in result.news_list"><a target="_blank" class="text_hide" :title="list.title" :href="list.typedir">{{list.title}}</a></li>
                    </div>
                    <div class="login_bulletin_content fs_12px f_c_666" id="login_tab3">
                        <li v-for="list in result.toubiao"><a target="_blank" class="text_hide" :title="list.title" :href="list.typedir">{{list.title}}</a></li>
                    </div>
                </div>
                <div class="login_bulletin_more fs_12px"><a target="_blank" href="http://djlzix.com/">更多</a></div>
                <div class="login_moving">
                    <div class="moving_left">新品<br>动态</div>
                    <div id="moving_content">
                        <a target="_blank" :href="'/product_list.html?keywords='+lists.brand_name" class="f_c_666 text_hide" v-for="lists in list" v-cloak><span>{{lists.brand_name}}</span> 新进{{lists.goods_num}}{{lists.unit}}商品</a>
                    </div>
                </div>
            </div>
            <div class="fs_13px f_c_666 login_menu_content over_hide bg_white box_s1 pad_b_10px">
                <a target="_blank" href="/service/service_install.html"><li><i class="icon_login_menu mar_l_10px" style="background-position: -30px -33px;width: 28px;height: 28px;"></i><p class="f_c_666">安装服务</p></li></a>
                <a target="_blank" href="/service/service_project.html"><li><i class="icon_login_menu mar_l_10px" style="background-position: -114px -34px;width: 29px;height: 27px;margin-top: 1px;"></i><p class="f_c_666">工程检测</p></li></a>
                <a target="_blank" href="/service/service_qualification.html"><li><i class="icon_login_menu mar_l_10px" style="background-position: -196px -30px;width: 30px;height: 30px;"></i><p class="f_c_666">资质合作</p></li></a>
                <a target="_blank" href="/help/index.html"><li><i class="icon_login_menu mar_l_10px" style="background-position: -31px -108px;width: 27px;height: 30px;"></i><p class="f_c_666">帮助中心</p></li></a>
                <a target="_blank" href="/logistics_query.html"><li><i class="icon_login_menu mar_l_10px" style="background-position: -112px -108px;width: 29px;height: 30px;"></i><p class="f_c_666">物流查询</p></li></a>
                <a target="_blank" href="/about_us.html?infoid=1"><li><i class="icon_login_menu mar_l_10px" style="background-position: -197px -108px;width: 33px;height: 30px;"></i><p class="f_c_666">关于我们</p></li></a>
            </div>
        </div>
    </div>
    <div class="width_main">
        <ul id="main_floor" class="left_floor fs_12px white">
            <p>导航栏<span class="triangle3"></span></p>
            <li v-for="a in result" v-cloak><span>{{a.name}}</span></li>
            <div class="backTop" onClick="com.backTop();"><img style="margin: 3px 27.5px" src="/img/backTop.png" />回到顶部</div>
            <!--<li>信息设施</li>-->
            <!--<i class="icon_left_floor"></i>-->
        </ul>
        <!--<ul class="fs_14px f_c_666 main_content pos_rel">
            <p class="fl fs_18px f_c_333 mar_r_45px mar_l_35px curd f_b">今日推荐</p>
            &lt;!&ndash;<li data-url="#main_con_tab1" data="4" class="border_b2_red">特价抢购</li>&ndash;&gt;
            <li data-url="#main_con_tab2" data="2">新品上市</li>
            <li data-url="#main_con_tab4" data="3">热卖商品</li>
            <li data-url="#main_con_tab3" data="1">推荐商品</li>
            <div class="xq_move"></div>
        </ul>
        <div class="width_main pos_rel">
            <div class="menu_bottom_line1"></div>
        </div>
        &lt;!&ndash;<ul class="fs_13px main_content_img over_hide" style="display: block" id="main_con_tab1">
            <li class="pos_rel" v-for="a in result">
                <span class="bg_line_red white bor_rad_5px pos_abs main_con_img_gz" :url="a.id">关注</span>
                <div v-on:click="toList(a.url)">
                    <img class="mar_t_20px today_rec_img" v-bind:src="a.thumb" />
                    <p class="f_c_333 mar_t_25px curP" v-cloak>{{a.name}}</p>
                    <p class="fs_16px mar_t_13px orange" v-cloak>{{a.shop_price}}</p>
                </div>
            </li>
        </ul>&ndash;&gt;
        <ul class="fs_13px main_content_img over_hide" style="display: block" id="main_con_tab2">
            <li class="pos_rel" v-for="a in result">
                <span class="bg_line_red white bor_rad_5px pos_abs main_con_img_gz" :url="a.id">关注</span>
                <div class="today_href" :id="a.id">
                    <img class="mar_t_20px today_rec_img" v-bind:src="a.thumb" :title="a.name"/>
                    <p class="f_c_333 mar_t_25px curP text_hide3" :title="a.name" v-cloak>{{a.name}}</p>
                    <p class="fs_18px mar_t_13px orange" v-cloak>{{a.shop_price}}</p>
                </div>
            </li>
        </ul>
        <ul class="fs_13px main_content_img over_hide" id="main_con_tab3">
            <li class="pos_rel" v-for="a in result">
                <span class="bg_line_red white bor_rad_5px pos_abs main_con_img_gz" :url="a.id">关注</span>
                <div class="today_href" :id="a.id">
                    <img class="mar_t_20px today_rec_img" v-bind:src="a.thumb"   :title="a.name"/>
                    <p class="f_c_333 mar_t_25px curP text_hide3" :title="a.name" v-cloak>{{a.name}}</p>
                    <p class="fs_16px mar_t_13px orange" v-cloak>{{a.shop_price}}</p>
                </div>
            </li>
        </ul>
        <ul class="fs_13px main_content_img over_hide" id="main_con_tab4">
            <li class="pos_rel" v-for="a in result">
                <span class="bg_line_red white bor_rad_5px pos_abs main_con_img_gz" :url="a.id">关注</span>
                <div class="today_href" :id="a.id">
                    <img class="mar_t_20px today_rec_img" v-bind:src="a.thumb" :title="a.name"/>
                    <p class="f_c_333 mar_t_25px curP text_hide3" v-bind:title="a.name" v-cloak>{{a.name}}</p>
                    <p class="fs_16px mar_t_13px orange" v-cloak>{{a.shop_price}}</p>
                </div>
            </li>
        </ul>-->
        <ul class="fs_14px f_c_666 main_content_today pos_rel">
            <ol class="fs_18px white fl f_b mar_l_25px">今日推荐</ol>
            <ol class="fs_16px fl pos_rel"><a class="white"  target="_blank" href="#">实时放送最新上市产品,最热产品&nbsp;&nbsp;&nbsp;让您省钱又省事！<i class="box_subtit_arrow"></i></a></ol>
        </ul>
        <div class="over_hide pos_rel">
            <div class="today_fl">
                <!--swiper-->
                <div class="swiper-container swiper-container4">
                    <div class="swiper-wrapper fs_13px main_content_img" id="main_con_today">
                        <li class="swiper-slide pos_rel swiper-no-swiping" v-for="a in result">
                            <!--<span class="bg_line_red white bor_rad_5px pos_abs main_con_img_gz" :url="a.id">关注</span>-->
                            <a  target="_blank" :href="'product_list_info.html?infoId='+a.id">
                                <div class="today_href">
                                    <img v-if="(a.watermark_img != '')" class="icon_activity" :src="a.watermark_img" />
                                    <img class="mar_t_20px today_rec_img" v-bind:src="a.thumb" :title="a.name"/>
                                    <h3 class="f_c_999 mar_t_20px curP text_hide3" v-bind:title="a.name">{{a.name}}</h3>
                                    <h3 class="fs_16px mar_t_5px orange f_b">{{a.shop_price}}</h3>
                                    <span class="sk_item_shadow"></span>
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="swiper-button-next swiper-button-white today-right"></div>
                    <div class="swiper-button-prev swiper-button-white today-left"></div>
                </div>
            </div>
            <div class="today_fr bg_white">
                <a class="Nshow center" href="sell_hot.html" target="_blank" href="#"><img src="img/RX_20170810/today_think_01.png?time=20177141745" alt=""/></a>
            </div>
        </div>
        <ul class="fs_14px f_c_666 main_content">
            <ol class="fs_18px f_c_333 fl f_b">品牌区 <span class="HOT white fs_12px">HOT</span></ol>
            <ol class="fs_14px f_c_999 fl mar_l_25px">超过3000家中上游品牌厂商，严格筛选，直接厂商授权供货，产品质量稳定可靠、售后服务及时到位</ol>
        </ul>

        <ul class="main_brand_zone" id="brandTemp">
            <!--<div class="brand_list_img fl bg_white border_r">
                &lt;!&ndash;<img src="img/brand-img.png"/>&ndash;&gt;
                <a href="http://djlcg.com/NewBrandZone.html?id=455"><img src="img/brand_ad1.png"/></a>
                &lt;!&ndash;<img v-bind:src="maxImg" />&ndash;&gt;
            </div>-->
            <li v-for="a in result">
                <img v-bind:src="a.logo" />
                <p class="pos_rel brand_list_mask">
                    <span class="fs_18px white" v-cloak>{{a.brand_name}}</span><br/>
                    <a class="HOT2 fs_12px white" @click="toBrand(a.url)">点击进入</a>
                </p>
            </li>
            <li class="brand_main_more curP">
                <a href="/BrandZone_More.html">
                    <p class="fs_14px brand_list_more">
                        <span class="mar_l_25px">查看更多</span>
                        <i class="icon_brand_more fr"></i>
                    </p>
                </a>
            </li>
        </ul>
    </div>

    <div class="width_main over_hide" id="floorTemp">
        <div class="floor floor_temp pos_rel over_hide" v-for="(a, index) in result">
            <span class="fs_18px f_c_333 main_content2_title f_b" :id="a.id" v-cloak><span :class="'floor' + index">{{index/2 + 1 / 2}}F</span><span class="mar_l_10px">{{a.name}}、{{a.name1}}</span></span>
            <ul class="fs_14px f_c_666 main_content2">
                <li class="main_content2_active">热销</li>
                <li v-for="b in a.cat_id"><a :id="b.id" v-on:click="toListInfo(b.url)" v-cloak>{{b.name}}</a></li>
            </ul>
            <br>
            <ul class="fs_13px main_content_img2 main_floor fl" style="display: block">
                <p></p>
                <div class="main_floor_img fl">
                    <a target="_blank" :href="a.img_url">
                        <!--<img src="img/xiaomi_erji.png" />-->
                        <img :src="a.img" />
                    </a>
                    <div class="move_buy"></div>
                </div>
                <div class="floor_right_main fl">
                    <li class="pos_rel" v-for="p in a.goods">
                        <img v-if="(p.watermark_img != '')" class="icon_activity" :src="p.watermark_img" />
                        <span class="bg_line_red white bor_rad_5px pos_abs main_con_img_gz" :url="p.id">关注</span>
                        <div v-on:click="toListInfo2(p.url)">
                            <img class="floor_max_img curP" v-bind:src="p.thumb" :title="p.name"/>
                            <span class="sk_item_shadow"></span>
                            <p class="f_c_333 mar_t_30px remark_text1 curP text_hide3" :title="p.name" v-cloak>{{p.name}}</p>
                            <p class="fs_12px mar_t_9px remark_text2 f_c_999 text_hide pro-intro" :title="p.brief" v-cloak>{{p.brief}}</p>
                            <p class="fs_16px mar_t_9px orange pro-price" v-cloak >{{p.shop_price}}</p>
                        </div>
                    </li>
                    <dl class="main_floor_brand bg_white fl">
                        <dd v-for="g in a.brand" @click="toList(g.brand_name)">
                            <img class="mar_t_30px" v-bind:src="g.logo" />
                            <!--<img src="img/xiaomi2.png" />-->
                        </dd>
                    </dl>
                </div>
            </ul>
            <div class="fl mar_t_10px" style="width: 100%;" v-if="a.adse.img">
                <a target="_blank" :href="a.adse.link">
                <img :src="a.adse.img" />
                </a>
            </div>
        </div>
    </div>

    <div class="width_main" style="height: 315px">
        <div class="fl">
            <ul class="fs_14px f_c_666 main_content3 mar_t_15px" style="width: 600px">
                <li class="fs_18px f_b"><a class="f_c_333" target="_blank" href="http://djlzix.com/a/webbase/">智慧百科</a></li>
                <li><a target="_blank" href="http://djlzix.com/a/zixun/">新闻资讯</a></li>
                <li><a target="_blank" href="http://djlzix.com/a/jiejuefangan/">解决方案</a></li>
                <li><a target="_blank" href="http://djlzix.com/a/zhaotoubiaoxinxi/">招投标信息</a></li>
                <li><a target="_blank" href="http://djlzix.com/a/downloads/">资料下载</a></li>
                <li><a target="_blank" href="http://djlzix.com/a/huodong/">活动</a></li>
            </ul>
            <div class="fl main_floor_news" id="artL">
                <div class="news_img border bg_white">
                    <!-- Swiper -->
                    <div class="swiper-container swiper-container2 pos_rel">
                        <div class="swiper-wrapper">
                            <div v-for="list in result.new_things" class="swiper-slide swiper-no-swiping" >
                                <a target="_blank" :href="list.typedir">
                                    <img :src="list.litpic" />
                                </a>
                                <a target="_blank" :href="list.typedir"><p class="fs_12px white text_hide">{{list.title}}</p></a>
                            </div>

                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-white arrow-right2"></div>
                        <div class="swiper-button-prev swiper-button-white arrow-left2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fl">
            <ul class="main_content" style="width: 500px">
                <li></li>
            </ul>
            <div class="fl main_floor_news" id="artR">
                <div class="news_img">
                    <li v-for="list in result.technical_difficulties">
                        <a target="_blank" :href="list.typedir">
                            <img :src="list.litpic" style="width: 186px; height: 125px"/>
                        </a>
                        <p class="fs_12px white text_hide">{{list.title}}</p>
                    </li>
                </div>
            </div>
        </div>
    </div>

    <div class="width_main over_hide" id="artL2">
        <div class="fl">
            <div class="fl main_floor_news" style="width: 100%;padding-bottom: 3px;" id="floor_news">
                <div class="news_list_text mar_t_20px" v-for="list in result.solutions">
                    <div class="news_list_img fl border_e7 bg_efefef">
                        <img class="fl" :src="list.litpic" />
                    </div>
                    <div class="fl news_text">
                        <a target="_blank" :href="list.typedir">
                            <span class="fl fs_14px f_c_666 mar_t_10px mar_l_20px text_hover_red text_hide" v-cloak>{{list.title}}</span>
                        </a>
                        <span class="fr fs_14px f_c_666 mar_t_10px" v-cloak>{{list.time}}</span><br/>
                        <p class="fs_12px f_c_999 mar_t_20px mar_l_20px text_hide" v-cloak>{{list.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部悬浮-->
    <div class="bottom_fiexd_box" style="left: -150%">
        <div class="bottom_fiexd_bg">
        </div>
        <div class="bottom_fiexd_wp">
            <div class="width_main5">
                <div class="bottom_fiexd_wplf">
                    <p><a class="djlbtn" href="/about_us.html?infoid=2" target="_blank"></a></p>
                </div>
                <div class="bottom_fiexd_wpfr">
                    <p>
                        <a href="/service/service_quote.html" target="_blank">免费询价</a><a href="/service/service_item.html" target="_blank">项目设计</a><a href="/service/service_construction.html" target="_blank">施工服务</a>
                    </p>
                </div>
                <a class="bottom_fiexd_close" href="javascript:"></a>
            </div>
        </div>
    </div>
    <!--底部左侧悬浮-->
    <div class="bottom_show_left" style="left: 0px;">
        <a class="bottom_show_a1" href="/service/service_quote.html" target="_blank">免费询价</a><a class="bottom_show_a2" href="/service/service_item.html" target="_blank">项目设计</a><a class="bottom_show_a3" href="/service/service_construction.html" target="_blank">施工服务</a>
    </div>

    <!-- 底部 -->
    <div id="bottomTemp_main"></div>

    <!-- 侧边栏 -->
    <div id="sidebarTemp_main"></div>

    <!-- 登录 -->
    <div id="login_mask"></div>

    <!-- 升级提示 -->
    <div id="error" class="Nhide">
        <div class="error_mask"></div>
        <div class="error_main">
            <div class="error_main_f f_c_333">
                <p class="fs_18px">你知道你的<b class="red2">Internet Explorer</b>是过时了吗？</p>
                <p class="mar_t_30px">为了得到我们网站最好的体验效果，我们建议您升级到最新版本的Internet Explorer或者选择另一个Web浏览器。</p>
                <p class="mar_t_10px">最流行的Web浏览器在下面可以找到。</p>
                <ul class="over_hide error_ul fs_14px">
                    <a target="_blank" href="http://www.googlechromer.cn/">
                        <li>
                            <img src="/img/chrome.png" alt="谷歌浏览器"/>
                            <p class="f_c_333 center">谷歌浏览器</p>
                        </li>
                    </a>
                    <a target="_blank" href="http://se.360.cn/">
                        <li>
                            <img src="/img/360Logo.png" alt="360安全浏览器"/>
                            <p class="f_c_333 center">360安全浏览器</p>
                        </li>
                    </a>
                    <a target="_blank" href="http://www.firefox.com.cn/download/">
                        <li>
                            <img src="/img/firefox.png" alt="火狐浏览器"/>
                            <p class="f_c_333 center">火狐浏览器</p>
                        </li>
                    </a>
                    <a target="_blank" href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads">
                        <li>
                            <img src="/img/ie10.png" alt="ie10浏览器"/>
                            <p class="f_c_333 center" style="margin-top: 1px">ie10浏览器</p>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <!-- 通知 -->
    <!--<div class="notice_bg" style="display: none"></div>
    <div class="notice" style="display: none">
        <p class="text1">温馨提示</p>
        <p class="text2">由于近日商城改版优化，请Ctrl+f5强制刷新页面，如有用户在使用过程中发现问题，请联系技术人员QQ：2881452554</p>
        <p class="text3">—&nbsp;&nbsp;大家来采购网</p>
        <div class="notice_btn">
            知道了
        </div>
    </div>-->

    <!-- 秒杀弹框 -->
    <!--<div class="spike_bg" style="display: none"></div>-->
    <!--<div class="spike" style="display: none">-->
    <!--<p class="text">活动时间7月13日10点到11点，15点到16点，<span>距离开始：<u><em>0</em>天<em>22</em>时<em>34</em>分<em>36</em>秒。</u></span></p>-->
    <!--<div class="spike_close"></div>-->
    <!--<div class="spike_btn"></div>-->
    <!--</div>-->
    <!--首页欢迎-->
    <div class="djl_welcome">
        <a href="/about_us.html?infoid=1"></a>
    </div>

    <script type="text/javascript" src="lib/js/global.js"></script>
    <script type="text/javascript" src="lib/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="lib/js/comMain.js"></script>
    <!--<script type="text/javascript" src="lib/js/swiper.min.js"></script>-->
    <script type="text/javascript" src="lib/js/swiper-3.4.2.jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js?v=201706189"></script>
    <script type="text/javascript">
        /*setTimeout(function () {
            $("img").lazyload({
                effect : "fadeIn"
            });
        },1000);*/
        com.isTitleMenuShow(true);
        setTimeout(function () {
            com.isTitleMenuShow(true);
        },200);
        setTimeout(function () {
            com.isTitleMenuShow(true);
            //显示二维码APP
            $('#appqr').removeClass('hide');
        },1000);




    </script>
</body>
</html>