<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <!--#include file="lib/temp/pageMeta.html" -->
    <title>品牌区_大家来采购网</title>
    <link rel="stylesheet" type="text/css" href="lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/NewBrandZone.css"/>
</head>
<body>

    <!-- 头部 -->
    <div id="titleTemp_main"></div>

    <div class="brand_title">
        <div class="brand_title_main">
            <a href="main.html"><img class="logo_title1" src="img/brand_logo.png"></a>
            <div class="title_input_main">
                <input class="title_input border" type="text" id="search" placeholder="请输入您要搜索的商品信息">
                <span class="title_search curP" id="searchInput"></span>
                <ul class="search_result fs_12px f_c_666" id="search_result">
                    <li v-for="a in list"><p class="fl"><span class="suggest" v-cloak>{{a.suggest}}</span><span class="Nhide" v-cloak>{{a.py}}</span></p><span class="fr mar_r_10px" v-cloak>约{{a.count}}个</span></li>
                </ul>
            </div>
            <ul class="title_rigth fs_13px">
                <li><img src="img/icon_right_03.png">假一赔十</li>
                <li><img src="img/icon_right_03.png">正规发票</li>
                <li><img src="img/icon_right_03.png">退换无忧</li>
                <li><img src="img/icon_right_03.png">定时发货</li>
            </ul>
        </div>
    </div>

    <div class="brand_text" id="BrandVue1">
        <div class="brand_text_con">
            <div class="brand_text_img">
                <strong class="brand_title_txt" v-text="list.brands.brand_name"></strong>
                <!--<img src="img/brand_banner_01.png"/>-->
                <!--<img :src="list.brands.brand_bgimg"/>-->
            </div>
            <!--<div class="brand_text_img"><img :src="list.brands.brand_logo" width="98" height="49" /></div>-->
            <!--<span class="brand" v-cloak>{{list.brands.brand_name}}</span><span class="brand_guan">品牌馆</span>-->
            <!--<div class="brand_content" v-cloak>-->
                <!--{{list.brands.company_desc}}-->
            <!--</div>-->
        </div>
    </div>

    <div class="brand_introduce_bg clearfix" id="BrandVue2">
        <div class="brand_introduce clearfix">
            <div class="introduce introduce1">
                <div class="introduce1_title introduce_title">
                    <span>品牌介绍</span>
                    <span class="introduce1_move">
                        <a target="_blank" @click="toNext()">更多></a>
                    </span>
                </div>
                <p class="introduce_info" v-cloak><i class="brand_desc_txt">{{list.brands.brand_desc}}</i></p>
            </div>
            <div class="introduce introduce2">
                <div class="introduce2_title introduce_title">
                    <span>资质荣誉</span>
                    <span class="introduce1_move">
                        <a target="_blank" @click="toNext(2)">更多></a>
                    </span>
                </div>
                <div class="introduce2_img introduce_info" id="intro_bigimg">
                    <span v-for="(img, index) in list.brand_gallery" >
                        <i><img  :src="img.thumb_url" /></i>
                    </span>
                </div>
            </div>
            <!--图片放显示-->
            <div class="showimg">
                <em class="showimg_com" v-for="(img, index) in list.brand_gallery"><img :src="img.img_url"></em>
            </div>

            <div class="brand_title_ad" style="display: none;">
                 <!--Swiper--> 
                <div class="swiper-container pos_rel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="desc in list.cases_desc">
                            <div class="brand_swiper">
                                <div class="img">
                                    <img src="img/city.png" />
                                </div>
                                <div class="brand_swiper_text">
                                    <p class="swiper_text1" v-cloak>{{desc.title}}<a target="_blank" @click="toNext(3)">更多></a></p>
                                    <p class="swiper_text2" v-cloak>{{desc.description}}</p>
                                </div>
                            </div>
                            <!--<div class="brand_swiper">
                                <div class="img">
                                    <img src="img/xiaomi2.png"/>
                                </div>
                                <div class="brand_swiper_text">
                                    <p class="swiper_text1">互联网标准解决方案<a target="_blank" href="../NewBrandZone_Detail.html">更多></a></p>
                                    <p class="swiper_text2">萤石，海康威视旗下安全生活业务品牌，为家庭和小微企业用户提供可视化安全为基础的关爱、沟通、分享服务。</p>
                                </div>
                            </div>-->
                        </div>
                    </div>

                     <!--Add Arrows--> 
                    <div class="swiper_button_next arrow-right"></div>
                    <div class="swiper_button_prev tran_180deg arrow-left"></div>
                </div>
            </div>
            <!--<div class="brand_name">-->
                <!--<hr/>-->
                <!--<span v-cloak>{{list.brands.brand_name}}产品</span>-->
            <!--</div>-->
        </div>
    </div>

    <div class="brand_fixed" id="BrandVue4">
        <img src="img/Brand-Area_22.png" width="100" height="93"/>
        <!--<ul id="BrandList">-->
            <!--<li v-for="list in list.brand" class="brand_fixed_list">-->
                <!--<img :src="list.logo"  width="69" height="34" />-->
                <!--<img class="img1" src="img/icon_arrow_25.png" />-->
                <!--<div class="brand_fixed_move" @click="refresh(list.id)">-->
                    <!--&lt;!&ndash;<div class="BrandList"></div>&ndash;&gt;-->
                    <!--<span class="text_hide" :title="list.name">{{list.name}}</span>-->
                    <!--<img class="img2" src="img/icon_jiantou_11.png" />-->
                <!--</div>-->
            <!--</li>-->
            <!--<a href="/BrandZone_More.html"><li class="fixed_move curP"><p>查看更多</p><img class="not_move_img2 img1" src="img/icon_arrow_25.png" /><img class="move_img2 Nhide" src="img/icon_jiantou_more_11.png" /></li></a>-->
            <!--<li class="fixed_move curP BackTop" onclick="com.backTop()"><p>返回顶部</p><img class="not_move_img2 back_top" src="img/icon_jiaotou_top_16.png" width="12" height="10" /><img class="move_img2 back_top2 Nhide" src="img/icon_jiaotou_top_15.png" width="12" height="10" /></li>-->
            <!--<img style="margin-top: -10px;width: 100px" src="img/baclground_pingpai.png" />-->
        <!--</ul>-->
        <img class="fixed_left" src="img/Brand-Area_28.png"/>
        <img class="fixed_right" src="img/Brand-Area_44.png"/>
    </div>

    <div class="brand_main bg_white"  style="width: 100%;" id="BrandVue3">
        <div class="product_title" id="">
            <h3 class="pt_txt">{{ list.brands.brand_name }}</h3>
            <div class="pt_tags_nav">
                <!--<a class="pt_tags" v-for="list in arrFilter">-->
                    <!--<span @click="refresh(list)">-->
                        <!--{{lists.tagnavs.title}}-->
                    <!--</span>-->
                <!--</a>-->
                <!--<a class="pt_tags">-->
                    <!--<span @click="protype(list.content[0].shop_price)">-->
                        <!--{{ list.content[0].shop_price | TypeToName }}-->
                    <!--</span>-->
                <!--</a>-->
            </div>
        </div>
        <ul class="main_list_ul" style="width: 1115px;">
            <li class="main_list" v-for="items in list.content">
                <img v-if="(items.watermark_img != '')" class="icon_activity" :src="items.watermark_img" />
                <i class="goodsimg"><img :src="items.goods_thumb" @click="toInfo(items.goods_id)" /></i>
                <p class="main_money mar_t_10px"><span class="main_list_money2" v-cloak>{{items.shop_price}}</span></p>
                <p class="mar_t_10px" v-cloak>{{items.goods_name}}</p>
                <!--<p v-cloak>{{items.goods_brief}}</p>-->
                <div>
                    <button class="main_list_but" @click="toInfo(items.goods_id)"><span>加入进货单</span></button>
                </div>
            </li>
            <!--<li class="main_list">
                <img src="img/shexiangji.jpg" />
                <p class="main_money"><span class="main_list_money1">￥</span><span class="main_list_money2">299.00</span></p>
                <p>按时打算打算打</p>
                <p>大幅度发个梵蒂冈梵蒂冈的风格</p>
                <button class="main_list_but"><span>加入进货单</span></button>
            </li>-->
        </ul>
        <div class="search_fails">
            <div class="search_content">
                <img style="margin-top: -10px;padding-right: 20px" src="img/icon_search.png" />
                <p class="search_text">
                    <p class="text1">很抱歉，没有找到相关的商品</p><br/>
                    <p class="text2 mar_t_10px">您可以：缩短或修改您的关键词，重新搜索</p>
                </p>
            </div>
        </div>
        <div class="over_hide" style="width: 100%">
            <div id="Pagination" class="pagination"><!-- 这里显示分页 --></div>
            <!--<div id="Pagination" class="pagination text_ban">
                &lt;!&ndash;<span v-for="page in pager.page_number">{{page}}</span> &lt;!&ndash;  class="current" &ndash;&gt;&ndash;&gt;
                <a v-on:click="toListPrev(list.page_prev)"><span class="prev ban_prev">上一页</span></a>
                <a v-for="a in list.page_number" v-on:click="toList(a.url)"><span v-cloak>{{a.id}}</span></a>
                <a v-on:click="toListNext(list.page_next)"><span class="next">下一页</span></a>
                &lt;!&ndash;<p>{{list}}</p>&ndash;&gt;
            </div>-->
        </div>
    </div>

    <!-- 底部 -->
    <div id="bottomTemp_main"></div>


    <script type="text/javascript" src="lib/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="lib/js/common.js"></script>
    <script type="text/javascript" src="lib/js/global.js"></script>
    <script type="text/javascript" src="lib/js/swiper.min.js"></script>
    <script type="text/javascript" src="lib/js/vue.js" ></script>
    <script type="text/javascript" src="js/NewBrandZone.js" ></script>
    <script type="text/javascript">
        CtrBrandZone();
    </script>

</body>
</html>