<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <!--#include file="lib/temp/pageMeta.html" -->
    <title>品牌区_大家来采购网</title>
    <link rel="stylesheet" type="text/css" href="lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/NewBrandZone.css"/>
</head>
<body>

    <!-- 头部 -->
    <div id="titleTemp_main"></div>

    <div class="brand_title">
        <div class="brand_title_main">
            <a href="main.html"><img class="logo_title1" src="img/brand_logo.png"></a>
            <div class="title_input_main">
                <input class="title_input border" type="text" id="search" placeholder="请输入您要搜索的商品信息">
                <span class="title_search curP" id="searchInput"></span>
                <ul class="search_result fs_12px f_c_666" id="search_result">
                    <li v-for="a in list"><p class="fl"><span class="suggest">{{a.suggest}}</span><span class="Nhide">{{a.py}}</span></p><span class="fr mar_r_10px">约{{a.count}}个</span></li>
                </ul>
            </div>
            <ul class="title_rigth fs_13px">
                <li><img src="img/icon_right_03.png">假一赔十</li>
                <li><img src="img/icon_right_03.png">正规发票</li>
                <li><img src="img/icon_right_03.png">退换无忧</li>
                <li><img src="img/icon_right_03.png">定时发货</li>
            </ul>
        </div>
    </div>

    <div class="brand_text">
        <div class="brand_text_con" id="BrandDetail1">
            <div class="brand_text_img">
                <strong class="brand_title_txt" v-text="list.brands.brand_name"></strong>
                <!--<img src="img/brand_banner_01.png"/>-->
                <!--<img :src="list.brands.brand_bgimg"/>-->
            </div>
            <!--<div class="brand_text_img"><img :src="list.brands.brand_logo" /></div>-->
            <!--<span class="brand" v-cloak>{{list.brands.brand_name}}</span><span class="brand_guan">品牌馆</span>-->
            <!--<div class="brand_content" v-cloak>-->
                <!--{{list.brands.company_desc}}-->
            <!--</div>-->
        </div>
    </div>

    <div class="brand_Detail_content">
        <ul class="Detail_title brandBox" id="Taggle_title">
            <li class="b_b_blue">品牌介绍</li>
            <li>资质荣誉</li>
            <li>项目案例</li>
            <li>返回品牌区</li>
        </ul>
        <div class="Detail_content1" id="BrandDetail2">
            <p>{{list.brands.brand_desc}}</p>
        </div>
        <div class="Detail_content2" id="BrandDetail3">
            <img v-for="img in list.brand_gallery" :src="img.thumb_url" />
        </div>
        <div class="Detail_content3" id="BrandDetail4">
            <div class="Detail_content3_text" v-for="desc in list.cases_desc">
                <div class="img">
                    <img src="img/city.png" />
                </div>
                <div class="content3_text">
                    <p class="content3_text1"><span><a @click="toMore(desc.cases_id)">查看详情></a></span><b><a @click="toMore(desc.cases_id)" v-cloak>{{desc.title}}</a></b></p>
                    <p class="content3_text2" v-cloak>{{desc.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    <div id="bottomTemp_main"></div>

    <script type="text/javascript" src="lib/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="lib/js/common.js"></script>
    <script type="text/javascript" src="lib/js/global.js"></script>
    <script type="text/javascript" src="lib/js/vue.js" ></script>
    <script type="text/javascript" src="js/NewBrandZone.js" ></script>
    <script type="text/javascript">
        CtrBrandZone2();
        /*
         * 品牌详情区
         * */
        //浮动top
        var brandBox_Top = $(".brandBox").offset().top;
        window.onscroll = function() {
            if($(document).scrollTop() > brandBox_Top+43) {
                $(".brandBox").addClass('float');
                $(".Detail_content1").css("margin-top","55px");
            } else {
                $(".brandBox").removeClass('float');
                $(".Detail_content1").removeAttr("style");
            }
        }
    </script>

</body>
</html>