
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="大家来采购网djlcg.com,弱电一站式采购,安防弱电行业商城,建筑智能化B2B电子商务平台,为工程集成商提供智能建筑控制系统、建筑智能化工程、公共安全、楼宇自动化控制系统、机房工程在线报价、智能家居控制系统、音视频会议系统等智能建筑品牌优质特价商品及服务的互联网采购平台" />
    <meta name="Keywords" content="大家来采购网，djlcg.com,大家来电子商务，集成工程采购，中国智慧城市，智能建筑，建筑智能化，强电弱电，一站式采购，让交易变得简单，快乐" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta content=always name=referrer>
    <link rel="shortcut icon" type="image/x-icon" href="/img/icon_url.png" media="screen" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?02c5d8b75511fdeda85cc7e0b4f90842";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


    <link rel="stylesheet" type="text/css" href="lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/main.css"/>
    <link rel="stylesheet" href="lib/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/product_list_info.css"/>
    <link rel="stylesheet" type="text/css" href="css/moveImg.css"/>
    <title></title>
    <style type="text/css">
        .mask_main{width: 350px;margin: -117.5px -220px;}
        .mask_main .mask_input{margin-left: -115px;}
    </style>
</head>
<body>
<!-- 头部 -->
<div id="titleTemp_main"></div>
<div id="titleTemp2_main"></div>

<!-- 头部滚动显示条 -->
<div class="scroll_top box_s Nhide">
    <div class="width_main" id="gundong">
        <img :src="list.goods.goods_thumb" class="fl scroll_img" width="41" height="41">
        <!--<img :src="list.goods.goods_thumb" class="fl scroll_img">-->
        <p class="orange fl mar_l_30px shopPrice" style="margin-top: 12px;">{{list.goods.shop_price}}</p>

        <div class="ljdg2 white fr jrjhd fs_12px">
            <!--<i class="icon_sidebar fl"></i>-->
            <span>加入进货单</span>
        </div>
    </div>
</div>
<div class="border_t2">
    <div class="width_main">
        <ul class="fs_12px f_c_666 navigation_bar2">
            <li><a href="main.html">首页</a></li>
            <div id="pageTitle">
                <li v-for="title1 in list.ur_here.cat" v-cloak><span> > </span><a :href="title1.url">{{title1.name}}</a></li>
            </div>
        </ul>
    </div>
</div>
<div class="bg_white pad_t_25px" id="main">
    <div class="width_main pos_rel">
        <!--<img class="double12_right Nhide" src="/img/double12_right.png" />
        <img class="double12_left Nhide" src="/img/double12_left.png" />-->
        <div style="height: 500px">
            <div id="listTitle1">
                <div class="product_info fl">
                    <div class="preview">
                        <div id="vertical" class="bigImg border">
                            <img src="" id="midimg" />
                            <div style="display:none;" id="winSelector"></div>
                        </div>
                        <!--bigImg end-->
                        <div class="midImg">
                            <div class="scrollbutton midImgUp disabled"></div>
                            <div id="imageMenu">
                                <ul>
                                    <!--<li id="onlickImg"><img src="img/aaa.jpeg" /></li>-->
                                    <li v-for="img in list.pictures"><img :src="img.img_url" /></li>
                                </ul>
                            </div>
                            <div class="scrollbutton midImgDown"></div>
                        </div>
                        <!--midImg end-->
                        <div id="bigView" style="display:none;"><img width="800" height="800" src="" /></div>
                    </div>
                    <div class="fl pos_rel">
                        <div class="attention fs_12px f_c_333 fl">关注</div>
                        <div class="share sharelist fs_12px f_c_333 fl" onmouseover="$('.shareimglist').show();" onmouseout="$('.shareimglist').hide();" id="share">分享</div>
                        <div class="shareimglist" style="display: none;" onmouseover="$('.shareimglist').show();" onmouseout="$('.shareimglist').hide();">
                            <div style="width:280px">
                                <div class="bdsharebuttonbox" data-tag="share_1">
                                    <a style="display:none" href="#" class="bds_more" data-cmd="more"></a>
                                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                    <a href="#" class="bds_kaixin001" data-cmd="kaixin001" title="分享到开心网"></a>
                                    <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                                    <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="product_info_text">
                    <li><b class="f_c_333 li_he_20px" v-cloak>{{list.goods.goods_name}}</b></li>
                    <li class="red fs_14px"><span v-cloak>{{list.goods.goods_brief}}</span></li>
                    <!--专题活动-->
                    <div class="double12_money mar_t_20px double12IsShow Nhide">
                        <p class="fs_14px white double12_title">&nbsp;</p>
                        <div id="notStart" class="Nhide">
                            <div class="money_con">
                                <span class="fl fs_12px mar_t_10px">原价：</span>
                                <b class="fl fs_24px red shopPrice" v-cloak>{{list.goods.shop_price}}</b>
                            </div>
                            <div class="money_con2">
                                <div><span class="fs_12px">抢购价：</span><span class="red2 fs_14px f_b activity_price" v-cloak>{{list.promotion.activity_price}}</span></div>
                                <p class="fs_12px yellow Countdown"></p>
                            </div>
                            <!--<p class="red fs_12px" style="margin-top: 60px;margin-left: 20px;" v-cloak>{{list.promotion.act_name}}</p>-->
                        </div>
                        <div id="start" class="Nhide">
                            <div class="money_con" id="start_div">
                                <div class="fl over_hide" style="margin-top: -4px;">
                                    <span class=" fs_12px mar_t_10px">抢购价：</span>
                                    <b class=" fs_24px red shopPrice1" v-cloak>{{list.promotion.activity_price}}</b>
                                    <s class=" fs_12px f_c_999 mar_l_10px mar_t_10px" v-cloak>原价：{{list.goods.shop_price}}</s>
                                    <p class="fr fs_12px red mar_t_5px">起订量：{{list.goods.moq}}{{ list.goods.unit }}</p>
                                    <p class=" fs_12px yellow Countdown mar_t_5px"></p>

                                </div>
                                <!--<p class="fs_12px red" v-cloak>{{list.promotion.act_name}}</p>-->
                                <p class="fl fs_12px mar_t_5px Nhide" id="notStock">该商品的活动价已售完，可按原价正常购买</p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="double12_money2 mar_t_20px specialIsShow Nhide">
                        <p class="fs_14px white double12_title">大家来常规产品特价区</p>
                        <div class="money_con">
                            <span class="fs_12px">&nbsp;特价：<b class="fs_24px red" v-cloak>{{list.promotion.activity_price}}</b><s class="fs_12px f_c_999 mar_l_10px" v-cloak>{{list.goods.shop_price}}</s></span>
                            <p class="mar_t_5px"><span class="fs_12px special">优惠</span><span class="red mar_l_10px">狂减 152.00元</span></p>
                        </div>
                    </div>-->
                    <!--优惠劵-->
                    <!--<div id="coupon" class="coupon fs_12px" v-if="list.promotion==''" style="display: none">

                        <p class="over_hide">
                            <i class="coupon_icon"></i>
                            <span class="li_he_20px" v-cloak>每件减
                                <span id="coupon_money">0.00</span>元，可重复使用</span>
                                <span id="goTakeCoupon" class="fr pos_rel">去领券
                                <em class="coupon_icon_fr">

                                </em>
                            </span>
                        </p>
                        <p class="li_he_45px mar_t_15px">
                            价格：
                            <span class="fs_24px red shopPrice" id="money1" v-cloak>
                                {{list.goods.shop_price}}
                            </span>&nbsp;&nbsp;&nbsp;
                            &lt;!&ndash;<s class="fs_14px" id="money2" v-cloak>{{list.goods.promote_price}}</s>&ndash;&gt;
                        </p>
                    </div>-->
                    <li id="ordinary_price">
                        <!--已登录-->
                        <div class="money fl" v-if="Lstatus==1">
                            <div class="money-1">
                                <span class="fs_12px text1">会员价：</span>
                                <span class="fs_18px red"></span>
                                <span class="fs_18px red shopPrice mar_l_5px" v-cloak style="font-weight: bold">{{list.goods.shop_price}}</span>
                            </div>

                            <div class="money-2">
                                <span class="fs_12px text1">渠道价：</span>
                                <span class="text fs_12px">成为合伙人享底价</span>
                                <a href="/frim_register.html" class="fs_12px mar_l_35px hov">立即加入>> </a>
                            </div>

                        </div>

                        <!--未登录-->
                        <div class="money fl" v-if="Lstatus==0">

                            <div class="money-1">
                                <span class="fs_12px text1">市场价:</span>
                                <span class="fs_18px red"></span>
                                <span class="fs_18px red shopPrice mar_l_5px" v-cloak style="font-weight: bold">{{list.goods.shop_price}}</span>

                                <span class="fr fs_12px mar_r_10px"> <a style="color: #0404cd" href="/register.html">立即加入</a> </span>
                                <span class="fr fs_12px mar_r_10px"> <a style="color: #0404cd" href="/login.html">登录</a> </span>
                            </div>

                            <div class="money-2">
                                <span class="text fs_12px" style="margin-left: 25px;">登录会员/认证会员享受会员价</span>
                            </div>

                        </div>


                        <!--合伙人-->

                        <div class="money fl" v-if="Lstatus==2">
                            <div class="money-1">
                                <span class="fs_12px text1">市场价：</span>
                                <span class="fs_18px red"></span>
                                <span class="fs_18px  s_shopPrice mar_l_5px" v-cloak style="color:#ccc; font-weight:bold;text-decoration:line-through">{{list.goods.market_price}}</span>
                            </div>

                            <div class="money-2">
                                <span class="fs_12px text1">渠道价：</span>
                                <span class="fs_18px red"></span>
                                <span class="fs_18px red d_shopPrice mar_l_5px" v-cloak style="font-weight:bold;">{{ list.goods.shop_price }}</span>
                            </div>

                        </div>

                        <!--money结束-->
                        <div class="batch center fl fs_12px">

                            <div class="mar_t_15px mar_b_15px">
                                <span>起批量</span>
                                <p style="color: #ff0000" class="center"> ≥ <i>{{list.goods.moq}}</i>{{ list.goods.unit }} </p>
                            </div>
                        </div>

                    </li>
                    <li class="product_nature">
                        <!--<span class="fs_12px">尺寸:</span>-->
                        <a class="nature_cell mar_b_10px fs_12px" v-for="nature in list.properties.arr">
                            <p><i class="text1">{{nature.name}}：</i><span class="mar_l_20px">{{ nature.value }}</span></p>
                        </a>
                    </li>
                </ul>
            </div>
            <script>
                window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24" }, "share": {} };
                with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '//bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
            </script>

            <!-- 优惠券 领取 -->
            <!--<div class="coupon-receive Nhide" id="couponReceive">
                <span class="mui-icon"></span>
                <p class="coupon-title">领券</p>
                <p>1、只针对当前商品，每次只能领取一张，可重复使用</p>
                <p>2、有效时间为1个小时，过期可重新领取</p>
                <div class="coupon-receive-main">
                    <div class="main1">
                        <p><b class="fs_18px" v-cloak>{{list.val}}元</b>购物券</p>
                        <p class="mui-ellipsis-2 couponName" v-cloak></p>
                    </div>
                    <div class="main2" @click="coupon">
                        <b>领取</b>
                    </div>
                </div>
                <div class="coupon-receive-main" style="background-image: url(img/coupon_02.png);">
                    <div class="main1">
                        <p><b class="fs_18px" v-cloak>{{list.val}}元</b>购物券</p>
                        <p class="mui-ellipsis-2 couponName" v-cloak></p>
                    </div>
                    <div class="main2 receive-main2">
                        <span id="time">60</span>分钟后失效
                    </div>
                </div>
                <div class="coupon-receive-main" style="background-image: url(img/coupon_03.png);">
                    <div class="main1">
                        <p style="color: #666"><b class="fs_18px" v-cloak>{{list.val}}元</b>购物券</p>
                        <p class="mui-ellipsis-2 couponName" style="color: #999" v-cloak></p>
                    </div>
                    <div class="main2" @click="coupon">
                        <b style="font-size: 20px;width: 44px;line-height: 22px;padding:30px 14px;">重新领取</b>
                    </div>
                </div>
                <div class="my-coupon"><a href="center/coupon.html"><span>我的购物券<em class="coupon_icon_fr"></em></span></a></div>
            </div>-->

            <ul class="product_info_text2 fs_12px" id="listPro">
                <li v-for="attr in list.get_spec">
                    <p class="text1" v-cloak>{{attr.name}}：</p>
                    <div class="attr_list">
                        <p v-for="attrs in attr.value" :id="attrs.item_id" data="false" class="text2 Attr s_border" v-cloak>{{attrs.item}}<img src="img/chose_color3.png" /></p>
                    </div>
                </li>
                <!--<li><p class="text1">阻燃等级：</p><p class="text2 border_red">1号等级<img class="show" src="img/chose_color3.png" /></p><p class="text2 border">2号等级<img src="img/chose_color3.png" /></p></li>-->
                <li style="height: 37px;line-height: 37px;">
                    <p class="text1">数量：</p>
                    <div class="content_amount">
                        <span class="amount_min fl">-</span>
                        <input class="amount_num fl" id="amount_num" type="text" value="1" />
                        <!--<span class="amount_num fl">1</span>-->
                        <span class="amount_max fl">+</span>
                    </div>
                    <div class="cycle"  v-if="list.goods.goods_cycle != 0" v-cloak><span></span>发货周期&nbsp;{{list.goods.goods_cycle}}&nbsp;天</div>
                    <div class="cycle"  v-if="list.goods.goods_cycle == 0" v-cloak><span></span>此商品发货周期请<a class="red mar_l_10px" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2885624332&amp;site=qq&amp;menu=yes">联系客服</a></div>
                </li>
                <p class="mar_t_10px mar_l_30px Nhide red overNumber">您所填写的商品数量超过库存！</p>
                <p class="mar_t_10px mar_l_30px Nhide red startNumber">您所填写的商品数量少于最小起订量！</p>
                <p class="mar_t_10px mar_l_30px Nhide red stopNumber">您所选择的商品已停销！</p>
                <div id="Order">
                    <div class="ljdg bg_red white fl fs_16px" id="ljdg">立即订购</div>
                    <div class="ljdg jrjhd bg_light_red red border_red fl fs_16px"><img src="img/icon-order.png" />加入进货单</div>
                </div>
                <div id="notOrder" class="Nhide">
                    <div class="ljdg bg_gray white fl fs_16px" style="cursor: auto">立即订购</div>
                    <div class="ljdg bg_gray red fl fs_16px" style="cursor: auto"><img src="img/icon-order.png" />加入进货单</div>
                </div>
            </ul>
            <div class="product_support fl">
                <div><span class="watch_1"></span>
                    <span class="watch fs_12px li_he_15px">看了又看</span>
                    <span class="watch_2"></span>
                </div>

                <div class="watch_scroll">


                    <!-- Swiper -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper" id="slide_scroll">

                            <div class="swiper-slide" id="slide1">

                            </div>
                            <div class="swiper-slide" id="slide2">

                            </div>
                            <div class="swiper-slide" id="slide3">

                            </div>

                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>

                    <!-- Swiper JS -->


                </div>
            </div>
        </div>
    </div>
    <div class="bg_white">
        <div class="width_main over_hide">
            <div class="fl">
                <div class="recommend_products">
                    <p class="fs_16px recommend_title">热门推荐</p>
                    <ul class="recommend_list" id="recommend_list">
                        <li v-for="items in list" @click="toListInfo(items.id)" class="curP pos_rel">
                            <img v-if="(items.watermark_img != '')" class="icon_activity" :src="items.watermark_img" />
                            <img :src="items.goods_img" />
                            <p class="fs_12px items_name li_he_20px f_c_333 center mar_t_20px text_hover_red" v-cloak>{{items.name}}</p>
                            <p class="fs_16px red center mar_t_15px" v-cloak>{{items.shop_price}}</p>
                        </li>
                    </ul>
                    <!--<p class="fs_16px recommend_title2">相关分类</p>
                    <div class="bg_white recommend_title3 fs_12px">
                        <span class="text_hide">光纤光缆</span><span>产品家居</span>
                        <span>光纤光缆</span><span>产品家居</span>
                        <span>光纤光缆</span><span>产品家居</span>
                    </div>
                    <p class="fs_16px recommend_title2">同类其他品牌</p>
                    <div class="bg_white recommend_title3 fs_12px">
                        <span class="text_hide">爱谱华顿众城</span><span>康宁</span>
                        <span>灼识 B</span><span>康宁</span>
                        <span>爱谱华顿众城</span><span>康宁</span>
                    </div>-->
                </div>
                <div class="recommend_products">
                    <p class="fs_16px recommend_title">热销榜</p>
                    <ul class="recommend_list" id="recommend_list1">
                        <li v-for="items in list" @click="toListInfo(items.id)" class="curP pos_rel">
                            <img v-if="(items.watermark_img != '')" class="icon_activity" :src="items.watermark_img" />
                            <img :src="items.goods_img" />
                            <p class="fs_12px items_name li_he_20px f_c_333 center mar_t_20px text_hover_red" v-cloak>{{items.name}}</p>
                            <p class="fs_16px red center mar_t_15px" v-cloak>{{items.shop_price}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="menuTab">
                <ul class="product_info_title over_hide">
                    <li data-url="#tab1" class="menu_active">商品详情</li>
                    <li data-url="#tab2">规格参数</li>
                    <li data-url="#tab3">服务保障</li>
                    <li data-url="#tab4">订购说明</li>
                </ul>
            </div>
            <div class="tabMenu tabMenu_main Nhide fr" style="display: block;" id="tab1">
                <div class="product_info2">
                    <div class="bg_white product_info2_con" id="product_info1">
                        <!--{{list.goods.goods_desc}}-->
                        <!--<img src="img/xiaomi2.png" />-->
                    </div>
                </div>
            </div>

            <div class="tabMenu tabMenu_main Nhide" id="tab2">
                <div class="product_info2">
                    <div class="bg_white product_info2_con" id="proAttr">
                        <p id="NotData" class="Nhide center" v-if="list.goods.goods_parameter == ''">暂无参数...</p>
                        <div id="proParameter" class="proParameter">
                            <!--{{list.goods.goods_parameter}}-->
                        </div>
                        <!--<table>-->
                        <!--<tbody>-->
                        <!--<tr class="fs_18px f_c_333"><th><b v-cloak>{{list.properties.name}}</b></th></tr>-->
                        <!--<tr v-for="attr in list.properties.arr" class="fs_14px">-->
                        <!--<td class="pro_attr_title" v-cloak>{{attr.name}}</td><td v-cloak>{{attr.value}}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                        <!--</table>-->
                    </div>
                </div>
            </div>
            <div class="tabMenu tabMenu_main Nhide" id="tab3">
                <div class="product_info2">
                    <div class="bg_white product_info2_con">
                        <code class="fs_12px f_c_666 li_he_17px">
                            <b class="red fs_16px li_he_40px pos_rel"><em class="guarantee"></em>退换无忧:</b>
                            <p>1、除了因产品质量问题或者物流损坏问题引起的退换货原因，需买家在保证商品完好的前提下，承担商品退回所产生的运费；</p>
                            <p  class="mar_b_10px">2、买家需在确认签收商品之日起7天内（按照物流签收后的第二天零时起计算时间，满168小时为7天）提出申请；</p>
                            <b class="red fs_16px li_he_40px pos_rel"><em class="guarantee"></em>不符合7天无理由退换货的情况:</b>
                            <p>1、 任何非大家来出售的商品（序列号不符）；</p>
                            <p>2、过保商品（超过三包保修期的商品）；</p>
                            <p>3、未经授权的维修、误用、碰撞、疏忽、滥用、进液、事故、改动、不正确的安装所造成的商品质量问题，或撕毁、涂改标贴、机器序号、防伪标记；</p>
                            <p>4、无法提供商品的发票、保修卡等三包凭证或者三包凭证信息与商品不符及被涂改的；</p>
                            <p class="mar_b_10px">5、其他依法不应办理退换货的。</p>
                            <b class="red fs_16px li_he_40px pos_rel"><em class="guarantee"></em>7天退换:</b>
                            <p>大家来承诺自顾客收到商品之日起7日内（按照物流签收后的第二天零时起计算时间，满168小时为7天），如符合以下条件，我们将提供全款退货的服务：</p>
                            <p>1、商品质量问题。</p>
                            <p>2、商品及商品本身的外包装没有损坏，保持大家来商城出售时的原质原样，不影响二次销售的。</p>
                            <p  class="mar_b_10px">3、退货时请确保商品及配件、附带品或者赠品、保修卡、三包凭证、发票、发货清单齐全。</p>
                            <b class="red fs_16px li_he_40px pos_rel"><em class="guarantee"></em>以下情况不予办理退货:</b>
                            <p>1、任何非大家来出售的商品（序列号不符）。</p>
                            <p>2、过保商品（超过三包保修期的商品）。</p>
                            <p>3、未经授权的维修、误用、碰撞、疏忽、滥用、进液、事故、改动、不正确的安装所造成的商品质量问题，或撕毁、涂改标贴、机器序号、防伪标记。</p>
                            <p>4、无法提供商品的发票（如已索要发票）、保修卡等三包凭证或者三包凭证信息与商品不符及被涂改的。</p>
                            <p>5、其他依法不应办理退换货的。</p>
                        </code>
                    </div>
                </div>
            </div>
            <div class="tabMenu tabMenu_main Nhide" id="tab4">
                <div class="product_info3">
                    <div class="bg_white product_info2_con">
                        <ol class="info2_con3 over_hide fs_13px li_he_25px">
                            <li>1、全场商品均为含税价，发票金额不含配送费金额，另有说明的除外。发票会在您确认收货后且增值税发票审核通过的7个工作日内发出。</li>
                            <li>2、常规商品的物流运输时间按不同区域为2-7天，快递运输时间按不同区域为1-5天。如需加急运输，请联系大家来客服中心。</li>
                            <li>3、大部分商品有现货，非常规及定制类商品的交货时间稍长，详见商品详情页的交货时间栏。目前商城暂不支持线上定金方式付款，可通过线下交纳定金的方式付款。具体线下付款事宜，请联系大家来客服中心。</li>
                            <li>4、特殊商品可提供先看样再下单，或如需专业技术人员产品上门的展示服务，具体请联系大家来客服中心。</li>
                            <li>5、需要产品的技术参数、检测报告、合格证明、质保证书、厂家授权等资料，请在订购时注明，我们会将资料随货物发送或专门邮寄。</li>
                            <p class="f_c_333 mar_t_30px"><b class="fs_16px red fl">购买工程设备常见问题</b>
                                <a onclick="javascript:window.open('http://dht.zoosnet.net/LR/Chatpre.aspx?id=DHT61595918','','height=500,width=700,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no')" target="_blank"><img class="fl curP" style="margin-top: -4px;margin-left: 5px;" src="img/ffd.png"></a>
                            </p>
                        </ol>
                        <div class="over_hide">
                            <ol class="fs_12px li_he_20px mar_t_15px">
                                <li class="red">问：大家来采购商城如何保证所售商品是正品？</li>
                                <li>答：大家来采购商城招商只面向品牌官方或具有官方授权的正规代理商，全部都有正规授权，100%正品保证，假一赔十，先行赔付；并享有该品牌的全国联保服务。</li>
                            </ol>
                            <ol class="fs_12px li_he_20px mar_t_20px">
                                <li class="red">问：什么时候发货？多久才能收到？</li>
                                <li>答：发货分3种情况：1是针对常规商品，消费者可根据需要，要求大家来的商家当天发货。2是按照商品发货周期内发货，一般为2-5个工作日内发货。3是定制品发货，因定制商品具有一定的生产时间，商家会在定制生产完成后为消费者发出，具体发货时间，请查看商品描述页面或咨询大家来客服中心。</li>
                            </ol>
                            <ol class="fs_12px li_he_20px mar_t_20px">
                                <li class="red">问：大家来采购商城如何确保低价？</li>
                                <li>答：大家来采购商城采用E2E模式，去掉中间层层加价环节，以工厂底价直供消费者，让消费者受惠。我们还为用户提供了整体项目清单的价格核算，保障商品的最低价采购。为用户节约核算时间和采购成本。</li>
                            </ol>
                            <ol class="fs_12px li_he_20px mar_t_20px">
                                <li class="red">问：商品是否支持无理由退换？</li>
                                <li>答：支持7天退换无忧的商品，买家需在确认签收商品之日起7天内（按照物流签收后的第二天零时起计算时间，满168小时为7天）提出退换申请。温馨提醒：定制品不支持退换货<a href="/help/issues.html?id=10&infoid=14" class="red curP" style="text-decoration: underline">了解退换货</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_info3">
                <p class="fs_16px recommend_title2">浏览记录</p>
                <div class="bg_white">
                    <ul class="recommend_list2" id="history_tab" v-cloak>
                        <li class="pos_rel" v-for="items in list.data" @click="toListInfo(items.goods_id)">
                            <img v-if="(items.watermark_img != '')" class="icon_activity" :src="items.watermark_img" />
                            <a :href="items.url"><img :src="items.goods_thumb"></a>
                            <p class="fs_12px f_c_333 center mar_t_30px"><a :href="items.url">{{items.goods_name}}</a></p>
                            <p class="fs_16px red center mar_t_20px">{{items.shop_price}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- 底部 -->
    <div id="bottomTemp_main" class="mar_t_20px"></div>

    <!--  弹出窗 -->
    <div id="orders_mask"></div>

    <!-- 侧边栏 -->
    <div id="sidebarTemp_main"></div>

    <script type="text/javascript" src="lib/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="lib/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="lib/js/common.js"></script>
    <script type="text/javascript" src="lib/js/global.js"></script>
    <script type="text/javascript" src="lib/js/vue.js"></script>
    <script type="text/javascript" src="lib/js/comMain.js"></script>
    <script type="text/javascript" src="lib/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/product_list_info.js"></script>
    <script type="text/javascript" src="lib/js/moveImg.js"></script>
    <script type="text/javascript" src="lib/js/swiper.min.js"></script>

    <script type="text/javascript">
        //    $("img").lazyload({
        //        effect : "fadeIn"
        //    });
        com.isTitleMenuShow(false)
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 1,
            slidesPerColumn: 3,
            paginationClickable: true,
            autoplay: 3000,
            autoplayDisableOnInteraction : false,
//            spaceBetween: 30
        });

    </script>

</body>
</html>