<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--#include file="lib/temp/pageMeta.html" -->
    <title>订单提交成功_大家来采购网</title>
    <link rel="stylesheet" type="text/css" href="lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/purchase_orders.css"/>
    <style type="text/css">
        /*.mask_title{
            width: 730px;
        }
        .mask_main{
            width: 675px;
            height: 413px;
            margin: -261px -390px;
        }
        .mask_confirm{display: none;}
        .mask_cancel{display: none;}*/
    </style>
</head>
<body>
    <!-- 头部 -->
    <div id="titleTemp_main"></div>

    <div class="login_main_title bg_white f_c_666 fs_18px border_b2_red">
        <div class="width_main">
            <a href="main.html"><img class="fl mar_t_25px" src="img/logo.png" /></a>
            <p class="fl pfirst curP">进货单</p>
            <ul class="title2_schedule fr f_c_999 mar_t_40px">
                <li>
                    <hr class="border_b2_green"/>
                    <span class="bg_green white" style="background: #89ca55">1</span>
                    <p class="fs_12px f_c_666 green">我的进货单</p>
                </li>
                <li>
                    <hr class="border_b2_green"/>
                    <span class="white" style="background: #89ca55">2</span>
                    <p class="fs_12px f_c_666 green">填写核对订单</p>
                </li>
                <li>
                    <hr class="border_b2_green"/>
                    <span class="white" style="background: #89ca55">3</span>
                    <p class="fs_12px f_c_666 green">成功提交订单</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="content orders_main width_main bg_white" id="order_info_template">
        <div class="orders_buy border_b">
            <div class="fl">
                <img class="success_img" src="img/success_buy.png" />
            </div>
            <div class="fl fs_14px f_c_666 li_he_25px mar_t_20px">
                <p class="fs_24px f_c_333" id="text3">订单提交成功！</p>
                <p class="mar_t_20px">
                    <span id="text1">请在</span>
                    <span class="red" id="remainTime">2小时0分</span>
                    <span id="text2">内完成支付, 超时后将取消订单</span>
                </p>
                <p v-cloak>收货信息： {{consignee}} {{mobile}} {{tel}}</p>
                <p v-cloak>{{region_name}} {{address}}</p>
            </div>
            <div class="fr mar_t_45px">
                <p>应付总额：<span class="fs_24px red" v-cloak>￥{{order_amount}}</span>元</p>
                <p class="fr mar_t_20px curP text_ban" id="order_info">订单详情 <i class="icon_down"></i></p>
            </div>
        </div>
        <ul class="fs_14px f_c_666 orders_buy_info">
            <li>订单号： <span v-cloak>{{order_sn}}</span></li>
            <li v-cloak>收货信息： {{consignee}} {{mobile}} {{tel}}   {{region_name}} {{address}}</li>
            <li><span class="fl">商品信息： </span><p class="" style="width: 500px;margin-left: 74px;"><span v-for="goods in goods_list" v-cloak>{{goods.goods_name}}  {{goods.goods_attr}}&nbsp;&nbsp;&nbsp;x {{goods.goods_number}}{{goods.unit}}<br></span> </p></li>
            <li>配送方式： 运费到付</li>
            <li>优惠信息： -￥ {{coupon_amount}}</li>
        </ul>
    </div>

    <div class="content orders_main width_main bg_white" style="height: 380px">
        <p class="mar_t_10px f_c_333">支付方式</p>
        <ul class="toggle_buy fs_14px text_ban">
            <li id="toggle_buy_click" data-url="#tab1">平台支付</li>
            <li data-url="#tab2">储蓄卡支付</li>
            <li data-url="#tab3">信用卡支付</li>
            <li data-url="#tab4">企业支付</li>
            <li data-url="#tab5">线下转账</li>
        </ul>
        <ul class="toggle_buy_content">
            <li id="tab1" style="display: block">
                <div class="mar_l_25px">
                    <div class="pay_tab">
                        <ol><input type="radio" name="Pay1" value="alipay" class="fl mar_t_40px" checked="checked"/><i class="icon_pay AliPay fl"></i></ol>
                        <ol><input type="radio" name="Pay1" value="weixin" class="fl mar_t_40px"/><i class="icon_pay weChat fl"></i></ol>
                    </div>
                    <div class="submit_order fs_18px white curP text_ban" id="toPay1" onclick="pay_now('platform');">
                        立即付款
                    </div>
                </div>
            </li>
            <li id="tab2">
                <div class="mar_l_25px">
                    <div class="pay_tab">
                        <ol><input type="radio" name="Pay2" value="icbcb2c" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px 0px;"></i></ol>
                        <ol><input type="radio" name="Pay2" value="ccb" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -70px;"></i></ol>
                        <ol><input type="radio" name="Pay2" value="abc" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -490px;"></i></ol>
                        <ol><input type="radio" name="Pay2" value="cmb" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -105px;"></i></ol>
                        <ol><input type="radio" name="Pay2" value="bocb2c" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -140px;"></i></ol>
                    </div>
                    <div class="pay_tab2">
                        <ol><input type="radio" name="Pay2" value="comm" class="fl mar_t_10px"/><i class="icon_pay mar_l_10px fl" style="background-position: 0px -175px;"></i></ol>
                        <ol><input type="radio" name="Pay2" value="cib" class="fl mar_t_10px"/><i class="icon_pay mar_l_10px fl" style="background-position: 0px -245px;"></i></ol>
                        <ol><input type="radio" name="Pay2" value="spdb" class="fl mar_t_10px"/><i class="icon_pay mar_l_10px fl" style="background-position: 0px -280px;"></i></ol>
                        <ol><input type="radio" name="Pay2" value="cmbc" class="fl mar_t_10px"/><i class="icon_pay mar_l_10px fl" style="background-position: 0px -315px;"></i></ol>
                        <ol><input type="radio" name="Pay2" value="spabank" class="fl mar_t_10px"/><i class="icon_pay mar_l_10px fl" style="background-position: 0px -595px;"></i></ol>
                    </div>
                    <div class="submit_order fs_18px white curP text_ban" id="toPay2" onclick="pay_now('bank');">
                        立即付款
                    </div>
                </div>
            </li>
            <li id="tab3">
                <div class="mar_l_25px">
                    <div class="pay_tab">
                        <ol><input type="radio" name="Pay3" value="ccb" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -70px;"></i></ol>
                        <ol><input type="radio" name="Pay3" value="cmb" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -105px;"></i></ol>
                        <ol><input type="radio" name="Pay3" value="spdb" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -280px;"></i></ol>
                        <ol><input type="radio" name="Pay3" value="comm" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -175px;"></i></ol>
                        <ol><input type="radio" name="Pay3" value="cib" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -245px;"></i></ol>
                    </div>
                    <div class="pay_tab2">
                        <ol><input type="radio" name="Pay3" value="cmbc" class="fl mar_t_10px"/><i class="icon_pay mar_l_10px fl" style="background-position: 0px -315px;"></i></ol>
                        <ol><input type="radio" name="Pay3" value="spabank" class="fl mar_t_10px"/><i class="icon_pay mar_l_10px fl" style="background-position: 0px -595px;"></i></ol>
                    </div>
                    <div class="submit_order fs_18px white curP text_ban" id="toPay3" onclick="pay_now('credit_card');">
                        立即付款
                    </div>
                </div>
            </li>
            <li id="tab4">
                <div class="mar_l_25px">
                    <div class="pay_tab">
                        <!--<ol><input type="radio" name="Pay4" value="icbcbtb" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px 0px;"></i></ol>-->
                        <ol><input type="radio" name="Pay4" value="cmbbtb" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -70px;"></i></ol>
                        <ol><input type="radio" name="Pay4" value="abcbtb" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -490px;"></i></ol>
                        <ol><input type="radio" name="Pay4" value="ccbbtb" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -105px;"></i></ol>
                        <ol><input type="radio" name="Pay4" value="bocbtb" class="fl mar_t_40px"/><i class="icon_pay card_mar fl" style="background-position: 0px -140px;"></i></ol>
                    </div>
                    <div class="pay_tab2">
                        <ol><input type="radio" name="Pay4" value="spdbb2b" class="fl mar_t_10px"/><i class="icon_pay mar_l_10px fl" style="background-position: 0px -280px;"></i></ol>
                    </div>
                    <div class="submit_order fs_18px white curP text_ban" id="toPay4" onclick="pay_now('ent_bank');">
                        立即付款
                    </div>
                </div>
            </li>
            <li id="tab5">
                <div class="mar_l_25px">
                    <div class="pay_tab_last border">
                        <img class="tab_last_img fl" src="img/downline-bank-01.png" />
                        <div class="fl tab_last_text border_l">
                            <ol>户　名：深圳大家来投资发展有限公司</ol>
                            <ol>开户行：中国工商银行深圳新沙支行</ol>
                            <ol>账　号：40000 3250 920 111 5205</ol>
                        </div>
                    </div>
                    <b class="f_c_333 mar_t_20px">填写转账信息&nbsp;&nbsp;&nbsp;<span class="f_c_999 fs_12px" style="font-weight: normal">线下转账成功后，请提交您的转账信息，以免影响订单处理进度。</span></b>
                    <div class="payments fs_13px" id="offline_template">
                        <ol><p><em class="red2">*</em>汇款单位：</p><input class="noNull" type="text" v-model="info.payer_name"/><span class="red2 mar_l_15px Nhide">请填写汇款单位</span></ol>
                        <ol><p><em class="red2">*</em>汇款银行：</p><input class="noNull" type="text" v-model="info.bank_name"/><span class="red2 mar_l_15px Nhide">请填写汇款银行</span></ol>
                        <ol><p><em class="red2">*</em>银行账号：</p><input class="noNull" type="text" v-model="info.bank_account"/><span class="red2 mar_l_15px Nhide">请填写银行账号</span></ol>
                        <ol><p><em class="red2">*</em>汇款金额：</p><input class="center noNull" type="text" readonly="readonly" v-model="info.pay_amount"/><i class="mar_l_10px f_c_333" style="width: 190px;display: inline-block">元</i><span class="red2 mar_l_15px Nhide">请填写汇款金额</span></ol>
                        <ol><p>备注：</p><textarea v-model="info.remark"></textarea></ol>
                        <ol><div class="submit_order fs_18px white curP payments_sub" v-on:click="saveOfflinePay()">提交</div><div class="submit_order fs_18px white hide payments_sub1">提交中...</div></ol>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <!-- 底部 -->
    <div id="bottomTemp_main"></div>

    <!-- 弹出窗 -->
    <div id="del_orders_mask"></div>


<script type="text/javascript" src="lib/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="lib/js/common.js?v=0220"></script>
<script type="text/javascript" src="lib/js/global.js"></script>
<script type="text/javascript" src="lib/js/vue.js" ></script>
<script type="text/javascript" src="js/purchase_orders.js?v=0220"></script>
<script type="text/javascript">
    var vm_offline = new Vue({
        el: '#offline_template',
        data: {info:{}},
        methods: {
            //保存
            saveOfflinePay: function () {
                $("#offline_template .mar_l_15px").each(function(){
                    $(this).next().hide();
                });
                var isValid = true;
                $("#offline_template .noNull").each(function(){
                    var txt = $(this).val().trim();
                    if(txt==''){
                        $(this).next().show();
                        isValid = false;
                    }
                });
                if(isValid){
                    $("#offline_template .payments_sub").addClass("hide");
                    $("#offline_template .payments_sub1").removeClass("hide");
                    var url2 = '/newapi/order.php?act=save_offline_payment';
                    com.executeAjax(url2, vm_offline.info, "POST", function (result) {
                        location.href = 'pay_success.html?out_trade_no=' + vm_offline.info.order_id + '&total_fee=' + vm_offline.info.pay_amount + '&underline=true';
                    });
                }
            }
        }
    });

    orders_three_init();
    $(".noNull").on('input propertychange',function(){
        var txt = $(this).val().trim();
        if(txt != ''){
            $(this).siblings('span').hide();
        }
    });
</script>
</body>
</html>