<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <!--#include file="lib/temp/pageMeta.html" -->
    <title>入驻供应商_大家来采购网</title>
    <link rel="stylesheet" type="text/css" href="lib/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/main.css"/>
    <link rel="stylesheet" href="css/recruit_partner.css"/>
</head>
<body>

<div id="titleTemp_main"></div>
<main class="zm_container">
    <div class="w_inner">
        <!--banner-->
        <div class="city_banner">
            <a class="city_banner_img"><img src="img/20170710/zm_banner.png"></a>
            <button class="btm_btn" id="btm_btn"></button>
        </div>

        <section class="zm_floor">
            <div class="zm_inner">
                <hgroup class="zm_title_all">
                    <h3 class="zm_title_c">大家来优势/</h3>
                    <h3 class="zm_title_e">ADVANTAGE</h3>
                </hgroup>
                <div class="container">
                    <div id="posterTvGrid86804" style="margin:40px auto 0 auto;"></div>
                </div>
            </div>
        </section>

        <div class="zm_floor">
            <div class="zm_inner">
                <hgroup class="zm_title_all">
                    <h3 class="zm_title_c">招募要求/</h3>
                    <h3 class="zm_title_e">REQUIREMENGTS</h3>
                </hgroup>
                <div class="zm_req">
                    <dl class="zm_detail">
                        <dt class="detail_mark center">资质要求</dt>
                        <dd class="detail_list">
                            <p class="list_cell"><i class="cell_no white center fs_24px">01</i><span class="cell_txt fs_18px">拥有行业知名品牌的实体企业</span></p>
                            <p class="list_cell"><i class="cell_no white center fs_24px">02</i><span class="cell_txt fs_18px">拥有正规的的企业法人身份的企业商户</span></p>
                            <p class="list_cell"><i class="cell_no white center fs_24px">03</i><span class="cell_txt fs_18px">公司具备纳税人资格</span></p>
                            <p class="list_cell"><i class="cell_no white center fs_24px">04</i><span class="cell_txt fs_18px">拥有商标注册证或商标注册受理通知书</span></p>
                            <p class="list_cell"><i class="cell_no white center fs_24px">05</i><span class="cell_txt fs_18px">以上资质需真实有效，并加盖相应公章</span></p>
                        </dd>
                    </dl>
                    <dl class="zm_detail">
                        <dt class="detail_mark center">供应原则</dt>
                        <dd class="detail_list">
                            <p class="list_cell"><i class="cell_no white center fs_24px">01</i><span class="cell_txt fs_18px">廉洁正直、公平合理的合作关系</span></p>
                            <p class="list_cell"><i class="cell_no white center fs_24px">02</i><span class="cell_txt fs_18px">全行业与商城品类供应</span></p>
                            <p class="list_cell"><i class="cell_no white center fs_24px">03</i><span class="cell_txt fs_18px">品牌不限，品牌方优先合作</span></p>
                            <p class="list_cell"><i class="cell_no white center fs_24px">04</i><span class="cell_txt fs_18px">互助互补、互惠共赢的双重受益合作模式</span></p>
                            <p class="list_cell"><i class="cell_no white center fs_24px">05</i><span class="cell_txt fs_18px">致力于长期、稳定、战略性合作</span></p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <section class="zm_floor">
            <div class="zm_inner">
                <hgroup class="zm_title_all">
                    <h3 class="zm_title_c">招募6步走/</h3>
                    <h3 class="zm_title_e">COOPERATION</h3>
                </hgroup>
                <div class="zm_six_steps">
                    <div class="zm_six_item">
                        <dl class="zm_detail">
                            <!--<dt class="detail_mark center"></dt>-->
                            <dd class="detail_list">
                                <p class="list_cell"><i class="cell_no center fs_18px f_b">01</i><span class="cell_txt fs_18px">了解大家来，提交申请资料</span></p>
                                <p class="list_cell"><i class="cell_no center fs_18px f_b">02</i><span class="cell_txt fs_18px">审核资质，确定合作意向</span></p>
                                <p class="list_cell"><i class="cell_no center fs_18px f_b">03</i><span class="cell_txt fs_18px">考察验厂，评估厂家资质</span></p>
                            </dd>
                        </dl>
                        <dl class="zm_detail">
                            <!--<dt class="detail_mark center"></dt>-->
                            <dd class="detail_list">
                                <p class="list_cell"><i class="cell_no center fs_18px f_b">04</i><span class="cell_txt fs_18px">签订合作协议、授权书/牌</span></p>
                                <p class="list_cell"><i class="cell_no center fs_18px f_b">05</i><span class="cell_txt fs_18px">资料审核，上传产品信息</span></p>
                                <p class="list_cell"><i class="cell_no center fs_18px f_b">06</i><span class="cell_txt fs_18px">成功加入大家来供应链</span></p>
                            </dd>
                        </dl>
                    </div>
                    <span class="zm_advert"><img src="img/20170710/zm_icon_03.png"></span>
                </div>
            </div>
        </section>

        <div class="zm_floor">
            <div class="zm_inner">
                <hgroup class="zm_title_all">
                    <h3 class="zm_title_c">申请入驻/</h3>
                    <h3 class="zm_title_e">APPLICATION</h3>
                </hgroup>
                <div class="zm_apply">
                    <div class="zm_apply_item">
                        <dl class="zm_detail">
                            <!--<dt class="detail_mark center"></dt>-->
                            <dd class="detail_list">
                                <p class="list_cell">
                                    <i class="cell_no white center fs_16px">联系人</i>
                                    <span class="cell_txt fs_18px">
                                        <input type="text" id="user_name" placeholder="请填写您的真实姓名">
                                        <em class="error_message">请填写您的真实姓名</em>
                                    </span>
                                </p>
                                <p class="list_cell">
                                        <i class="cell_no white center fs_16px">联系电话</i>
                                        <span class="cell_txt fs_18px">
                                            <input type="tel" id="user_tel" placeholder="请填写您的联系电话">
                                            <em class="phone">请填写有效的联系电话</em>
                                         </span>
                                </p>
                                <p class="list_cell">
                                    <i class="cell_no white center fs_16px">企业名称</i>
                                    <span class="cell_txt fs_18px">
                                        <input type="text" id="user_company" placeholder="请填写您的企业名称">
                                        <em class="error_message">请填写您的企业名称</em>
                                    </span>
                                </p>
                                <p class="list_cell cell_type">
                                    <i class="cell_no white center fs_16px">供应商类型</i>
                                    <span class="cell_txt fs_14px">
                                        <input type="radio" id="one" name="pro_type" class="" value="1" checked><label for="one">厂家</label>
                                        <input type="radio" id="two" name="pro_type" value="2"><label for="two">分销商</label>
                                        <input type="radio" id="three" name="pro_type" value="3"><label for="three">代理商</label>
                                        <!--<input type="radio" id="four" name="pro_type" value="4"><label for="four">地区总代理</label>-->
                                        <input type="radio" id="five" name="pro_type" value="5"><label for="five">其他</label>
                                    </span>
                                </p>
                            </dd>
                        </dl>
                        <dl class="zm_detail">
                            <!--<dt class="detail_mark center"></dt>-->
                            <dd class="detail_list">
                                <p class="list_cell">
                                    <i class="cell_no white center fs_16px">经营类型</i>
                                    <span class="cell_txt fs_18px">
                                        <input type="text" id="company_type" placeholder="请填写您公司经营品类">
                                        <em class="error_message">请填写您公司经营品类</em>
                                    </span>
                                </p>
                                <p class="list_cell">
                                    <i class="cell_no white center fs_16px">所在地址</i>
                                    <span class="cell_txt fs_18px">
                                    <b v-cloak class="province fl" id="Province">
                                        <select id="s_province" name="s_province" data="true">
                                            <option v-for="option in options" v-bind:value="option.region_id">
                                                {{ option.region_name }}
                                            </option>
                                        </select>
                                        <i class="icon_down"></i>
                                    </b>
                                    <b v-cloak class="province fl" id="City">
                                        <select id="s_city" name="s_city" data="true">
                                            <option v-for="option in options" v-bind:value="option.region_id">
                                                {{ option.region_name }}
                                            </option>
                                        </select>
                                        <i class="icon_down"></i>
                                    </b>
                                    <b v-cloak class="province fl" id="Area">
                                        <select id="s_county" name="s_county" data="true">
                                            <option v-for="option in options" v-bind:value="option.region_id">
                                                {{ option.region_name }}
                                            </option>
                                        </select>
                                        <i class="icon_down"></i>
                                    </b>
                                </span>
                                </p>
                                <p class="list_cell">
                                    <i class="cell_no white center fs_16px">街道地址</i>
                                    <span class="cell_txt fs_18px">
                                    <input type="text" id="user_addr" placeholder="请填写街道地址" >
                                </span>
                                </p>
                                <p class="list_cell">
                                    <i class="cell_no white center fs_16px">备注信息</i>
                                    <span class="cell_txt fs_18px">
                                    <input type="text" id="user_note" placeholder="自由输入内容，限26字以内">
                                </span>
                                </p>
                            </dd>
                        </dl>
                    </div>
                    <button type="submit" class="sub_btn fs_24px white">提交</button>
                </div>
            </div>
        </div>

        <section class="zm_floor zm_issue_bg">
            <div class="zm_inner">
                <hgroup class="zm_title_all">
                    <h3 class="zm_title_c">合作说明/</h3>
                    <h3 class="zm_title_e">INSTRUCKTUONS</h3>
                </hgroup>
                <div class="zm_issue">
                    <aside class="issue_desc">
                        <dl class="issue_row">
                            <dt class="issue_row_tit"><i class="cell_no center fs_18px f_b">01</i><span class="cell_txt">关于<em class="special">大家来采购网</em></span></dt>
                            <dd class="issue_row_cell fs_14px">①大家来采购网 是智慧建筑行业内第一家大型综合性互联网垂直交易和资源整合平台，专注于专业领域专心打造E2E大型垂直交易和资源整合平台！</dd>
                        </dl>
                        <dl class="issue_row">
                            <dt class="issue_row_tit"><i class="cell_no center fs_18px f_b">02</i><span class="cell_txt">若您是经销商，请提供</span></dt>
                            <dd class="issue_row_cell fs_14px">① 所经营品牌商标注册证明或商标注册备案通知书</dd>
                            <dd class="issue_row_cell fs_14px">② 品牌商授权给一级代理的授权书</dd>
                            <dd class="issue_row_cell fs_14px">③ 一级代理授权给二级代理的授权书</dd>
                        </dl>
                        <dl class="issue_row">
                            <dt class="issue_row_tit"><i class="cell_no center fs_18px f_b">03</i><span class="cell_txt">若您是生产商，请提供</span></dt>
                            <dd class="issue_row_cell fs_14px">①营业执照、开户许可证、商标注册证明或商标注册备案通知书；</dd>
                            <dd class="issue_row_cell fs_14px">②若商品为委托第三方工厂代为加工的，请额外提供代工厂商的生产许可证及与代工厂商签订的委托加工协议。</dd>
                        </dl>
                    </aside>
                    <aside class="issue_desc">
                        <dl class="issue_row">
                            <dt class="issue_row_tit"><i class="cell_no center fs_18px f_b">04</i><span class="cell_txt">合作细节</span></dt>
                            <dd class="issue_row_cell fs_14px">② 阅读入驻帮助</dd>
                            <dd class="issue_row_cell fs_14px">③ 供应商信息提交</dd>
                            <dd class="issue_row_cell fs_14px">④ 大家来专人跟进审核</dd>
                            <dd class="issue_row_cell fs_14px">④如果审核通过，您的入驻即已成功，后续我方如有采购意向，会有专人与您联系</dd>
                        </dl>
                        <dl class="issue_row">
                            <dt class="issue_row_tit"><i class="cell_no center fs_18px f_b">05</i><span class="cell_txt">合作模式</span></dt>
                            <dd class="issue_row_cell fs_14px">① 供应商提供商品及页面信息，大家来负责销售及发货给顾客。</dd>
                        </dl>
                        <dl class="issue_row">
                            <dt class="issue_row_tit"><i class="cell_no center fs_18px f_b">06</i><span class="cell_txt">目前合作品牌有哪些</span></dt>
                            <dd class="issue_row_cell fs_14px">①目前华为,大华,海康威视等大量品牌已经入驻，更多请点击   <em class="special">>>></em></dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </section>
    </div>
</main>

<nav class="zm_sidebar clearfix">
    <div class="zm_bar_inner">
        <a class="bar_cell white">大家来优势</a>
        <a class="bar_cell white">招募要求</a>
        <a class="bar_cell white">招募六步走</a>
        <a class="bar_cell white">申请入驻</a>
        <a class="bar_cell white">合作说明</a>
        <a class="bar_return" href="#"><img src="img/20170710/zm_return.png"></a>
    </div>
</nav>

<div class="pop_success" id="pop_success">
    <div class="s_inner">
        <div class="s_title">提示<span class="s_tit_close">X</span></div>
        <div class="s_txt">
            <p>大家来采购网已经收到了您提交的申请信息,我们会尽快与您联系！</p>
        </div>
        <div class="s_btm"><button class="s_yes">确定</button><a href="main.html">前往首页</a></div>
    </div>
</div>

<!-- 底部 -->
<div id="bottomTemp_main" class=""></div>
<script type="text/javascript" src="lib/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="lib/js/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="lib/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/common.js"></script>
<script type="text/javascript" src="lib/js/global.js"></script>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/recruit_partner.js?time=New Date()"></script>
<script type="text/javascript">
    var browerObj = checkBrowser();
    //loadcss
    function loadCss(url) {
        var myLink = document.createElement("link");
        myLink.rel = "stylesheet";
        myLink.type = "text/css";
        myLink.href = url;
        document.getElementsByTagName("head")[0].appendChild(myLink);
    }
    // 浏览器判断
    function checkBrowser(){
        var u = window.navigator.userAgent.toLocaleLowerCase(),
            msie = /(msie) ([\d.]+)/,
            chrome = /(chrome)\/([\d.]+)/,
            firefox = /(firefox)\/([\d.]+)/,
            safari = /(safari)\/([\d.]+)/,
            opera = /(opera)\/([\d.]+)/,
            ie11 = /(trident)\/([\d.]+)/,
            b = u.match(msie)||u.match(chrome)||u.match(firefox)||u.match(safari)||u.match(opera)||u.match(ie11);
        return {name: b[1], version: parseInt(b[2])};
    }



    var posterTvGrid86804 = new posterTvGrid('posterTvGrid86804',{className: "posterTvGrid"},[

            {"img":"img/20170710/banner01.jpg","title":"","url":""},

            {"img":"img/20170710/banner02.jpg","title":"","url":""},

            {"img":"img/20170710/banner03.jpg","title":"","url":""},

            {"img":"img/20170710/banner01.jpg","title":"","url":""},

            {"img":"img/20170710/banner02.jpg","title":"","url":""},

            {"img":"img/20170710/banner03.jpg","title":"","url":""}

        ]

    );
</script>
</body>
</html>