<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--#include file="lib/temp/pageMeta.html" -->
    <title>热销、特卖_大家来采购网</title>
    <link rel="stylesheet" type="text/css" href="lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/special_district_f.css"/>
</head>
<body>
    <!-- 头部 -->
    <div id="titleTemp_main"></div>
    <div id="titleTemp2_main"></div>

    <div class="width_main3">
        <img class="banner" src="img/special_banner.jpg" />
    </div>
    <div class="background">
        <div class="white li_he_30px special_title pad_b_30px">
            <img src="img/brand_bg_title2.png" />
        </div>
        <div class="width_main3" id="hotProducts">
            <ul class="over_hide special_list">
                <li class="special_list_li" v-for="list in list">
                    <div class="img">
                        <img :src="list.thumb" />
                        </div>
                    <p class="li_he_20px f_c_333 textHide fs_14px mar_t_15px" :title="list.name">{{list.name}}</p>
                    <div class="over_hide pay_div">
                        <div class="over_hide">
                            <span class="red2 fl"><span class="fs_24px">{{list.promote_price}}</span></span>
                            <div class="fr li_he_15px">
                                <s class="fs_12px f_c_999">{{list.shop_price}}</s>
                                <p class="fs_12px">已售<span class="red2">{{list.cum_sales}}</span>件</p>
                            </div>
                        </div>
                        <span class="panic_buying" @click="toInfo(list.id)">立即抢购</span>
                    </div>
                </li>
                <li v-if="(list =='')" class="center white">活动已结束</li>
            </ul>
        </div>
    </div>
    <div class="background2">
        <div class="white li_he_30px special_title">
            <img src="img/brand_bg_title.png" />
        </div>
        <div class="width_main3 floor_div" id="special_list">
            <!--<ul class="over_hide special_list">-->
                <!-- 列表 -->
                <!--<p class="fs_24px white center title_text">【中控】</p>
                <li class="special_list_li">
                    <div class="img">
                        <img src="img/bbb.jpeg" />
                    </div>
                    <p class="li_he_20px f_c_333 textHide fs_14px mar_t_15px">H3C 网络通信 无线中继器 Magic F1-DWLTX </p>
                    <div class="over_hide mar_t_15px">
                        <span class="red2 fl"><span class="fs_18px">￥</span><span class="fs_30px">149</span></span>
                        <div class="fl li_he_15px">
                            <s class="fs_12px f_c_999">￥89.00</s>
                            <p class="fs_12px">已售<span class="red2">21</span>件</p>
                        </div>
                        <span class="panic_buying">立即抢购</span>
                    </div>
                </li>-->
            <!--</ul>-->
        </div>
        <img class="loading" style="display: none" src="img/loading.gif" />
    </div>

    <ul class="floor white fs_12px" id="floorBrand">
        <p id="top1"><i class="icon_position"></i><span>热销产品</span></p>
        <li v-for="list in list"><i class="icon_position"></i><span v-cloak class="text_hide" :title="list.brand_name">{{list.brand_name}}</span></li>
        <p id="backTop"><i class="icon_position"></i><span>返回顶部</span></p>
    </ul>

    <!-- 底部 -->
    <div id="bottomTemp_main" style="margin-top: -20px"></div>
    <!-- 侧边栏 -->
    <div id="sidebarTemp_main"></div>

    <script type="text/javascript" src="lib/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="lib/js/common.js"></script>
    <script type="text/javascript" src="lib/js/global.js"></script>
    <script type="text/javascript" src="lib/js/vue.js" ></script>
    <script type="text/javascript" src="js/special_district.js" ></script>
    <script type="text/javascript">
        special_district();
    </script>

</body>
</html>