<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--#include file="lib/temp/pageMeta.html" -->
    <link rel="stylesheet" type="text/css" href="lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/spike_info.css"/>
    <link rel="stylesheet" type="text/css" href="css/moveImg.css"/>
    <title></title>
    <style type="text/css">
        .mask_main{width: 350px;margin: -117.5px -220px;}
        .mask_main .mask_input{margin-left: -115px;}
    </style>
</head>
<body>
    <!-- 头部 -->
    <div id="titleTemp_main"></div>
    <div id="titleTemp2_main"></div>

    <!-- 头部滚动显示条 -->
    <div class="scroll_top box_s Nhide">
        <div class="width_main" id="gundong">
            <img :src="list.goods.goods_thumb" class="fl scroll_img" width="41" height="41">
            <!--<img :src="list.goods.goods_thumb" class="fl scroll_img">-->
            <p class="orange fl mar_l_30px shopPrice" style="margin-top: 12px;">{{list.goods.shop_price}}</p>

            <div class="ljdg2 white fr jrjhd fs_12px">
                <!--<i class="icon_sidebar fl"></i>-->
                <span>加入进货单</span>
            </div>
        </div>
    </div>
    <div class="border_t2">
        <div class="width_main">
            <ul class="fs_12px f_c_666 navigation_bar2 Nhide">
                <li><a href="main.html">首页</a></li>
                <div id="pageTitle">
                    <li v-for="title1 in list.ur_here.cat" v-cloak><span> > </span><a :href="title1.url">{{title1.name}}</a></li>
                </div>
            </ul>
        </div>
    </div>
    <div class="bg_white pad_t_25px">
        <div class="width_main pos_rel">
            <!--<img class="double12_right Nhide" src="/img/double12_right.png" />
            <img class="double12_left Nhide" src="/img/double12_left.png" />-->
            <div style="height: 500px">
                <div id="listTitle1">
                    <section>
                        <div class="product_info fl">
                            <div class="preview">
                                <div id="vertical" class="bigImg border">
                                    <img src="" id="midimg" />
                                    <div style="display:none;" id="winSelector"></div>
                                </div>
                                <!--bigImg end-->
                                <div class="midImg">
                                    <div class="scrollbutton midImgUp disabled"></div>
                                    <div id="imageMenu">
                                        <ul>
                                            <!--<li id="onlickImg"><img src="img/aaa.jpeg" /></li>-->
                                            <li v-for="img in list.pictures"><img :src="img.img_url" /></li>
                                        </ul>
                                    </div>
                                    <div class="scrollbutton midImgDown"></div>
                                </div>
                                <!--midImg end-->
                                <div id="bigView" style="display:none;"><img width="800" height="800" src="" /></div>
                            </div>
                            <div class="fl pos_rel Nhide">
                                <div class="attention fs_12px f_c_333 fl">关注</div>
                                <div class="share sharelist fs_12px f_c_333 fl" onmouseover="$('.shareimglist').show();" onmouseout="$('.shareimglist').hide();" id="share">分享</div>
                                <div class="shareimglist" style="display: none;" onmouseover="$('.shareimglist').show();" onmouseout="$('.shareimglist').hide();">
                                    <div style="width:280px">
                                        <div class="bdsharebuttonbox" data-tag="share_1">
                                            <a style="display:none" href="#" class="bds_more" data-cmd="more"></a>
                                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                            <a href="#" class="bds_kaixin001" data-cmd="kaixin001" title="分享到开心网"></a>
                                            <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                                            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="product_info_text">
                            <li><b class="f_c_333 li_he_20px" v-cloak>{{list.goods.act_name}}</b></li>
                            <li class="red fs_14px"><span v-cloak>{{list.goods.goods_brief}}</span></li>
                            <!--专题活动-->
                            <li id="ordinary_price">
                                <span class="fs_16px">秒杀价：</span>
                                <span class="fs_18px red"></span>
                                <span class="fs_24px red shopPrice" v-cloak>{{list.goods.activity_price}}</span>
                                <del class="old_price" style="font-size: 10px;margin-left: 10px"   v-if="list.goods.market_price!==''">原价:{{list.goods.market_price}}</del>
                            </li>
                            <li class="double12_money mar_t_20px double12IsShow ">
                                <p class="fs_14px white double12_title skill_time">&nbsp;</p>
                            </li>

                            <li><p class="mar_t_10px fs_13px">
                                <span>起订:<i class="red">{{list.goods.moq}}</i>{{list.goods.unit}}</span>
                                <span class="mar_l_30px">限购:<i class="red">{{ list.goods.max_number }}</i>{{list.goods.unit}}/人</span>
                            </p></li>
                            <li style="height: 37px;line-height: 37px;">
                                <p class="text1">数量：</p>
                                <div class="content_amount">
                                    <span class="amount_min fl">-</span>
                                    <input class="amount_num fl" id="amount_num" type="text" :value="list.goods.moq" />
                                    <!--<span class="amount_num fl">1</span>-->
                                    <span class="amount_max fl">+</span>
                                </div>
                                <div class="cycle"  v-if="list.goods.goods_cycle != 0" v-cloak><span></span><i>发货周期&nbsp;{{list.goods.goods_cycle}}&nbsp;天</i></div>
                            </li>
                            <li id="Order">
                                <a class="ljdg white fl fs_16px" id="ljdg">立即秒杀</a>
                                <!--<div class="ljdg jrjhd bg_light_red red border_red fl fs_16px"><img src="img/icon-order.png" />加入进货单</div>-->
                            </li>
                        </ul>
                        <!--商品详情-->
                        <div class="tabMenu tabMenu_main Nhide fr" style="display: block;" id="tab1">
                                <div class="product_info2">
                                    <div class="bg_white product_info2_con" id="product_info1">
                                        <!--{{item.goods_desc}}-->
                                        <!--<img src="img/xiaomi2.png" />-->
                                    </div>
                                </div>
                            </div>
                    </section>
                </div>
                <script>
                    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24" }, "share": {} };
                    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '//bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                </script>

                <!--厂家直供，品牌授权-->
                <div class="product_support fl">
                    <div class="product_support_title">
                        <p>厂家直供，品牌授权</p>
                    </div>
                    <ul>
                        <p>本商品支持</p>
                        <li><a><h2>正</h2>假一赔十</a></li>
                        <li><a><h2>票</h2>正规发票</a></li>
                        <li><a><h2>退</h2>退换无忧</a></li>
                        <li><a><h2>定</h2>定时发货</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    <div id="bottomTemp_main" class=""></div>

    <!--  弹出窗 -->
    <div id="orders_mask"></div>

    <!-- 侧边栏 -->
    <div id="sidebarTemp_main"></div>

<script type="text/javascript" src="lib/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="lib/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="lib/js/common.js"></script>
<script type="text/javascript" src="lib/js/global.js"></script>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/spike_info.js"></script>
<script type="text/javascript" src="lib/js/moveImg.js"></script>
<script type="text/javascript">
//    $("img").lazyload({
//        effect : "fadeIn"
//    });

    com.isTitleMenuShow(false)
</script>

</body>
</html>