<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--#include file="lib/temp/pageMeta.html" -->
    <link rel="stylesheet" type="text/css" href="lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/spike.css"/>
    <title>品牌秒杀_大家来采购网</title>
</head>
<body>
    <!-- 头部 -->
    <div id="titleTemp_main"></div>
    <div id="titleTemp2_main"></div>
    <div class="border_t2"></div>
    <div class="spike_container" id="spike">
        <div class="spike_banner">
            <img src="img/20170703/m_banner_01.jpg"/>
            <div class="spike_tab_time">
                <a class="tab_cell" :class="{ 'tab_active_0': layout == '0' }" @click="layout = 0">
                    <i class="tab_cell_hour">10:00</i>
                    <button class="tab_cell_btn">已结束</button>
                    <em class="tab_cell_calc"></em>
                </a>
                <a class="tab_cell" :class="{ 'tab_active_1': layout == '1' }" @click="layout = 1">
                    <i class="tab_cell_hour">15:00</i>
                    <button class="tab_cell_btn">未开始</button>
                    <em class="tab_cell_calc"></em>
                </a>
            </div>
        </div>
        <div class="spike_content width_main">
            <div class="spike_inner mar_t_10px">
                <!--<div class="spike_title spike_title1" style="display: none;">-->
                    <!--<span class="mar_l_25px white fs_24px">12:30&nbsp;&nbsp;正在秒杀</span><span class="fr mar_r_15px white fs_14px Countdown">距离结束&nbsp;&nbsp;03:20</span>-->
                <!--</div>-->
                <div class="spike_tit">
                    <span class="tit_bg">今日秒杀</span>
                </div>
                <div class="over_hide spike_info">
                    <ul v-if="layout == 0" class="spike_list spike_list_0 clearfix">
                        <li class="spike_goods clearfix" v-for="lists in list.one_goods">
                            <a :href="'spike_info.html?infoId='+lists.goods_id+'&times=1'" target="_blank" class="spike_goods_link">
                                <i class="spike_tag"><img src="img/20170703/m_icon_01.png"></i>
                                <span><img class="spike_goods_link_img" :title="lists.act_name" :src="lists.goods_img"></span>
                                <h4 class="spike_goods_title" :title="lists.act_name">{{lists.act_name}}</h4>
                            </a>
                            <div class="spike_goods_info">
                                <p class="spike_goods_info_txt">
                                    <span class="cond cond_prom">
                                        <i class="red fs_18px">秒杀价:<em class="cond_price fs_24px">{{lists.activity_price}}</em></i>
                                        <del class="fs_12px f_c_999">原价:￥{{lists.market_price}}</del>
                                    </span>
                                    <span class="cond">
                                        <i class="fs_12px f_c_999">起订:{{lists.moq}}{{lists.unit}}</i>
                                        <i class="fs_12px f_c_999">限购:{{lists.max_number}}{{lists.unit}}</i>
                                    </span>
                                </p>
                                <a :href="'spike_info.html?infoId='+lists.goods_id+'&times=1'" target="_blank" class="spike_goods_info_i white rushbuy" :class="{ 'noRushbuy': lists.restrict_amount - lists.total_goods <=0 }">{{ lists.restrict_amount - lists.total_goods <=0 ? "已秒完" : "立即秒杀" }}</a>
                                <!--<p class="spike_goods_info_i white noRushbuy">已秒完</p>-->
                            </div>
                        </li>
                    </ul>
                    <ul v-if="layout == 1" class="spike_list spike_list_1 clearfix">
                        <li class="spike_goods clearfix" v-for="lists in list.second_goods">
                            <a :href="'spike_info.html?infoId='+lists.goods_id+'&times=2'" target="_blank" class="spike_goods_link">
                                <i class="spike_tag"><img src="img/20170703/m_icon_01.png"></i>
                                <span><img class="spike_goods_link_img" :title="lists.act_name" :src="lists.goods_img"></span>
                                <h4 class="spike_goods_title" :title="lists.act_name">{{lists.act_name}}</h4>
                            </a>
                            <div class="spike_goods_info">
                                <p class="spike_goods_info_txt">
                                    <span class="cond cond_prom">
                                        <i class="red fs_18px">秒杀价:<em class="cond_price fs_24px">{{lists.activity_price}}</em></i>
                                        <del class="fs_12px f_c_999">原价:￥{{lists.market_price}}</del>
                                    </span>
                                    <span class="cond">
                                        <i class="fs_12px f_c_999">起订:{{lists.moq}}{{lists.unit}}</i>
                                        <i class="fs_12px f_c_999">限购:{{lists.max_number}}{{lists.unit}}</i>
                                    </span>
                                </p>
                                <a :href="'spike_info.html?infoId='+lists.goods_id+'&times=2'" target="_blank" class="spike_goods_info_i white rushbuy" :class="{ 'noRushbuy': lists.restrict_amount - lists.total_goods <=0 }">{{ lists.restrict_amount - lists.total_goods <=0 ? "已秒完" : "立即秒杀" }}</a>
                                <!--<a :href="'spike_info.html?infoId='+lists.goods_id" target="_blank" class="spike_goods_info_i white rushbuy">立即秒杀</a>-->
                                <!--<p class="spike_goods_info_i white noRushbuy">已秒完</p>-->
                            </div>
                        </li>
                    </ul>
                    <!--<ul class="spike_list1 clearfix">-->
                        <!--<li class="brand_item" v-for="brands in list.brand">-->
                            <!--<a :href="'NewBrandZone.html?id='+brands.brand_id" class="brand_item_lk" target="_blank"></a>-->
                            <!--<a :href="'NewBrandZone.html?id='+brands.brand_id" target="_blank" class="brand_item_btn">立即抢购</a>-->
                            <!--<img class="brand_item_img" :src="brands.seckill_banner">-->
                            <!--<div class="brand_item_container">-->
                                <!--<ul class="brand_item_list">-->
                                    <!--<li class="brand_item_list_item" v-for="goods in brands.goods">-->
                                        <!--<img class="brand_item_list_item_img" :src="goods.goods_img">-->
                                        <!--<div class="mar_t_10px">-->
                                            <!--<p>-->
                                                <!--<i class="fs_16px red">{{goods.activity_price}}</i>-->
                                                <!--<del class="fs_12px f_c_999 mar_l_5px">{{goods.dt_price}}</del>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>
            <div class="spike_inner mar_t_10px" id="02" name="02">
                <div class="spike_tit">
                    <span class="tit_bg">活动规则</span>
                </div>
                <div class="over_hide spike_info fs_18px">
                    <blockquote>
                        <span class="spike_info_rule">1.活动时间：2017年7月13日上午10点~11点，下午15点~16点。</span>
                        <span class="spike_info_rule">2.秒杀订单请在两小时内完成付款，逾期未付款，系统将会自动取消订单。</span>
                        <span class="spike_info_rule">3.发货：秒杀活动结束后7天内。</span>
                        <span class="spike_info_rule">4.退换货：非质量或运输损坏问题，活动商品不予退换货。</span>
                        <span class="spike_info_rule">5.咨询：任何疑问请联系在线客服或拨打服务热线400-600-8028。</span>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="spike_module clearfix">
            <div class="module_inner">
                <img src="img/20170703/m_return.png" width="120" height="429" usemap="#Map0703">
                <map name="Map0703" id="Map0703">
                    <area shape="rect" coords="0,160,120,229" href="main.html" clstag="sale|keycount|25613620|1">
                    <area shape="rect" coords="0,250,120,318" href="#02" clstag="sale|keycount|25691768|2">
                    <area shape="rect" coords="0,340,120,405" href="javascript:void(0)" clstag="sale|keycount|25613620|2">
                    <area shape="rect" coords="0,405,120,430" href="#" clstag="sale|keycount|25613620|3">
                </map>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div id="bottomTemp_main" class="mar_t_20px"></div>
    <script type="text/javascript" src="lib/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="lib/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="lib/js/common.js"></script>
    <script type="text/javascript" src="lib/js/global.js"></script>
    <script type="text/javascript" src="lib/js/vue.js"></script>
    <script type="text/javascript" src="lib/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/spike.js"></script>
    <script type="text/javascript">
        //    $("img").lazyload({
        //        effect : "fadeIn"
        //    });

        com.isTitleMenuShow(false)
    </script>
</body>
</html>