
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="大家来采购网djlcg.com,弱电一站式采购,安防弱电行业商城,建筑智能化B2B电子商务平台,为工程集成商提供智能建筑控制系统、建筑智能化工程、公共安全、楼宇自动化控制系统、机房工程在线报价、智能家居控制系统、音视频会议系统等智能建筑品牌优质特价商品及服务的互联网采购平台" />
    <meta name="Keywords" content="大家来采购网，djlcg.com,大家来电子商务，集成工程采购，中国智慧城市，智能建筑，建筑智能化，强电弱电，一站式采购，让交易变得简单，快乐" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta content=always name=referrer>
    <link rel="shortcut icon" type="image/x-icon" href="/img/icon_url.png" media="screen" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?02c5d8b75511fdeda85cc7e0b4f90842";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <title id="productListTemp1"></title>
    <link rel="stylesheet" type="text/css" href="/lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/example.css"/>
</head>
<body>
<!-- 头部 -->
<div id="titleTemp_main"></div>
<div id="titleTemp2_main"></div>

<main id="exam_container" class="exam_container">
    <div class="cou_inner clearfix">
        <div class="cou_banner"><img :src="bannerurl"></div>
        <section class="cou_content  width_main flexbox">
            <div class="cou_floors" v-for="(floor, index) in floors">
                <h3 class="cou_tit">
                    <span class="cou_tit_bigtxt">{{ floor.title }}</span>
                </h3>
                <div class="cou_content" id="info">
                    <!-- <ul class="cou_list">
                         <li class="cou_cell" v-for="(item, index) in floor.exam_list">
                             <strong class="cell_title">{{ item.e_title }}</strong>
                             <div class="cell_info" v-for="(text, index) in item.e_info">
                                 <p class="cell_txt"> {{ text.e_txt }} </p>
                                 <b class="cell_state"> {{ text.e_state }} </b>
                                 <span class="cell_img"><img :src="text.e_img"></span>
                             </div>
                         </li>
                     </ul>-->
                </div>
            </div>
            <div class="cou_img_r flexitem">
                <a class="cou_img_a" href="service_item_sub.html"><img :src="imgurl_r"></a>
            </div>
        </section>
    </div>
</main>

<!-- 底部 -->
<div id="bottomTemp_main"></div>

<script type="text/javascript" src="/lib/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/lib/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="/lib/js/common.js"></script>
<script type="text/javascript" src="/lib/js/global.js"></script>
<script type="text/javascript" src="/lib/js/vue.js"></script>
<script type="text/javascript" src="/lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/example.js"></script>
<script type="text/javascript">
    com.isTitleMenuShow(false)
</script>
</body>
</html>