<link rel="stylesheet" type="text/css" href="../css/authentication_data.css"/>

<div id="page1" class="width_main Nhide">
    <div class="orders_content bg_white">
        <p class="order_con_title border_b coupon_title">
            <span class="fl f_c_333">认证资料</span>
        </p>
        <div class="pos_rel">
            <div class="order_schedule2">
                <ul class="fs_12px f_c_999">
                    <li class="li_he_25px">
                        <img src="/img/icon_01.png" />
                        <p class="fs_14px f_c_666">提交认证信息</p>
                        <hr style="border-color: #89ca55;width: 50%"/>
                    </li>
                    <li class="li_he_25px">
                        <img src="/img/icon_03.png" />
                        <p class="fs_14px f_c_666">信息审核</p>
                        <hr/>
                    </li>
                    <li class="li_he_25px">
                        <img src="/img/icon_03.png" />
                        <p class="fs_14px f_c_666">认证成功</p>
                        <hr style="width: 50%;right: 50%"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="login_main_content pos_rel">
            <!--<form name="formUser" enctype="multipart/form-data">-->
                <ul class="mar_t_25px" style="display: none">
                    <li><p class="text fs_14px f_c_666"><b class="red">*</b>用户名：</p><input id="username" type="text"onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')" />
                        <i class="chose_color fl"></i>
                        <span class="fs_12px f_c_999">支持中文、字母、数字的组合,4-20个字符</span>
                        <span class="fs_12px red" data="false">格式错误，仅支持中文、字母、数字的组合,4-20个字符</span>
                    </li>
                    <li><p class="text fs_14px f_c_666"><b class="red">*</b>设置密码：</p><input type="password" id="pwd1"/>
                        <i class="chose_color fl"></i>
                        <span class="fs_12px f_c_999">建议使用字母、数字和符号两种及以上的组合,6-20个字符</span>
                        <span class="fs_12px red" data="false">长度只能在6-20个字符之间</span>
                    </li>
                    <li><p class="text fs_14px f_c_666"><b class="red">*</b>确认密码：</p><input type="password" id="pwd2"/>
                        <i class="chose_color fl"></i>
                        <span class="fs_12px f_c_999">请再次输入密码</span>
                        <span class="fs_12px red" data="false">密码输入不一致</span>
                    </li>
                    <hr class="border_b"/>
                    <div class="register_info_title">
                        账户信息
                    </div>
                </ul>

                <ul class="mar_t_25px">
                    <div class="register_info_title">公司信息</div>
                    <li><p class="text fs_14px f_c_666"><b class="red">*</b>公司名称：</p><input id="firmName" type="text" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')" />
                        <i class="chose_color fl"></i>
                        <span class="fs_12px f_c_999">请填写工商局注册全称</span>
                        <span class="fs_12px red" data="false">请填写公司名称</span>
                    </li>
                    <li style="width: 700px;margin-left: 142px;"><p class="text f_clear fs_14px f_c_666"><b class="red">*</b>办公地址：</p>
                        <div class="province fl border" id="Province">
                            <select id="s_province" name="s_province" data="true">
                                <option v-for="option in options" v-bind:value="option.region_id">
                                    <!--{{ option.region_name }}-->
                                    广东
                                </option>
                            </select>
                            <i class="icon_down"></i>
                        </div>
                        <div class="province mar_l_35px fl border" id="City">
                            <select id="s_city" name="s_city" data="true">
                                <option v-for="option in options" v-bind:value="option.region_id">
                                    <!--{{ option.region_name }}-->
                                    深圳
                                </option>
                            </select>
                            <i class="icon_down"></i>
                        </div>
                        <div class="province mar_l_35px fl border" id="Area">
                            <select id="s_county" name="s_county" data="true">
                                <option v-for="option in options" v-bind:value="option.region_id">
                                    <!--{{ option.region_name }}-->
                                    南山
                                </option>
                            </select>
                            <i class="icon_down"></i>
                        </div>
                    </li>
                    <li><p class="text fs_14px f_c_666"><b class="red">*</b>详细地址：</p><input type="text" id="addr" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')" />
                        <i class="chose_color fl"></i>
                        <span class="fs_12px f_c_999"></span>
                        <span class="fs_12px red" data="false">请填写详细地址</span>
                    </li>
                    <li><p class="text fs_14px f_c_666"><b class="red">*</b>公司座机：</p><input type="text" id="firmNumber" />
                        <i class="chose_color fl"></i>
                        <span class="fs_12px f_c_999"></span>
                        <span class="fs_12px red" data="false" available="false">请填写公司座机</span>
                    </li>
                    <hr class="border_b"/>
                </ul>

                <ul class="mar_t_25px">
                    <div class="register_info_title">法人信息</div>
                    <li><p class="text fs_14px f_c_666"><b class="red">*</b>法人姓名：</p><input type="text" id="bossname" onkeyup="value=value.replace(/[^\a-\z\A-\Z\u4E00-\u9FA5]/g,'')"/>
                        <i class="chose_color fl"></i>
                        <span class="fs_12px f_c_999"></span>
                        <span class="fs_12px red" data="false">请填写法人姓名</span>
                    </li>
                    <li><p class="text fs_14px f_c_666"><b class="red">*</b>开户银行：</p><input id="bankCard1" type="text" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')" />
                        <i class="chose_color fl"></i>
                        <span class="fs_12px f_c_999"></span>
                        <span class="fs_12px red" data="false" available="false">请填写开户银行</span>
                    </li>
                    <li><p class="text fs_14px f_c_666"><b class="red">*</b>对公银行账号：</p><input id="bankCard2" type="text" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')" />
                        <i class="chose_color fl"></i>
                        <span class="fs_12px f_c_999"></span>
                        <span class="fs_12px red" data="false">请填写对公银行账号</span>
                    </li>
                    <hr class="border_b"/>
                </ul>

                <ul class="mar_t_25px">
                    <li><p class="text fs_14px f_c_666"><b class="red">*</b>证件类型 ：</p>
                        <p class="fl certificates border fs_14px f_c_333 border_green" data="true">普通营业执照 <img style="display: block" src="img/chose_color2.png" /></p>
                        <p class="fl certificates border fs_14px f_c_999 mar_l_15px" data="false">多证合一营业执照<img src="img/chose_color2.png" /></p>
                        <i class="chose_color fl"></i>
                    </li>
                    <div class="register_info_title">营业证明 <p class="fs_12px blue center li_he_40px curP text_ban" id="showSample">查看示例</p></div>
                    <dl class="certificates_imgs">
                        <img class="show_sample Nhide text_ban" src="img/show-sample.png" />
                        <dd>
                            <p class="li_he_40px f_c_333">公司营业执照</p>
                            <div class="upload">
                                <span class="clear_img">×</span>
                                <div class="upload_bg" id="image_wrap1"><p>添加图片</p></div>
                                <input class="upload_file bg_gray" data="false" id="file1" type="file"/>
                            </div>
                            <p class="fs_12px red li_he_20px">请上传对应图片</p>
                        </dd>
                        <dd class="mar_l_20px">
                            <p class="li_he_40px f_c_333">公司税务登记证</p>
                            <div class="upload">
                                <span class="clear_img">×</span>
                                <div class="upload_bg" id="image_wrap2"><p>添加图片</p></div>
                                <input class="upload_file bg_gray" data="false" id="file2" type="file"/>
                            </div>
                            <p class="fs_12px red li_he_20px">请上传对应图片</p>
                        </dd>
                        <dd class="mar_t_20px">
                            <p class="li_he_40px f_c_333">法人身份证扫描件</p>
                            <div class="upload">
                                <span class="clear_img">×</span>
                                <div class="upload_bg" id="image_wrap3"><p>添加图片</p></div>
                                <input class="upload_file bg_gray" data="false" id="file3" type="file"/>
                            </div>
                            <p class="fs_12px red li_he_20px">请上传对应图片</p>
                        </dd>
                        <dd class="mar_l_20px mar_t_20px">
                            <p class="li_he_40px f_c_333">组织结构代码证</p>
                            <div class="upload">
                                <span class="clear_img">×</span>
                                <div class="upload_bg" id="image_wrap4"><p>添加图片</p></div>
                                <input class="upload_file bg_gray" data="false" id="file4" type="file"/>
                            </div>
                            <p class="fs_12px red li_he_20px">请上传对应图片</p>
                        </dd>
                        <p class="cer_imgs_text1 fs_12px f_c_999">仅支持格式为.PNG .JPG .GIF，<br/>大小在50M以内的单张图片上传。</p>
                        <p class="cer_imgs_text2 fs_12px f_c_999">仅支持格式为.PNG .JPG .GIF，<br/>大小在50M以内的单张图片上传。</p>
                    </dl>
                    <br/>
                    <p class="now_login fs_16px white bg_light_dd3e3e curP">提交</p>
                </ul>
            <!--</form>-->
        </div>
    </div>
</div>

<div id="page2" class="width_main Nhide">
    <div class="orders_content bg_white">
        <p class="order_con_title border_b coupon_title">
            <span class="fl f_c_333">认证资料</span>
        </p>
        <div class="pos_rel">
            <div class="order_schedule2">
                <ul class="fs_12px f_c_999">
                    <li class="li_he_25px">
                        <img src="/img/icon_01.png" />
                        <p class="fs_14px f_c_666">提交认证信息</p>
                        <hr style="border-color: #89ca55;width: 50%"/>
                    </li>
                    <li class="li_he_25px">
                        <img src="/img/icon_01.png" />
                        <p class="fs_14px f_c_666">信息审核</p>
                        <hr style="border-color: #89ca55;"/>
                    </li>
                    <li class="li_he_25px">
                        <img src="/img/icon_03.png" />
                        <p class="fs_14px f_c_666">认证成功</p>
                        <hr style="width: 50%;right: 50%"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="data_text_main">
            <img src="img/icon_rz_ok.png" class="fl text_main_img" />
            <div class="f_c_666 fl text_main">
                <p class="fs_24px">信息提交成功，请等待审核！</p>
                <p class="fs_14px">我们将在2个工作日内完成审核，审核成功后会短信提醒您。请您耐心等待，如有任何疑问请联系客服！</p>
                <span class="fs_12px bg_line_gray"><a href="../main.html">去首页逛逛</a></span>
            </div>
        </div>
    </div>
</div>

<div id="page3" class="width_main Nhide">
    <div class="orders_content bg_white">
        <p class="order_con_title border_b coupon_title">
            <span class="fl f_c_333">认证资料</span>
        </p>
        <div class="pos_rel">
            <div class="order_schedule2">
                <ul class="fs_12px f_c_999">
                    <li class="li_he_25px">
                        <img src="/img/icon_01.png" />
                        <p class="fs_14px f_c_666">提交认证信息</p>
                        <hr style="border-color: #89ca55;width: 50%"/>
                    </li>
                    <li class="li_he_25px">
                        <img src="/img/icon_01.png" />
                        <p class="fs_14px f_c_666">信息审核</p>
                        <hr style="border-color: #89ca55;"/>
                    </li>
                    <li class="li_he_25px">
                        <img src="/img/icon_03.png" />
                        <p class="fs_14px f_c_666">认证成功</p>
                        <hr style="width: 50%;right: 50%"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="data_text_main">
            <img src="img/icon_rz_error.png" class="fl text_main_img" />
            <div class="f_c_666 fl text_main">
                <p class="fs_24px">信息审核未通过！</p>
                <p class="fs_14px li_he_20px">审核意见： 缺少营业执照,缺少组织机构代码证,缺少税务登记证,缺少推荐人<br/>请确认信息后重新提交认证，如有任何疑问请联系客服！</p>
                <span class="fs_12px bg_line_gray" id="backUpdate">返回修改信息</span>
            </div>
        </div>
    </div>
</div>

<div id="page4" class="width_main">
    <div class="orders_content bg_white pos_rel">
        <img src="img/icon_rz_ok2.png" class="icon_rz" />
        <p class="order_con_title border_b coupon_title">
            <span class="fl f_c_333">认证资料</span>
        </p>
        <div class="login_main_content2 pos_rel">
            <ul class="mar_t_25px">
                <div class="register_info_title">公司信息</div>
                <li>
                    <p class="text fs_14px f_c_666"><b class="red">*</b>公司名称：</p><em class="data_value">大家来采购网</em>
                </li>
                <li style="width: 700px;margin-left: 142px;"><p class="text f_clear fs_14px f_c_666"><b class="red">*</b>办公地址：</p>
                    <div class="province fl border" id="Province2">
                        <select id="s_province2" name="s_province" data="true">
                            <option v-for="option in options" v-bind:value="option.region_id">
                                <!--{{ option.region_name }}-->
                                广东
                            </option>
                        </select>
                        <i class="icon_down"></i>
                    </div>
                    <div class="province mar_l_35px fl border" id="City2">
                        <select id="s_city2" name="s_city" data="true">
                            <option v-for="option in options" v-bind:value="option.region_id">
                                <!--{{ option.region_name }}-->
                                深圳
                            </option>
                        </select>
                        <i class="icon_down"></i>
                    </div>
                    <div class="province mar_l_35px fl border" id="Area2">
                        <select id="s_county2" name="s_county" data="true">
                            <option v-for="option in options" v-bind:value="option.region_id">
                                <!--{{ option.region_name }}-->
                                南山
                            </option>
                        </select>
                        <i class="icon_down"></i>
                    </div>
                </li>
                <li><p class="text fs_14px f_c_666"><b class="red">*</b>详细地址：</p><input type="text" id="addr2" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')" />
                    <i class="chose_color fl"></i>
                    <span class="fs_12px f_c_999"></span>
                    <span class="fs_12px red" data="false" style="display: block">必填</span>
                </li>
                <li><p class="text fs_14px f_c_666"><b class="red">*</b>公司座机：</p><input type="text" id="firmNumber2" />
                    <i class="chose_color fl"></i>
                    <span class="fs_12px f_c_999"></span>
                    <span class="fs_12px red" data="false" available="false" style="display: block">必填</span>
                </li>
                <hr class="border_b"/>
            </ul>

            <ul class="mar_t_25px">
                <div class="register_info_title">法人信息</div>
                <li>
                    <p class="text fs_14px f_c_666"><b class="red">*</b>法人姓名：</p><em class="data_value">张三</em>
                </li>
                <li>
                    <p class="text fs_14px f_c_666"><b class="red">*</b>开户银行：</p><em class="data_value">广东深圳南山招商银行</em>
                </li>
                <li>
                    <p class="text fs_14px f_c_666"><b class="red">*</b>对公银行账号：</p><em class="data_value">400880887812355533</em>
                </li>
                <hr class="border_b"/>
            </ul>

            <ul class="mar_t_25px">
                <li><p class="text fs_14px f_c_666"><b class="red">*</b>证件类型 ：</p>
                    <p class="fl certificates border fs_14px f_c_333 border_green" data="true">普通营业执照 <img style="display: block" src="img/chose_color2.png" /></p>
                    <p class="fl certificates border fs_14px f_c_999 mar_l_15px" data="false">多证合一营业执照<img src="img/chose_color2.png" /></p>
                    <i class="chose_color fl"></i>
                </li>
                <div class="register_info_title">营业证明</div>
                <dl class="certificates_imgs">
                    <img class="show_sample Nhide text_ban" src="img/show-sample.png" />
                    <dd>
                        <p class="li_he_40px f_c_333">公司营业执照</p>
                        <div class="upload">
                            <div class="upload_bg2">
                                <img src="" class="images">
                            </div>
                        </div>
                    </dd>
                    <dd class="mar_l_20px">
                        <p class="li_he_40px f_c_333">公司税务登记证</p>
                        <div class="upload">
                            <div class="upload_bg2">
                                <img src="" class="images">
                            </div>
                        </div>
                    </dd>
                    <dd class="mar_t_20px">
                        <p class="li_he_40px f_c_333">法人身份证扫描件</p>
                        <div class="upload">
                            <div class="upload_bg2">
                                <img src="" class="images">
                            </div>
                        </div>
                    </dd>
                    <dd class="mar_l_20px mar_t_20px">
                        <p class="li_he_40px f_c_333">组织结构代码证</p>
                        <div class="upload">
                            <div class="upload_bg2">
                                <img src="" class="images">
                            </div>
                        </div>
                    </dd>
                </dl>
                <br/>
                <p class="now_save fs_16px white bg_light_dd3e3e curP">保存</p>
            </ul>
        </div>
    </div>
</div>

<!-- 弹出窗 -->
<div id="data_mask"></div>

<script type="text/javascript" src="../js/authentication_data.js"></script>