<div class="width_main">
    <div class="orders_content bg_white pos_rel">
        <div id="temp1">
            <div id="myOrderSumTemp">
                <p class="order_con_title border_b">
                <span class="fr f_c_666 fs_14px curP tab">
                    <span class="teb_text mar_l_25px li_he_25px border_b_red">全部订单</span>
                </span>
                <span class="fr f_c_666 fs_14px curP tab">
                    <span class="teb_text mar_l_25px li_he_25px">已取消</span>
                </span>
                <span class="fr f_c_666 fs_14px curP tab">
                    <span class="teb_text mar_l_25px li_he_25px">已完成</span>
                </span>
                <span class="fr f_c_666 fs_14px curP tab">
                    <span class="teb_text mar_l_25px li_he_25px fl">待收货</span>
                    <span class="unread_message fr">{{waitreceive}}</span>
                </span>
                <span class="fr f_c_666 fs_14px curP tab">
                    <span class="teb_text mar_l_25px li_he_25px fl">待付款</span>
                    <span class="unread_message fr">{{waitpay}}</span>
                </span>
                    <span class="fl f_c_333">我的订单</span>
                </p>
            </div>

            <div id="myOrderListTemp" class="myOrderList">
                <div class="order_con_list over_hide border" v-for="order in items" :key="order.order_sn">
                    <ul class="bg_light_red fs_14px">
                        <li>{{order.add_time}}</li><li>{{order.consignee}}</li><li>订单号：<span class="orderNum">{{order.order_sn}}</span></li><li>在线支付</li>
                        <p class="fr">
                            <span class="f_c_333">状态：</span><span class="fs_18px orange status">{{order.status_name}}</span>
                            <span class="mar_l_30px f_c_333">订单金额：</span><span class="fs_18px orange">{{order.total_fee}}</span>
                        </p>
                    </ul>
                    <li class="order_info_list OrderInfo" v-for="goods in order.goods_list">
                        <div class="order_info_img">
                            <img class="fl" v-bind:src="goods.goods_thumb" />
                            <div class="fl li_he_30px mar_t_25px mar_l_10px">
                                <p>{{goods.goods_name}}</p>
                                <p><span>{{goods.goods_price}}</span><span class="mar_l_30px">x{{goods.goods_number}}</span></p>
                            </div>
                            <div class="fl li_he_20px order_info_logistics">
                                <p v-if="order.order_status==3 && goods.status==2" class="fs_14px blue Nhide">已发货</p>
                            </div>
                        </div>
                    </li>
                    <div class="info_input">
                        <div class="fr order_info_input fs_12px">
                            <p v-if="order.order_status==0">去付款</p>
                            <p><c href="temp/mall_orders_info.html">查看详情</c></p>
                            <p v-if="order.order_status==0 || order.order_status==1">取消订单</p>
                            <p v-if="order.order_status==5">售后服务</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Pagination" class="pagination"><!-- 这里显示分页 --></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/mall_orders.js"></script>