
/*========== reset ==========*/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, iframe,hr{margin:0;padding:0;}
body{font:12px/1.6 Tahoma,microsoft yahei,"微软雅黑","宋体";*font-family:"微软雅黑","宋体";}
fieldset, img { border:0; }
address, caption, cite, dfn, em, th, var{font-style:normal;font-weight:normal;}
ol, ul { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
table {border-collapse:collapse;border-spacing:0;}
/*select,input,label,button,textarea{margin:0;padding:0;font:normal normal normal "微软雅黑",arial,Simsun,Arial Unicode MS,Mingliu,Arial;overflow:visible;}*/
input{padding:2px 0 1px;*padding:4px 0 0;_padding:4px 0 0;_height:21px;}

/**
* GRI主题
*/
.gri_contrast {
    float: left;
    margin: 4px 8px 0 8px;
    line-height: 20px;
    color: #666;
    cursor: pointer;
    font: 12px/1.5 Tahoma, Helvetica, 'SimSun', sans-serif;
}


.gri_date {
    margin-left: 10px;
    padding: 0 26px 0 6px;
    width: 165px;
    height: 24px;
    line-height: 20px;
    border: 1px solid #D6D6D6;
    background: #FFF url('../img/icon_date.png') no-repeat 100% 50%;
    cursor: pointer;
    color: #666;
}
.gri_date.active{
    border:1px solid #4da7fd;
    box-shadow:0px 0px 8px #4da7fd
}

.gri_date_month {
    width: 180px
}

.gri_dateRangeCalendar {
    position: absolute;
    display: none;
    background: #FFF;
    border: 1px solid #6FB1DF;
    padding: 10px;
    -moz-box-shadow: 0px 1px 3px #6FB1DF;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 5, Direction = 135, Color = "#CCCCCC");
    font: 12px/1.5 Tahoma, Helvetica, 'SimSun', sans-serif;
}

.gri_dateRangeCalendar a {
    color: #369;
}

.gri_dateRangePicker {
    border: none;
}

.gri_dateRangePicker td{
    border: none;
}

.gri_dateRangeOptions input.gri_dateRangeInput {
    width: 80px;
    text-align: center;
    border: 1px solid #DDD;
}

.gri_dateRangeOptions div.gri_dateRangeInput {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.gri_dateRangePreMonth {
    float: left;
    width: 15px;
    height: 17px;
    background: url('../img/page.png') no-repeat 0 0;
    overflow: hidden;
}

.gri_dateRangeNextMonth {
    float: right;
    width: 15px;
    height: 17px;
    background: url('../img/page.png') no-repeat -15px 0;
    overflow: hidden;
}

.gri_dateRangePreMonth span, .gri_dateRangeNextMonth span {
    display: none;
}

.gri_dateRangeDateTable {
    margin: 0 10px 0 0px;
    padding: 0px;
    /*float: left;*/
    empty-cells: show;
    border-collapse: collapse;
    display: inline;
    font-size: 12px;
    border: none;
}

.gri_dateRangeDateTable td {
    border: 1px solid #EEE;
    text-align: right;
    cursor: pointer;
    padding: 1px 2px;
    height: 16px;
}

.gri_dateRangeDateTable th {
    border-top: 1px solid #DEE6F6;
    border-left: 1px solid #DEE6F6;
    background: #E0E8F7;
    font-weight: 400;
    border-left: 1px solid #DDD;
}

.gri_dateRangeDateTable td.gri_dateRangeGray {
    color: #BBB;
    cursor: default;
}

.gri_dateRangeDateTable td.gri_dateRangeToday {
    color: #F90;
    font-weight: bold;
}

.gri_dateRangeSelected {
    background-color: #007CD9;
    color: #FFF;
}

.gri_dateRangeCompare {
    background-color: #B9E078;
    color: #FFF;
}

.gri_dateRangeCoincide {
    background-color: #FFFFC4;
}

.gri_co {
    border: 1px solid #999999;
    box-shadow: 0 1px 0 #E5E5E5;
    cursor: pointer;
    font-family: Tahoma, 'Microsoft Yahei', 'Simsun';
    font-size: 12px;
    height: 21px;
    overflow: hidden;
    vertical-align: middle
}

.cf:after {
    clear: both;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

