<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>进货单_大家来采购网</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="../lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/settlement.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../css/purchase_orders.css"/>-->

    <link rel="stylesheet" href="/lib/css/swiper.min.css">
    <script type="text/javascript" src="/lib/js/vue.js"></script>
    <script type="text/javascript" src="/lib/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/lib/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="/lib/js/common.js"></script>

    <style type="text/css">
        .mask_main .mask_input{
            margin-left: -102px;
        }
    </style>
</head>
<body id="ccc">
    <!-- 头部 -->
    <div id="titleTemp_main"></div>
    <div id="titleTemp2_main"></div>
    <div class="login_main_title bg_white f_c_666 fs_18px">
        <div class="width_main">
            <a href="/main.html"><img class="fl mar_t_25px" src="../img/logo.png" /></a>
            <p class="fl pfirst">积分商城</p>
        </div>
    </div>

    <!--展示-->
    <div class="border_t2">
        <div class="width_main pos_rel">

        </div>
    </div>

    <!-- ziji -->
    <section class="width_main shopping_addr content" id="shopping_addr">
        <div class="addr_title">收货地址</div>
        <div class="addr_content">
            <ul class="addr_more" id="addrs_template">
                <li  class="addr_list orders_card_main orders_card2" v-bind:id="'list_'+addr.address_id"  v-for="addr in address_list" v-cloak>
                    <span v-cloak v-on:click="toggleCard(addr)" data="true" class="buyers_name toggle_card border head">{{addr.consignee}}<img src="img/trueicon.png"></span>
                    <i class="buyers_tel">{{addr.tel}} {{addr.mobile}}</i>
                    <b class="buyers_addr">
                        {{addr.province_name}} {{addr.city_name}} {{addr.district_name}} {{addr.address}}
                    </b>
                    <em class="buyers_action">
                        <a class="amend" v-on:click="update(addr)" v-cloak>修改</a>
                        <a class="del" v-on:click="remove(addr.address_id)" v-cloak>删除</a>
                    </em>
                </li>
            </ul>
        </div>
        <button class="addr_item_other" id="more_other" >更多地址</button>
        <div class="new_add_addr upload_bg">
            <span>+</span>新增收货地址
        </div>
    </section>

    <!--购物车-->
    <div class="content width_main "><div class="bg_white">
        <ul class="allSelect over_hide">
            <li style="width: 125px;" class="allSelect_input"><input id="allSelect" type="checkbox"/><div class="copy_input fl"><img src="img/icon_ok.png" /></div><span class="mar_l_10px">全部</span></li>
            <li style="width: 370px;">商品信息</li>
            <li style="width: 220px;">数量</li>
            <!--<li style="width: 100px;">单位</li>-->
            <li style="width: 140px;">单价</li>
            <li style="width: 135px;">小计<span class="money hide">0</span></li>
            <li style="width: 100px;">操作</li>
        </ul>

        <ul id="list_template" class="over_hide">
            <div id="notData" style="display: none">
                <p class="center" style="height: 200px;line-height: 200px;">您的进货单还是空的，赶快去逛逛吧...</p>
            </div>
            <li class="radioInput pos_rel" v-for="goods in list">
                <div class="coupon_li" style="display:none;" v-show="goods.coupon_val > 0 && goods.coupon_expire_time > 0">
                    <i class="coupon_icon"></i>&nbsp;&nbsp;&nbsp;<span class="red">每{{goods.unit}}减<span v-cloak>{{goods.coupon_val}}</span>元，可重复使用</span>
                    <span class="green fr">已减<span v-cloak v-bind:id="'sub_coupon_'+goods.rec_id">{{goods.sub_coupon_total}}</span>元</span>
                </div>
                <div class="coupon_li" style="display: none" v-show="goods.coupon_expire_time < 0">
                    <i class="coupon_icon"></i>&nbsp;&nbsp;&nbsp;<span class="f_c_999">每{{goods.unit}}减<span v-cloak>{{goods.coupon_val}}</span>元，可重复使用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(已过期)</span>&nbsp;&nbsp;<u class="yellow curP fr" @click="toInfo(goods.goods_id)">重新领取 ></u>
                </div>

                <ol style="width: 125px;"><input class="classInput" type="checkbox" :value="goods.rec_id" v-model="goods.selected"/><div class="copy_input" style="top:67px;left:53px;"><img src="img/icon_ok.png" /></div></ol>
                <ol style="width: 370px;">
                    <div class="text_center">
                        <div class="tab_img fl curP mar_t_40px" @click="toInfo(goods.goods_id)">
                            <img v-bind:src="goods.goods_thumb" />
                        </div>
                        <div class="fl mar_l_10px mar_t_40px" @click="toInfo(goods.goods_id)">
                            <p class="fs_14px f_c_333 li_he_20px mar_t_5px" style="width: 233px">
                                <img v-if="goods.watermark_img != ''" :src="goods.watermark_img" style="width: 20px;" />
                                <span class="curP" v-cloak>{{goods.goods_name}}</span>
                         
                            </p>
                            <p class="fs_12px blue li_he_20px" v-cloak>{{goods.goods_attr}}</p>
                        </div>
                    </div>
                </ol>
                <ol style="width: 220px;">
                    <div class="content_amount mar_t_40px">
                        <span class="max_cont hide">{{goods.max_number}}</span>
                        <span class="min_cont hide">{{goods.min_number}}</span>
                        <span class="amount_min fl">-</span>
                        <span class="amount_num fl"><span v-cloak>{{goods.goods_number}}</span></span>
                        <span class="amount_max fl">+</span>
                    </div>
                </ol>
                <ol style="width: 100px;"><span v-cloak>{{goods.unit}}</span></ol>
                <ol style="width: 140px;"><span class="money2" v-cloak>{{goods.goods_price}}</span>积分</ol>
                <ol style="width: 135px;" class="yellow"><span class="money"  v-bind:id="'subtotal_'+goods.rec_id" v-cloak>{{goods.subtotal}}</span></ol>
                <ol style="width: 100px;"><span class="curP del" v-on:click="remove(goods)">删除</span></ol>
            </li>
        </ul>
    </div></div>
    <section class="warm_prompt width_main bg_white" id="order_sum_template">
        <div class="prom_main">
            <div class="prom_title">温馨提示</div>
            <div class="prom_info">此礼品已经包含物流费用，您在签收礼品的时候无须再支付其它费用</div>
        </div>
        <article class="confirm_info orders_and_address">
            <div class="con_addr">
                <p>{{selected_addr.consignee}}  {{selected_addr.mobile}}</p>
                <span>
                        {{selected_addr.province_name}} {{selected_addr.city_name}}
                        {{selected_addr.district_name}} {{selected_addr.address}}
                    </span>
                <a class="con_amend"  v-on:click="update(selected_addr)">修改</a>
            </div>
            <div class="total_pri">
                <p>礼品件数：<span id="number"> 0 </span>件</p>
                <p>共需积分：<span id="Amount"> 0.00 </span></p>
            </div>
            <span id="bupInput1" class="btn_sub fl fs_18px fr mar_l_30px white bg_gray go_buy" style="display: none">提交</span>
            <button class="btn_sub submit_order" id="bupInput2"  v-on:click="submitOrder">提交</button>
        </article>
    </section>


    <!--  弹出窗 -->
    <div id="orders_mask">
    </div>

    <!--  弹出窗 -->

    <div id="del_orders_mask"></div>

    <div id="del_orders_masks"></div>

    <!--  弹出窗 -->
    <div id="orders_submit"></div>

    <!-- 添加地址 -->
    <div class="Nhide" id="orders_mask_con">
        <ul class="change_address fs_12px">
            <li style="margin-top:15px;">
                <p class="fl"><b class="red">*</b>收货人：</p><input class="height_30px"  style="border:1px solid #dfdfdf;" id="input1" maxlength="20"/><span class="red mar_l_10px ErrorText" data="false" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')">请填写收货人</span>
            </li>
            <li>
                <p class="fl"><b class="red">&nbsp;</b>公司名称：</p><input class="height_30px" maxlength="20"style="width:260px; border:1px solid #dfdfdf;"/>
            </li>
            <li>
                <p class="fl"><b class="red">*</b>手机：</p><input style="border:1px solid #dfdfdf;"   class="height_30px  fl" id="phoneNumber" maxlength="11"/><p class="fl mar_l_20px">固定电话：</p><input class="height_30px" id="tel" type="text" style="border:1px solid #dfdfdf;"/><span class="red mar_l_5px ErrorText"  data="false">请填写正确手机号码</span>
            </li>
            <li>
                <p class="fl"><b class="red">*</b>省市：</p>
                <div class="province fl border" id="Province">
                    <select id="s_province" name="s_province" data="true">
                        <option v-for="option in options" v-bind:value="option.region_id" v-cloak>
                            {{ option.region_name }}
                        </option>
                    </select>
                    <i class="icon_down"></i>
                </div>
                <div class="province mar_l_35px fl border" id="City">
                    <select id="s_city" name="s_city" data="true">
                        <option v-for="option in options" v-bind:value="option.region_id" v-cloak>
                            {{ option.region_name }}
                        </option>
                    </select>
                    <i class="icon_down"></i>
                </div>
                <div class="province mar_l_35px fl border" id="Area">
                    <select id="s_county" name="s_county" data="true">
                        <option v-for="option in options" v-bind:value="option.region_id" v-cloak>
                            {{ option.region_name }}
                        </option>
                    </select>
                    <i class="icon_down"></i>
                </div>
            </li>
            <li>
                <p class="fl"><b class="red">*</b>详细地址：</p><input class="height_30px"  style="border:1px solid #dfdfdf;" maxlength="30" style="width: 260px" /><span class="red mar_l_10px ErrorText" data="false">请填写详细地址</span>
            </li>
            <!--<li>-->
            <!--<p class="fl">邮箱：</p><input class="height_30px" type="text"/> <span class="mar_l_10px">用来接收订单提醒邮件，便于您及时了解订单状态</span>-->
            <!--</li>-->
            <li>
                <p class="fl">&nbsp;</p>
                <input type="checkbox"   :value='list.is_default' v-model="list.is_default"  class="checks"/><span class="mar_l_10px">设为默认收货地址</span>
            </li>
        </ul>
    </div>

    <!-- 更新地址 -->
    <div class="Nhide" id="update_Address">
        <ul class="change_address fs_12px">
            <div id="dataUpdate">
                <li style="margin-top:15px;">
                    <p class="fl"><b class="red">*</b>收货人：</p><input class="height_30px"   style="border:1px solid #dfdfdf;"   :value="list.consignee" id="input1" maxlength="20"/><span class="red mar_l_10px ErrorText" data="true" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')">请填写收货人</span>
                </li>
                <li>
                    <p class="fl">公司名称：</p><input class="height_30px"  :value="list.address_name" maxlength="20" style="width:260px;border:1px solid #dfdfdf;"/>
                </li>
                <li>
                    <p class="fl"><b class="red">*</b>手机：</p><input class="height_30px fl"  style="border:1px solid #dfdfdf;"  :value="list.mobile" id="phoneNumber" maxlength="11"/><p class="fl mar_l_20px">固定电话：</p><input class="height_30px"  style="border:1px solid #dfdfdf;"  :value="list.tel" id="tel" type="text"/><span class="red mar_l_10px ErrorText" data="true">请填写正确的手机号码</span>
                </li>
            </div>
            <li>
                <p class="fl"><b class="red">*</b>省市：</p>
                <div class="province fl border" id="Province">
                    <select id="s_province" name="s_province" data="true">
                        <option v-for="option in options" v-bind:value="option.region_id" v-cloak>
                            {{ option.region_name }}
                        </option>
                    </select>
                    <i class="icon_down"></i>
                </div>
                <div class="province mar_l_35px fl border" id="City">
                    <select id="s_city" name="s_city" data="true">
                        <option v-for="option in options" v-bind:value="option.region_id" v-cloak>
                            {{ option.region_name }}
                        </option>
                    </select>
                    <i class="icon_down"></i>
                </div>
                <div class="province mar_l_35px fl border" id="Area">
                    <select id="s_county" name="s_county" data="true">
                        <option v-for="option in options" v-bind:value="option.region_id" v-cloak>
                            {{ option.region_name }}
                        </option>
                    </select>
                    <i class="icon_down"></i>
                </div>
            </li>
            <div id="dataUpdate2">
                <li>
                    <p class="fl"><b class="red">*</b>详细地址：</p><input class="height_30px"   style="border:1px solid #dfdfdf;"  :value="list.address" maxlength="30" style="width: 260px" /><span class="red mar_l_10px ErrorText" data="true">请填写详细地址</span>
                </li>
                <!--<li>-->
                <!--<p class="fl">邮箱：</p><input class="height_30px" :value="list.email" type="text"/> <span class="mar_l_10px">用来接收订单提醒邮件，便于您及时了解订单状态</span>-->
                <!--</li>-->
                <li>
                    <p class="fl">&nbsp;</p>
                    <input type="checkbox" :value='list.is_default' v-model="list.is_default" class="mar_t_10px checks"/><span class="mar_l_10px mar_t_10px">设为默认收货地址</span>
                </li>
            </div>
        </ul>
    </div>


    <!-- 底部 -->
    <div id="bottomTemp_main"></div>


    <script type="text/javascript" src="../lib/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../lib/js/common.js"></script>
    <script type="text/javascript" src="../lib/js/global.js"></script>
    <script type="text/javascript" src="../lib/js/vue.js" ></script>
    <!--<script type="text/javascript" src="../js/purchase_orders.js"></script>-->
    <script type="text/javascript" src="js/settlement.js"></script>
    <script type="text/javascript">
        orders_two_init();
        orders_one_init();
    </script>
</body>
</html>