.title_menu_img {
    width: 915px;
    height: 260px;
    padding: 10px;
}
.integral_swiper{
    width: 100%;
    height: 260px;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-button-prev {
    left: 0 !important;
}
.swiper-button-next {
    right: 0 !important;
}
.swiper-button-next, .swiper-button-prev {
    padding: 5px;
    background: rgba(0, 0, 0, .4);
    background-size: 15px 30px !important;
    right: 0 !important;
}
.pagination1{
    position: absolute;
    left: 0;
    display: block;
    margin-top: 0;
}
.pagination1 span {
    display: inline-block;
    padding: 0;
    margin: 0 3px;
}
.menu_login {
    position: absolute;
    top: 0;
    right: 0;
    width: 255px;
    height: 260px;
    margin-top: 10px;
}
.menu_login_title {
    height: 106px;
    background: url("../../img/login_bg.png") no-repeat;
}
.menu_login_login{
    margin-top: 20px;
    padding-bottom: 30px;
}
.menu_btn {
    width: 127.5px;
    margin: 0 auto;
    margin-top: 30px;
    background: #dc2323;
    padding: 5px 0;
    border: 2px solid #dc2323;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.menu_btn a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}
.menu_login_integral{
    padding-top: 15px;
    height: 245px;
}
.menu_login_integral .login_img {
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-left: 15px;
}
.login_title2_text {
    width: 60%;
    line-height: 23px;
    margin-top: 25px;
    margin-left: 10px;
}
.my_integral{
    margin-top: 15px;
    background: url(../img/my_integral.png) no-repeat;
    background-position: 20px 7px;
    width: 146px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding-left: 20px;
}
.my_orders{
    background-position: 20px 7px;
    border: none;
    margin-left: 0;
    height: 35px;
    line-height: 35px;
}
.unread_message2 {
    margin-top: -3px;
}
.integral_product{
    width: 915px;
    padding: 10px;
}
.integral_product_title{
    padding-top: 10px;
    padding-bottom: 6px;
    height: 30px;
    line-height: 30px;
}
.integral_product_title ul li {
    cursor: pointer;
    width: 58px;
    margin:0 13px;
    text-align: center;
}
.integral_product_title ul li:hover{
    color: #c43737;
}
.xq_move {
    height: 3px;
    left: 13px;
    width: 58px;
    bottom: -6px;
    background: #EB5151;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    position: absolute;
}
.integral_product_title .fr select {
    height: 30px;
    line-height: 30px;
    border: #ccc solid 1px;
    background: #fff;
    font-size: 14px;
}
.menu_bottom_line1 {
    position: relative;
    bottom: 0;
    background: -webkit-linear-gradient(left, #df1f1f , #ff943e );
    background: -o-linear-gradient(left, #df1f1f , #ff943e );
    background: -moz-linear-gradient(left, #df1f1f , #ff943e );
    background: linear-gradient(left, #df1f1f , #ff943e );
    width: 100%;
    height: 2px;
}
.integral_product_input{
    margin-left: 20px;
    height: 30px;
}
.integral_product_input input {
    width: 200px;
    height: 28px;
    border: 1px solid #dfdfdf;
    padding: 0 10px 0px 10px;
}
.integral_product_input span {
    background-image: url(../../img/icon-search.png);
    background-repeat: no-repeat;
    background-position: 50%;
    display: block;
    width: 53px;
    height: 45px;
    margin-top: 1px;
    border-left: transparent;
}
.integral_product_list{
    margin-left: -15px;
    padding-top: 15px;
    overflow: hidden;
}
.integral_product_list li{
    width: 217.5px;
    height: 317px;
    float: left;
    background: #FFFFFF;
    border: 1px solid #f2f2f2;
    padding: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.shadow_5px {
    transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    box-shadow: 0px 10px 35px #dbdbdb;
    -o-box-shadow: 0px 10px 35px #dbdbdb;
    -moz-box-shadow: 0px 10px 35px #dbdbdb;
    -webkit-box-shadow: 0px 10px 35px #dbdbdb;
}
.rem_shadow_5px {
    transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    box-shadow: 0px 0px 0px #FFF;
    -o-box-shadow: 0px 0px 0px #FFF;
    -moz-box-shadow: 0px 0px 0px #FFF;
    -webkit-box-shadow: 0px 0px 0px #FFF;
}
.rec_list_img2 {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 190px;
}
.rec_text1{
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.integral_product_list li:hover .rec_text1{
    color: #c43737 !important;
}
.rec_text3 {
    text-align: left;
}
.recommend_products {
    width: 255px;
}
.recommend_title {
    margin-top: 10px;
    padding: 12px 0 13px 15px;
    background: #fff;
}
.recommend_list li:first-child {
    border-top: 2px solid #c43737;
}
.recommend_list li {
    width: 255px;
    background: #FFF;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;
}

.recommend_list li img {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.recommend_list li .items_name:hover{
    color: #c43737 !important;
}
.recommend_list li a:hover{
    color: #c43737;
}

