@import "../../css/purchase_orders.css";
.hidden {
  overflow: hidden;
}
.por {
  position: relative;
}
.poa {
  position: absolute;
}
.pof {
  position: fixed;
}
.all {
  overflow: hidden;
  position: relative;
  height: auto;
}
.flexbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.flex {
  flex: 2;
}
.flex:nth-of-type(1) {
  flex: 1;
}
.flex:nth-of-type(2) {
  flex: 6;
}
.flex:nth-of-type(3) {
  flex: 3;
}
/*************************************************************分割线**************************************************************/
/*************************************************************主   体**************************************************************/
.shopping_addr {
  margin-bottom: 30px;
}
.shopping_addr > button {
  height: 46px;
  line-height: 46px;
}
.shopping_addr .addr_content .addr_more .addr_list {
  position: relative;
  line-height: 46px;
  width: 1190px;
}
.shopping_addr .addr_content .addr_more .addr_list .buyers_name,
.shopping_addr .addr_content .addr_more .addr_list .buyers_tel,
.shopping_addr .addr_content .addr_more .addr_list .buyers_addr,
.shopping_addr .addr_content .addr_more .addr_list .buyers_action {
  margin-right: 13px;
  cursor: pointer;
  display: inline-block;
  float: left;
}
.shopping_addr .addr_content .addr_more .addr_list .buyers_name {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  min-width: 75px;
  height: 32px;
  line-height: 32px;
  margin-top: 7px;
  text-align: center;
}
.shopping_addr .addr_content .addr_more .addr_list .buyers_name img {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.shopping_addr .addr_content .addr_more .addr_list .buyers_tel {
  color: #999;
  display: inline-block;
  line-height: 46px;
}
.shopping_addr .addr_content .addr_more .addr_list .buyers_addr {
  color: #999;
  font-weight: 100;
  display: inline-block;
  line-height: 46px;
}
.shopping_addr .addr_content .addr_more .addr_list .buyers_action {
  color: #666666;
  float: right;
  margin-right: 130px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.shopping_addr .addr_content .addr_more .addr_list .buyers_action .amend {
  position: relative;
  width: 65px;
  display: inline-block;
  line-height: 46px;
}
.shopping_addr .addr_content .addr_more .addr_list .buyers_action .amend:after {
  content: "";
  width: 2px;
  height: 20px;
  background-color: #dadada;
  position: absolute;
  right: 0;
  top: 13px;
}
.shopping_addr .addr_content .addr_more .addr_list .buyers_action .del {
  display: inline-block;
  width: 65px;
}
.shopping_addr .addr_content .addr_more .addr_show {
  position: relative;
  overflow: hidden;
  color: #676767;
  font-size: 14px;
}
.shopping_addr .addr_item_other {
  background-color: transparent;
  width: 1190px;
  text-align: left;
}
.shopping_addr .new_add_addr {
  color: #666666;
  font-size: 14px;
  cursor: pointer;
}
.shopping_addr .new_add_addr span {
  width: 77px;
  height: 34px;
  line-height: 30px;
  text-align: center;
  font-size: 26px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  margin-right: 11px;
}
.djl_cart {
  overflow: hidden;
  position: relative;
  height: auto;
}
.djl_cart .cart_main .cart_head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 42px;
  border-bottom: 2px solid #eaeaea;
}
.djl_cart .cart_main .cart_head .column {
  flex: 2;
  display: inline-block;
  text-align: center;
}
.djl_cart .cart_main .cart_head .column:nth-of-type(1) {
  flex: 1;
}
.djl_cart .cart_main .cart_head .column:nth-of-type(2) {
  flex: 6;
}
.djl_cart .cart_main .cart_head .column:nth-of-type(3) {
  flex: 3;
}
.djl_cart .cart_main .cart_list .item_msg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.djl_cart .cart_main .cart_list .item_msg .c_cell:not(.c_goods) {
  line-height: 65px;
}
.djl_cart .cart_main .cart_list .item_msg .c_cell {
  cursor: pointer;
  flex: 2;
  display: inline-block;
  text-align: center;
  padding: 25px 0;
}
.djl_cart .cart_main .cart_list .item_msg .c_cell:nth-of-type(1) {
  flex: 1;
}
.djl_cart .cart_main .cart_list .item_msg .c_cell:nth-of-type(2) {
  flex: 6;
}
.djl_cart .cart_main .cart_list .item_msg .c_cell:nth-of-type(3) {
  flex: 3;
}
.djl_cart .cart_main .cart_list .item_msg .c_goods {
  position: relative;
  overflow: hidden;
}
.djl_cart .cart_main .cart_list .item_msg .c_goods .goodsimg {
  width: 25%;
  float: left;
  display: inline-block;
  margin: 0 3%;
}
.djl_cart .cart_main .cart_list .item_msg .c_goods .goodsimg img {
  width: 100%;
}
.djl_cart .cart_main .cart_list .item_msg .c_goods .goodstxt {
  width: 65%;
  display: -webkit-box;
  text-align: left;
}
.djl_cart .cart_main .cart_list .item_msg .c_num {
  padding-top: 3.5%;
  overflow: hidden;
  position: relative;
  height: auto;
}
.djl_cart .cart_main .cart_list .item_msg .c_num label {
  cursor: pointer;
  border: 1px solid #cacbcb;
  height: 30px;
  line-height: 30px;
  padding: 1px 0;
  width: 30px;
  text-align: center;
  color: #666;
  margin: 0;
  background: #fff;
  display: inline-table;
  float: left;
}
.djl_cart .cart_main .cart_list .item_msg .c_num label:nth-of-type(1) {
  border-right: 0;
  margin-left: 22%;
}
.djl_cart .cart_main .cart_list .item_msg .c_num label:nth-of-type(2) {
  border-left: 0;
}
.djl_cart .cart_main .cart_list .item_msg .c_num .inp_pri {
  width: 64px;
  height: 30px;
  text-align: center;
  padding: 1px;
  margin: 0;
  font-family: verdana;
  color: #333;
  -webkit-appearance: none;
  border: 1px solid #cacbcb;
  font-size: 12px;
  float: left;
}
.djl_cart .cart_main .cart_list .item_msg .c-small_pri {
  color: #dd6212;
}
.djl_cart .cart_main .cart_list .item_msg .c_action {
  font-size: 14px;
}
.djl_cart .cart_main .note-info {
  height: 56px;
  background-color: #fdfafa;
  border: 1px solid #e5e5e5;
  text-indent: 56px;
  line-height: 48px;
  font-size: 14px;
}
.warm_prompt {
  overflow: hidden;
  position: relative;
  height: auto;
  margin-top: 16px;
}
.warm_prompt .prom_main {
  overflow: hidden;
  position: relative;
  height: auto;
  margin-left: 28px;
  padding-left: 50px;
  border-bottom: 1px solid #e8e8e8;
}
.warm_prompt .prom_main .prom_title {
  overflow: hidden;
  position: relative;
  height: auto;
  line-height: 50px;
  color: #dc3030;
}
.warm_prompt .prom_main .prom_info {
  text-indent: 20px;
  padding-bottom: 90px;
  font-size: 14px;
}
.warm_prompt .confirm_info {
  overflow: hidden;
  position: relative;
  height: auto;
  padding: 28px;
}
.warm_prompt .confirm_info .con_addr {
  display: inline-block;
  width: 70%;
  font-size: 14px;
}
.warm_prompt .confirm_info .con_addr .con_amend {
  color: #e85656;
  cursor: pointer;
}
.warm_prompt .confirm_info .total_pri {
  display: inline-block;
  font-size: 14px;
}
.warm_prompt .confirm_info .total_pri p span {
  color: #e85656;
}
.warm_prompt .confirm_info .btn_sub {
  width: 166px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 14px !important;
  float: right;
  background-color: #e85656;
  color: #fff;
}
