<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--#include virtual="/lib/temp/pageMeta.html" -->
		<title>账号管理_大家来采购网</title>
		<!--#include file="temp/head.html" -->
	</head>
	<body>
		<!--#include file="temp/top.html" -->
		<div class="body">
			<div class="main clearfix">
				<div class="content-header">
					<div class="title-bar">
						<h3>账号管理</h3>
					</div>
				</div>
				<div class="personal">
					<div class="title">
						<h3>我的个人信息</h3>
					</div>
					<div class="personal-main clearfix" id="user_info">
						<div class="personal-left fL">
							<img :src="info.image" class="fL" alt=""/>
							<p>登录账号：<span v-cloak>{{info.user_name}}</span></p>
							<p>渠道等级：<span v-cloak>{{info.dt_grade}}</span></p>
							<div class="p clearfix">
								<span class="fL" v-cloak >所属网点：{{info.parent_name}}</span>
								<!--<div class="show fL">-->
									<!--<span v-on:click="switchParent()">更改上级</span>-->
									<!--<div class="hide Nhide">-->
										<!--<div class="scroll-hide">-->
											<!--<h5>请选择你要更改的上级</h5>-->
											<!--<ul>-->
												<!--<li class="clearfix active" v-for="item in dtList">-->
													<!--<span class="fL" v-cloak>{{item.company_name}}</span><em class="fL" v-cloak>{{item.dt_grade}}</em><input type="button" class="btn fR Nhide" v-on:click="saveParent(item.user_id)" value="确定"/>-->
												<!--</li>-->
											<!--</ul>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							</div>
							<p>管理员：<span v-cloak>{{info.real_name}}</span><span v-cloak>{{info.email}}</span><span v-cloak>{{info.mobile_phone}}</span></p>
						</div>
						<div class="personal-right fL">
							<p>公司名称: <span v-cloak>{{info.company_name}}</span></p>
							<p>公司地址：<span v-cloak>{{info.address}}</span></p>
							<p>公司总机：<span v-cloak>{{info.office_phone}}</span></p>
						</div>
					</div>
					<div class="text-rt">
						<a href="/center/basic_data.html?infoid=5" target="_blank">修改个人信息</a><span>|</span><a href="/center/authentication_data.html?infoid=6" target="_blank">修改公司信息</a>
					</div>
				</div>
				<div class="promptbox">
					<p>请确认您的企业基本信息正确，以便用户咨询。如有人员变动或离职，请及时更新！</p>
				</div>
				<div class="content-bottom" id="personnel_list">
					<div class="rpt-filter clearfix">
						<div id="tabs" class="tabs fL">
							<ul class="clearfix">
								<li class="fL selected">
									<a href="javascript:void(0);">基本信息</a>
								</li>
								<li class="fL">
									<a href="javascript:void(0);">业务员信息</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="table personnel text-ct account-item1">
						<div class="personnel-top">
							<table>
								<tbody>
								<tr>
									<th width="10%">职务</th>
									<th width="20%">姓名</th>
									<th width="20%">电话</th>
									<th width="20%">手机</th>
									<th width="20%">Email</th>
								</tr>
								<tr v-for="item in personnel1_list">
									<td v-cloak>{{item.position}}</td>
									<td><input type="text" v-model="item.name"/></td>
									<td><input type="text" v-model="item.phone"/></td>
									<td><input type="text" v-model="item.mobile"/></td>
									<td><input type="text" v-model="item.email"/></td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="personnel-bottom">
							<table>
								<tbody>
								<tr>
									<th width="9%">产品负责人</th>
									<th width="10%">职务</th>
									<th width="20%">姓名</th>
									<th width="20%">电话</th>
									<th width="20%">手机</th>
									<th width="20%">Email</th>
								</tr>
								<tr v-for="item in personnel2_list">
									<td v-cloak>{{item.product_role}}</td>
									<td><input type="text" v-model="item.position"/></td>
									<td><input type="text" v-model="item.name"/></td>
									<td><input type="text" v-model="item.phone"/></td>
									<td><input type="text" v-model="item.mobile"/></td>
									<td><input type="text" v-model="item.email"/></td>
								</tr>
								</tbody>
							</table>
						</div>
						<input type="button" class="btn" value="保存" v-on:click="save_personnel()"/>
					</div>
					<div id="account-item2" class="table account-item2">
						<div class="search">
							<button class="btn" v-on:click="add_business_personnel()">增加业务员</button>
							<button class="btn active" v-on:click="remove_business_personnel()" disabled>删除业务员</button>
						</div>
						<table>
							<tr>
								<th width="5%">
									<lable>
										<input type="checkbox" id="personnel_checkall"/>
									</lable>
								</th>
								<th width="19%">职务</th>
								<th width="19%">姓名</th>
								<th width="19%">电话</th>
								<th width="19%">手机</th>
								<th width="19%">Email</th>
							</tr>
							<tr v-for="item in personnel3_list">
								<td>
									<lable>
										<input type="checkbox" id="one" :value="item.distributor_personnel_id" name="distributor_personnel_id" onclick="distributor_lable(this)"/>
									</lable>
								</td>
								<td><input type="text" v-model="item.position"/></td>
								<td><input type="text" v-model="item.name"/></td>
								<td><input type="text" v-model="item.phone"/></td>
								<td><input type="text" v-model="item.mobile"/></td>
								<td><input type="text" v-model="item.email"/></td>
							</tr>
						</table>
						<div class="text-ct btn-footer">
							<input type="button" class="btn" v-on:click="save_business_personnel()" value="保存" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/dt/js/com.js"></script>
		<script type="text/javascript" src="js/account.js"></script>
		<script type="text/javascript">
			tabHeader("account");
		</script>
	</body>
</html>
