<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--#include virtual="/lib/temp/pageMeta.html" -->
		<title>渠道详情_大家来采购网</title>
		<!--#include file="temp/head.html" -->
	</head>
	<body>
		<!--#include file="temp/top.html" -->
		<div class="body">
			<!--#include file="temp/left.html" -->
			<div class="main distributor-main clearfix">
				<div class="content-header distributor-content-header">
					<div class="title-bar clearfix">
						<h3 class="fL">渠道资料</h3>
					</div>
				</div>
				<div class="content-bottom" id="dt_info">
					<div class="content-bottom-top">
						<div class="title clearfix">
							<h4 class="fL">基本信息</h4>
							<a href="distributor.html" class="fR">返回</a>
						</div>
						<ul class="clearfix">
							<li class="fL">
								<p>会员名称：<span v-cloak>{{user_name}}</span></p>
								<p>渠道类型：<span v-cloak>{{relationship_name}}</span></p>
								<p>渠道等级：<span v-cloak>{{grade}}</span></p>
							</li>
							<li class="fL">
								<p>总销售额：<span v-cloak>{{switch_sales}}</span></p>
								<p>注册日期：<span v-cloak>{{switch_date}}</span></p>
							</li>
							<li class="fL">
								<p>公司名称：<span v-cloak>{{company_name}}</span></p>
								<p>公司座机：<span v-cloak>{{office_phone}}</span></p>
							</li>
						</ul>
					</div>
					<div class="content-bottom-center">
						<div class="title">
							<h4>公司人员信息</h4>
						</div>
						<div class="personnel" id="personnel_list">
							<div class="personnel-top">
								<table>
									<tbody>
									<tr>
										<th width="10%">职务</th>
										<th width="20%">姓名</th>
										<th width="20%">电话</th>
										<th width="20%">手机</th>
										<th width="20%">Email</th>
									</tr>
									<tr v-for="item in personnel1_list">
										<td v-cloak>{{item.position}}</td>
										<td v-cloak>{{item.name}}</td>
										<td v-cloak>{{item.phone}}</td>
										<td v-cloak>{{item.mobile}}</td>
										<td v-cloak>{{item.email}}</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="personnel-bottom">
								<table>
									<tbody>
									<tr>
										<th width="9%">产品负责人</th>
										<th width="10%">职务</th>
										<th width="20%">姓名</th>
										<th width="20%">电话</th>
										<th width="20%">手机</th>
										<th width="20%">Email</th>
									</tr>
									<tr v-for="item in personnel2_list">
										<td v-cloak>{{item.product_role}}</td>
										<td v-cloak>{{item.position}}</td>
										<td v-cloak>{{item.name}}</td>
										<td v-cloak>{{item.phone}}</td>
										<td v-cloak>{{item.mobile}}</td>
										<td v-cloak>{{item.email}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="content-bottom-bottom" v-if="relationship=='direct'">
						<div class="title">
							<h4>第三方合作商</h4>
						</div>
						<table>
							<tbody>
							<tr>
								<th width="4%">编号</th>
								<th width="8%">会员名称</th>
								<th width="16%">公司名称</th>
								<th width="14%">公司座机</th>
								<th width="8%">法人代表</th>
								<th width="10%">渠道等级</th>
								<th width="11%">总销售额(元)</th>
								<th width="11%">注册日期</th>
							</tr>
							<tr v-for="(item, index) in children">
								<td v-cloak>{{index+1}}</td>
								<td v-cloak>{{item.user_name}}</td>
								<td v-cloak>{{item.company_name}}</td>
								<td v-cloak>{{item.office_phone}}</td>
								<td v-cloak>{{item.boss_name}}</td>
								<td v-cloak>{{item.dt_grade}}</td>
								<td v-cloak>{{item.dt_switch_sales}}</td>
								<td v-cloak>{{item.dt_switch_date}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/dt/js/com.js"></script>
		<script type="text/javascript" src="js/distributor_detail.js"></script>
		<script type="text/javascript">
			dtAside("distributor_detail");
		</script>
	</body>
</html>