@full: 100%;
@width: 1226px;
@auto: auto;

.w-inner{
  width: @width;
  margin:  0 auto;
}
.height(@auto){
  height: @auto;
}
.por{
  position: relative;
}
.poa{
  position: absolute;
}
.pof{
  position: fixed;
}
.hid{
  overflow: hidden;
}


.sep{
  margin: 0 0.5em;
  color: #424242;
}
//设置不换行出现省略号
.ellipsis{
  .hid;
  .por;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//设置两行出现省略号
.clamp2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
}

//设置容器
.flexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.flexitem{
  //flex: 1;
  flex-grow: 0;
  flex-basis: 1px;
  flex-shrink: 1;
}

.clearfix{
  zoom: 1;
  &:before {
    content: " ";
    display: table;
  }
  &:after{
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
  }
}

.translate(@x:-50%,@y:-50%){
  -webkit-transform: translate(@x,@y);
  -moz-transform: translate(@x,@y);
  -ms-transform: translate(@x,@y);
  -o-transform: translate(@x,@y);
  transform: translate(@x,@y);
}

@21: #212121;
@42: #424242;
@61: #616161;
@75: #757575;

@f5: #f5f5f5;
@b0: #b0b0b0;
@e0: #e0e0e0;
@fa: #fafafa;
@dc: #dcdcdc;

@000: #000;
@333: #333;
@666: #666;
@999: #999;
@fff: #fff;

@ff67: #ff6700;
@00c3: #00c3f5;
@ff00: #ff0036;

@url:"../images/";



//->LESS代码

@selector: box;
@bgImg: "../img";
@property: color;
@name: "珠峰培训";
@var: "name";

.@{selector} {
    width: 100px;
    height: 100px;
    @{property}: #000;
    background: url("@{bgImg}/test.png");

    &:after {
        display: block;
        content: @@var;
    }
}




//->LESS代码   extend用法
.public {
    width: 100px;
    height: 100px;
}

.nav ul {
    &:extend(.public);
    list-style: none;
}




//->LESS代码   计算
.average(@x, @y) {
  @result: ((@x + @y) / 2);
}

div {
  .average(16px, 50px); //"call" the mixin
  padding: @result; //use its "return" value
}




//->LESS代码  loop循环
.generate-columns(5);
.generate-columns(@n, @i: 1, @j: 0) when (@i <= @n) {
  .column-@{i} {
    // width: (@i * 100% / @n);
    left: (@j * 100% / @n);
  }
  .generate-columns(@n, (@i + 1), (@j + 1));
}






//->LESS代码  合并
.mixin() {
  box-shadow+: inset 0 0 10px #555;
}

.myclass {
  .mixin;
  box-shadow+: 0 0 20px black;
}

.mixin2() {
  transform+_: scale(2);
}

.myclass2 {
  .mixin2;
  transform+_: rotate(45deg);
}





//->LESS代码   &用法
.box {
  color: blue;
  &:hover {
    color: green;
  }

  &-top {
    height: 30px;
  }

  &-center {
    height: 500px;
  }

  //->多个&&
  & + &-top {
    color: red;
  }

  & &-top {
    color: grey;
  }

  &&-top {
    color: black;
  }

  &, &-top {
    color: orange;
  }
}




//->LESS代码  引用less但不编译到本less文件或者css文件中
//@import (reference) "public.less";